@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colors Variaveis */
:root {
    --color-box-shadow: #cbcbcb;

    --color-linha: #e0e0e0;

    --color-button1: #ff3877;
    --color-button2: #22bc9d;
    --color-button3: #3b9bdc;
    --color-button4: #f4dd53;

    --color-rua: #5cb74a;
}

.modal {
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 90vw;
    max-width: 1900px;
    height: 80vh;
    max-height: 1000px;
    border: none;
    border-radius: .5rem;
}

.container__buttton {
    position: absolute;
    padding: .5rem .5rem;
    right: 0px;
    top: 0px;
}

.btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all .2s ease-in;
}



.btn:hover {
    color: var(--color-button1);
    transition: all .2s ease-in;
}

.decorative_line {
    position: absolute;
    height: 100%;
    background-color: rgb(212, 212, 212);
    width: 2px;
    margin: auto;
    left: 0px;
    right: 0px;
}

.conteiner__box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left__side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0rem;
    gap: 2rem;
}

.container__logo {
    width: 180px;
    height: 180px;
    /* padding: 1rem; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div__logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(214, 214, 214);
    transition: all .2s ease-in;
}

.div__logo:hover {
    width: 170px;
    height: 170px;
    transition: all .2s ease-in-out;
}

.img_logo_expositor {
    width: 100%;
    height: 100%;
}

.container__h1 h1 {
    font-size: 2rem;
    font-weight: 600;
}


.container__imgs {
    width: 95%;
    height: 50%;
    gap: 15px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.div__img {
    width: calc(33.33% - 10px);
    height: 160px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    bottom: 2rem;
    transition: all .2s ease-in-out;
}

.div__img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.379);
}

.img_produto_expositor {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.right__side {
    width: 50%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
}

.container__sobre {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nome_marca_expositor {
    font-size: 1.6rem;
    font-weight: 500;
}

.title_sobre_expositor {
    font-size: 1.2rem;
    font-weight: 500;
}

.area__text {
    height: 60%;
    overflow: hidden;
}

.descricao_expositor {
    height: 100%;
    min-height: 200px;
    overflow-y: auto;
}

.container__infs {
    margin: 1rem 0rem;
    width: 70%;
    display: flex;
    justify-content: space-between;

}

.title_informacoes {
    font-size: 1.2rem;
    font-weight: 500;
}

.div__categoria {
    width: 150px;
}

.conteiner_links {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.content_link_expositor {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.link_btns_expositor {
    font-size: 1.8rem;
    text-decoration: none;
}

.div__cor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.link_expositor1 {
    background-color: var(--color-button1);
}

.link_expositor2 {
    background-color: var(--color-button2);
}

.link_expositor3 {
    background-color: var(--color-button3);
}

.icon_link_expositor {
    color: white;
}


.conteiner_decorativo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

.decorative__img1 {
    top: 0px;
    left: 0px;
    display: flex;
    align-items: start;
}

.decorative__img2 {
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: end;
}

.img-decoracao2 {
    max-width: 500px;
}

@media screen and (max-width: 1400px) {
    .container__infs {
        width: 100%;
    }

    .div__logo {
        width: 140px;
        height: 140px;
    }

    .div__logo:hover {
        width: 142px;
        height: 142px;
    }
}

@media screen and (max-width: 1100px) {
    .conteiner__box {
        flex-direction: column;
    }


    .div__logo {
        width: 140px;
        height: 140px;
    }

    .div__logo:hover {
        width: 142px;
        height: 142px;
    }

    .decorative__img2 {
        display: none;
    }

    .decorative_line {
        display: none;
    }

    .left__side,
    .right__side {
        width: 100%;
        height: auto;
        padding: 2rem 1rem;
    }

    .right__side {
        min-height: 600px;
    }

    .container__sobre {
        height: 70%;
    }

    .container__imgs {
        align-items: center;
    }

}


@media screen and (max-width: 600px) {
    .container__imgs {
        grid-template-columns: repeat(2, auto);
    }

    .div__logo {
        width: 120px;
        height: 120px;
    }

    .div__logo:hover {
        width: 122px;
        height: 122px;
    }

    .container__infs {
        flex-direction: column;
        gap: 2rem;
    }

    .area__text {
        height: 70%;
    }

    .right__side {
        min-height: 900px;
    }

}