/* Colors Variaveis */
:root{
    --color-box-shadow: #cbcbcb;

    --color-linha: #e0e0e0;

    --color-button1: #ff3877;
    --color-button2: #22bc9d;
    --color-button3: #3b9bdc;
    --color-button4: #f4dd53;

    --color-rua: #5cb74a;
}

/* Modal: */
dialog.modal {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
padding: 0;
border: none;
border-radius: 12px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
background-color: white;
width: 80vw;
height: 90vh; 
overflow: hidden;
}

/* Sombra de Fundo:  */
dialog::backdrop {
background-color: rgba(0, 0, 0, 0.6);
}


/* Area Botão Sair */
.container__buttton {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
    background-color: transparent;
    width: auto;
    height: auto;
}

/* Botão:  */
.btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

#icon-sair{
    font-size: 30px;
    transition: all .2s ease-in-out;
}

#icon-sair:hover{
    color: #FF3877;
}


/* Box Principal dos Elementos */
.conteiner__box{
    width: 100%;
    margin-top: 2%;
    z-index: 1;
    display: flex;
}


/* Lado Esquerdo */
.left__side {
    width: 45%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 2rem;
}

/* Imagem Decorativa 1 */
.decorative__img1{
    position: absolute;
    top: 0vh;
    left: 0vw;
}

/* Area Logo */
.container__logo{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div__logo{
    width: 200px;
    height: 200px;
    display: flex;
    margin-top: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 15px var(--color-box-shadow);
    transition: all .2s ease-in-out;
}

.div__logo:hover{
    transform: scale(1.1);
}

.div__logo img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Area Title */
.container__h1{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__h1 h1{
    font-size: 30px;
    font-weight: 500;
}

/* Area das Imagens (Produtos) */
.container__imgs {
    width: 100%;
    height: 50%;
    gap: 15px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.div__img{
    width: calc(33.33% - 10px);
    height: 160px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    bottom: 2rem;
    transition: all .2s ease-in-out;
}

.div__img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.379);
}

.div__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Linha decorativa */
.decorative_line{
    width: 2px;
    height: 100%;
    position: absolute;
    left: 44%;
    background-color: var(--color-linha);
}


/* Lado Direito: Informações sobre o Expositor/Barraca */
.right__side{
    width: 55%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

/* Area Sobre a Empresa */
.container__sobre{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 10px;
}

.right__side h2{
    font-size: 26px;
    font-weight: 500;
}

.right__side h3{
    font-size: 22px;
    font-weight: 500;
    margin-top: 0.5rem;
}

.area__text{
    max-width: 750px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-sizing: content-box;
    text-align: justify;
    padding-right: 10px;
}

/* Definições da barrinha de scroll */
.area__text::-webkit-scrollbar {
    width: 6px;
}

.area__text::-webkit-scrollbar-track {
    background-color: #555;
    border-radius: 10px;
}

.area__text::-webkit-scrollbar-thumb:hover {
    background-color: #FF3877;
    height: 1px;
}

/* Area Informações sobre a Barraca */
.container__infs{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.div__categoria{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div__num{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Area Contatos */
.container__contacts{
    width: 100%;
    height: 40%;
    display: flex;
    margin-left: 10px;
}

.div__contacts{
    width: 45%;
    height: 100%;
}

.div__cor__rua{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* icones */
.icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 50%;
    background-color: #0077ff;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all .2s ease-in-out;
}

.icons:hover {
    transform: scale(1.1);
    background-color: transparent;
}

#insta {
    background-color: #FF3877;
}
#insta:hover {
    background-color: #ff387700;
    color: #FF3877;
    border: 2px solid #FF3877;
}

#zap {
    background-color: #22BC9D;
}
#zap:hover {
    background-color: #ff387700;
    color: #22BC9D;
    border: 2px solid #22BC9D;
}

#face {
    background-color: #3B9BDC;
}
#face:hover {
    background-color: #ff387700;
    color: #3B9BDC;
    border: 2px solid #3B9BDC;
}

#email {
    background-color: #F4DD53;
}
#email:hover {
    background-color: #ff387700;
    color: #F4DD53;
    border: 2px solid #F4DD53;
}

/* Div cor da rua */
.div__cor{
    width: 120px;
    height: 35px;
    background-color: var(--color-rua);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagem Decorativa 2 */
.decorative__img2{
    position: absolute;
    bottom: -1vh;
    right: 0vw;
}


/* Responsividades: */
/* Celulares pequenos (smartphones compactos) */
@media (max-width: 575.98px){
    /* Areas Principais:  */
    .m-per-expo{
        overflow-y: auto;
    }
    .conteiner__box{
        flex-direction: column;
        margin-top: 2rem;
    }
    .decorative_line{
        display: none;
    }


    /* Lado Esquerdo: */
    .left__side{
        width: 100%;
        gap: 10px;
    }
    .div__logo{
        width: 120px;
        height: 120px;
    }
    .container__h1{
        height: 15%;
    }
    .container__h1 h1{
        font-size: 20px;
        font-weight: 500;
    }
    .container__imgs{
        max-height: 350px;
    }
    .div__img {
        width: calc(50% - 10px);
        height: 90px;
    }


    /* Lado Direito:  */
    .right__side{
        width: 100%;
        gap: 10px;
    }
    .container__sobre{
        width: 80%;
        margin-left: 40px;
        margin-top: 0rem;
    }
    .right__side h2{
        font-size: 20px;
    }
    .right__side h3{
        font-size: 16px;
    }
    .area__text {
        max-width: 382px;
        max-height: 130px;
    }
    .area__text p{
        font-size: 12px;
    }
    .container__infs{
        width: 80%;
        font-size: 12px;
        margin-left: 40px;
    }
    .container__contacts{
        width: 80%;
        margin-left: 40px;
    }
    .icons {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
    .div__cor {
        width: 90px;
        height: 26px;
        font-size: 14px;
    }


    /* Imagens Decorativas:  */
    .decorative__img1{
        z-index: -1;
    }
    .decorative__img2{
        z-index: -1;
        display: none;
    }
}

/* Celulares médios e grandes (smartphones modernos) */
@media (min-width: 576px) and (max-width: 767.98px){
    /* Areas Principais:  */
    .m-per-expo{
        overflow-y: auto;
    }
    .conteiner__box{
        flex-direction: column;
        margin-top: 2rem;
    }
    .decorative_line{
        display: none;
    }


    /* Lado Esquerdo: */
    .left__side{
        width: 100%;
        gap: 10px;
    }
    .div__logo{
        width: 140px;
        height: 140px;
    }
    .container__h1{
        height: 15%;
    }
    .container__h1 h1{
        font-size: 20px;
        font-weight: 500;
    }
    .container__imgs{
        max-height: 280px;
    }
    .div__img {
        width: calc(33.3% - 10px);
        height: 110px;
    }


    /* Lado Direito:  */
    .right__side{
        width: 100%;
        gap: 10px;
    }
    .container__sobre{
        width: 80%;
        margin-left: 50px;
        margin-top: 0rem;
    }
    .right__side h2{
        font-size: 20px;
    }
    .right__side h3{
        font-size: 16px;
    }
    .area__text {
        max-width: 525px;
        max-height: 130px;
    }
    .area__text p{
        font-size: 12px;
    }
    .container__infs{
        width: 80%;
        font-size: 12px;
        margin-left: 50px;
    }
    .container__contacts{
        width: 80%;
        margin-left: 50px;
    }
    .icons {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
    .div__cor {
        width: 90px;
        height: 26px;
        font-size: 14px;
    }
    

    /* Imagens Decorativas:  */
    .decorative__img1{
        z-index: -1;
    }
    .decorative__img2{
        display: none;
    }
}

/* Tablets e celulares em paisagem */
@media (min-width: 768px) and (max-width: 991.98px){
    /* Areas Principais:  */
    .m-per-expo{
    overflow-y: auto;
    }
    .conteiner__box{
        flex-direction: column;
        margin-top: 2rem;
    }
    .decorative_line{
        display: none;
    }


    /* Lado Esquerdo: */
    .left__side{
        width: 100%;
        gap: 10px;
    }
    .div__logo {
        width: 180px;
        height: 180px;
    }
    .container__h1{
        height: 15%;
    }
    .container__h1 h1{
        font-size: 20px;
        font-weight: 500;
    }
    .container__imgs{
        max-height: 300px;  
    }
    .div__img {
        width: calc(33.3% - 20px);
        position: relative;
        left: 2%;
        height: 120px;
    }


    /* Lado Direito:  */
    .right__side{
        width: 100%;
        gap: 10px;
    }
    .container__sobre{
        margin-top: 0rem;
        margin-left: 60px;
    }
    .right__side h2{
        font-size: 20px;
    }
    .right__side h3{
        font-size: 16px;
    }
    .area__text {
        max-width: 525px;
        max-height: 130px;
    }
    .area__text p{
        font-size: 12px;
    }
    .container__infs{
        font-size: 12px;
        margin-left: 60px;
    }
    .container__contacts{
        margin-left: 60px;
    }
    .icons {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
    .div__cor {
        width: 90px;
        height: 26px;
        font-size: 14px;
    }
    

    /* Imagens Decorativas:  */
    .decorative__img1{
        z-index: -1;
    }
    .decorative__img2{
        display: none;
    }
}

/* Notebooks e desktops padrão */
@media (min-width: 992px) and (max-width: 1199.98px){
    /* Areas Principais:  */
    .m-per-expo{
        overflow-y: auto;
    }
    .conteiner__box{
        flex-direction: column;
        margin-top: 2rem;
    }
    .decorative_line{
        display: none;
    }


    /* Lado Esquerdo: */
    .left__side{
        width: 100%;
        gap: 10px;
    }
    .div__logo {
        width: 180px;
        height: 180px;
    }
    .container__h1{
        height: 15%;
    }
    .container__h1 h1{
        font-size: 22px;
        font-weight: 500;
    }
    .container__imgs{
        max-height: 350px; 
    }
    .div__img {
        width: calc(33.3% - 20px);
        position: relative;
        left: 2%;
        height: 140px;
    }


    /* Lado Direito:  */
    .right__side{
        width: 100%;
        gap: 10px;
    }
    .container__sobre{
        width: 80%;
        margin-top: 0rem;
        margin-left: 60px;
    }
    .right__side h2{
        font-size: 22px;
    }
    .right__side h3{
        font-size: 18px;
    }
    .area__text {
        max-width: 755px;
        max-height: 130px;
    }
    .area__text p{
        font-size: 14px;
    }
    .container__infs{
        width: 80%;
        font-size: 12px;
        margin-left: 60px;
    }
    .container__contacts{
        width: 80%;
        margin-left: 60px;
    }
    .icons {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
    .div__cor {
        width: 90px;
        height: 26px;
        font-size: 18px;
    }
    

    /* Imagens Decorativas:  */
    .decorative__img1{
        z-index: -1;
    }
    .decorative__img2{
        display: none;
    }
}

/* Desktops grandes e telas Full HD */
@media (min-width: 1200px) and (max-width: 1399.98px){
    /* Areas Principais:  */
    .m-per-expo{
        overflow-y: auto;
    }
    .conteiner__box{
        flex-direction: column;
        margin-top: 0;
    }
    .decorative_line{
        display: none;
    }


    /* Lado Esquerdo: */
    .left__side{
        width: 100%;
        gap: 10px;
    }
    .div__logo {
        width: 180px;
        height: 180px;
    }
    .container__h1{
        height: 15%;
    }
    .container__h1 h1{
        font-size: 22px;
        font-weight: 500;
    }
    .container__imgs {
        max-height: 350px;
    }
    .div__img {
        width: calc(33.3% - 80px);
        position: relative;
        left: 10%;
        height: 150px;
    }


    /* Lado Direito:  */
    .right__side{
        width: 100%;
        gap: 10px;
    }
    .container__sobre{
        width: 80%;
        margin-top: 0rem;
        margin-left: 60px;
    }
    .right__side h2{
        font-size: 22px;
    }
    .right__side h3{
        font-size: 18px;
    }
    .area__text {
        max-width: 885px;
        max-height: 130px;
    }
    .area__text p{
        font-size: 14px;
    }
    .container__infs{
        width: 80%;
        font-size: 12px;
        margin-left: 60px;
    }
    .container__contacts{
        width: 80%;
        margin-left: 60px;
    }
    .icons {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
    .div__cor {
        width: 90px;
        height: 26px;
        font-size: 18px;
    }
    

    /* Imagens Decorativas:  */
    .decorative__img1{
        z-index: -1;
    }
    .decorative__img2{
        display: none;
    }
}


/* Pequenos Ajustes:  */
@media (min-width: 1400px) and (max-height: 865px){
    .container__imgs{
        max-height: 290px;
    }
    .div__img{
        max-height: 121px;
    }
    .decorative__img2{
        display: none;
    }
    .decorative_line{
        height: 749px;
        display: none;
    }
}
@media (min-width: 1400px) and (max-height: 720px){
    .m-per-expo{
        overflow-y: auto;
    }
}
@media (min-width: 1400px) and (min-height: 1440px){
    .m-per-expo {
        width: 80%;
        height: 54vh;
    }
    .conteiner__box{
        margin-top: 2%;
    }
    .container__imgs{
        max-height: 290px;
    }
    .div__img{
        max-height: 121px;
    }
}