@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.modal-eventos {
    width: 60%;
    height: 60%;
    margin: auto;
    flex-direction: column;
    border-radius: .5rem;
    border: none;
}

.div-close {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 10px;
}

.icon-sair {
    font-size: 2rem;
    transition: all .2s ease-in-out;
}

.icon-sair:hover {
    color: #ff3877;
}

.modal-content-edpass {
    width: 100%;
    height: 95%;
    display: flex;
    padding: 10px 10px;
}

.modal-img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.gg-img {
    width: 350px;
    border-radius: .5rem;
}

.area-img-p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.p-img {
    width: 100px;
    border-radius: .5rem;
}

.txt-content-modal {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .5rem;
}

.modal-texto {
    width: 100%;
    height: 200px;
    overflow-y: auto;
}

.modal-texto::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

.modal-texto::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

.modal-texto::-webkit-scrollbar-thumb {
    background-color: #636363;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
}

.funco-imgs {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.img-fundo1 {
    position: absolute;
    top: 0px;
}

.img-fundo2 {
    width: 40%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}