<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../Public/css/css-desenvolvedores/devs-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portfolio | Fábrica de Software Devs Turma 33</title>
</head>
<body>
    <header>
        <h1>DEVS<span>Fábrica de Software</span></h1>   
    </header>
    <section aria-label="seção curriculo download Rayan" class="section-div">
        <div>
            <h2 class="digitando">Time de Desenvolvedores da Fábrica de Software do Senac Hub Academy - Turma 33</h2>
            <p>• Imagine fazer parte de um time que vai além do código, onde cada projeto é uma chance de mostrar criatividade, inovação e habilidade técnica. No Time de Desenvolvedores da Fábrica de Software do Senac Hub Academy, você aprende as tecnologias mais atuais e as aplica em projetos reais, ganhando experiência prática e impactando empresas antes de entrar no mercado.</p>
        </div>
        <img src="../../../../Public/imgs/img-desenvolvedores/Turma2.jpg" alt="Turma 33 Fábrica de Software">
    </section>
    <main>
        <article aria-label="Seção sobre mim" class="sobre">
            <div class="sobre_titulo">
                <h1>Perfil profissional -<span>Turma 33</span></h1>
                <p></p>
                <div class="bt1" aria-label="Seção de botões">
                    <hr class="custom-line">
                </div>
            </div>
            <div class="area-img"></div>
            <img src="../../../../Public/imgs/img-desenvolvedores/Turma.jpg" alt="ilustration">
            <div class="sobre_conteudo">
                <div class="sobre_texto">
                    <p>• Na Fábrica de Software, os desenvolvedores enfrentam desafios diários, utilizando frameworks modernos, linguagens essenciais e metodologias ágeis, típicas de startups. Você trabalha com front-end, back-end, UX/UI, banco de dados e APIs, desenvolvendo aplicações completas, sempre com a mentoria de um time experiente para te guiar.
                </div>
            </div>
        </article>
    </main>

    <section class="services">
        <div class="sobre_titulo">
            <h1>Desenvolvedores</h1>
            <div class="bt" aria-label="Seção de botões">
                <hr class="custom-line">
            </div>
        </div>
        <div class="my_service">
            <ul aria-label="Navegação secundaria">
                <a href="../desenvolvedores/index1-enzo.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/Enzo.jpg" alt="" class="img-dev">
                        </div>
                        <h3>Front-End</h3>
                        <p>Enzo Arimura</p>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/Gabriel.jpg" alt="" class="img-dev">
                        </div>
                        <h3>Web Designer</h3>
                        <p>Gabriel de Souza</p>
                    </li>
                </a>
                <a href="../desenvolvedores/index-guilherme.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/img-guilherme/Guilherme.jpg" alt="" class="img-dev">
                        </div>
                        <h3>Full-Stack</h3>
                        <p>Guilherme Camargo</p>
                    </li>
                </a>
                <a href="../desenvolvedores/index-halyson.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/hallyson.jpg" alt="" class="img-dev">
                        </div>
                        <h3>Back-End</h3>
                        <p>Halyson dos Reis</p>
                    </li>
                </a>
                <a href="../desenvolvedores/dev-contato.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/Teodoro.jpg" alt="" class="img-dev">
                        </div>
                        <h3>Full-Stack</h3>
                        <p>José Teodoro</p>
                    </li>
                </a>
                <a href="../desenvolvedores/index-matheus.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/Matheus.jpg" alt="" class="img-dev">
                        </div>
                        <h3>Front-End</h3>
                        <p>Matheus Manja</p>
                    </li>
                </a>
                <a href="../desenvolvedores/index-maykelly.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/Maykelly.jpg" alt="" class="img-dev">
                        </div>
                        <h3>Front-End</h3>
                        <p>Maykelly Helena</p>
                    </li>
                </a>
                <a id="btv" href="../desenvolvedores/index-raquel.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/img-raquel/raquel.jfif" alt="" class="img-dev">
                        </div>
                        <h3>Back-End</h3>
                        <p>Raquel Leirião</p>
                    </li>
                </a>
                <a href="../desenvolvedores/index-samuel.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/Samuel.png" alt="" class="img-dev">
                        </div>
                        <h3>Back-End</h3>
                        <p>Samuel da Silva</p>
                    </li>
                </a>
                <a href="../desenvolvedores/index-thiego.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/Thiego.jpeg" alt="" class="img-dev">
                        </div>
                        <h3>Back-End</h3>
                        <p>Thiego da Cunha</p>
                    </li>
                </a>
                <a href="../desenvolvedores/index-tiago.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/Tiago.jpg" alt="" class="img-dev">
                        </div>
                        <h3>Full-Stack</h3>
                        <p>Tiago Santos</p>
                    </li>
                </a>
                <a href="../desenvolvedores/index-yan.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/Yan.jfif" alt="" class="img-dev">
                        </div>
                        <h3>Back-End</h3>
                        <p>Yan Torres</p>
                    </li>
                </a>
                <a href="../desenvolvedores/index-yuri.html">
                    <li>
                        <div class="area-img-dev">
                            <img src="../../../../Public/imgs/img-desenvolvedores/yuri.jfif" alt="" class="img-dev">
                        </div>
                        <h3>Full-Stack</h3>
                        <p>Yuri Silva</p>
                    </li>
                </a>

            </ul>
        </div>
    </section>
    <script src="../../../../Public/js/js-desenvolvedores/script.js" defer></script>
</body>

</html>