<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/css-tiago/dev-tiago-port-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="header-tiago">
        <div class="autor-tiago">
            <a href="#home" class="logo-tiago">
                Tiago<span class="sobrenome-tiago">S.C.</span>
            </a>
        </div>
        <nav class="nav-tiago">
            <ul class="itens-tiago">
                <li><a href="">Início</a></li>
                <li><a href="">Habilidades</a></li>
                <li><a href="">Sobre mim</a></li>
            </ul>
        </nav>
    </header>
    <!-- <div class="img-dev">
        <img src="images/WhatsApp Image 2024-10-25 at 4.42.18 PM.jpeg" alt="" id="aut">
    </div> -->
    <div class="areaprincipal-tiago">
        <!-- <div class="imagemprincipal"></div> -->
        <div class="conteudo-tiago">
            <div class="texto-tiago">
                <p class="titulo-tiago">Olá, SEJA BEM VINDO!</p>
                <p class="texto-ini-tiago">Olá! Sou Tiago S. Costa, um desenvolvedor em constante evolução, sempre buscando novas oportunidades de aprendizado, seja no campo da programação, das tecnologias emergentes ou no autodesenvolvimento. Estou sempre antenado em novidades que possam ampliar minhas habilidades como Dev e como pessoa.</p>
            </div>
        </div>
    </div>
    <section class="skills-tiago">
        <h2 class="hab-tiago">Habilidades de Programação</h2>
        <div class="skills-bag-tiago">
            <div class="div-python-tiago">
                <i class="fa-brands fa-python"></i>
                <h3>Python</h3>
            </div>
            <div class="div-js-tiago">
                <i class="fa-brands fa-js"></i>
                <h3>JavaScript</h3>
            </div>
            <div class="div-html-tiago">
                <i class="fa-brands fa-html5"></i>
                <h3>HTML</h3>
            </div>
            <div class="div-css-tiago">
                <i class="fa-brands fa-css3-alt"></i>
                <h3>CSS</h3>
            </div>
            <div class="div-figma-tiago">
                <i class="fa-brands fa-figma"></i>
                <h3>Figma</h3>
            </div>
        </div>
    </section>
</body>
</html>