<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="../css/css-enzo/dev-enzo-port2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="body-enzo">
    <header class="header-enzo">
        <div class="cabecalho-enzo">
            <i class="fa-solid fa-bars icon-cabecalho"></i>
            <div class="menu-enzo">
                <a href="../Page/index2-enzo.html" class="voltar-enzo"><i class="fa-solid fa-circle-chevron-left voltar-seta"></i></a>
                <h2 class="contato-menu"><a href="https://www.instagram.com/enzo_arimura?igsh=MXJybWd5b3hoeWdoZw==" class="contato-enzo" target="_blank">Contato</a></h2>
            </div>
        </div>
    </header>
    <main class="box-enzo">
        <div class="card-enzo">
            <h1 class="title-box">Habilidades</h1>
            <p class="habilidades-descricao">Fortes: criatividade, avançada, montando protótipos que atendem e até superem as expectativas dos clientes. Sou capaz de programar sites que sejam de interface simples e interativa, também sendo capaz de desenvolver sites para pessoas mais jovens, com uma interface mais complexa. Trabalho bem em equipe e tenho conhecimento sobre metodologias ágeis, como por exemplo a metodologia scrum.</p>

            <div class="area-linguagens">
            <p class="linguagens-enzo">Linguagens de programação:</p>
            <i class="fa-brands fa-python py-enzo"></i>
            <i class="fa-brands fa-js js-enzo"></i>
            <i class="fa-brands fa-html5 html-enzo"></i>
            <i class="fa-brands fa-css3-alt css-enzo"></i>
            <i class="fa-solid fa-database mysql-enzo"></i>
            <p class="projetos-enzo">Projetos:</p>
            <p class="bosque-enzo">Feira Bosque da Paz</p>
            <p class="digix-enzo">Digix</p>
            <p class="insta-enzo">Instagram</p>
            <p class="senac-enzo">Senac Hub Academy</p>
            </div>

        </div>
        
    </main>
</body>
</html>