<!DOCTYPE html>
<html lang="pt/br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>PORTFOLIO-Raquel</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="../../../../Public/css/css-desenvolvedores/css-rqllm/dev-rqllm-port.css">
 <link rel="stylesheet" href="dev-index.html">
</head>
<body class="portfolio-raquel">
    <section class="parte1-r">
        <ul class="nav-bar">
        <li><a href="dev-index.html#btv"><i id="voltar-r" class="fa-solid fa-circle-chevron-left"></i></a></li>
        </ul>
            <h1 class="title-r">Raquel Marques</h1>
            <h3 class="subtitle-r">Atualmente, sou estudante na área de Desenvolvimento de Sistemas, onde tenho experiências desenvolvendo projetos que incluem tanto o Front-end quanto o Back-end. Além disso, tenho um grande interesse em Design, o que me auxilia na criação de interfaces mais atraentes e funcionais. Busco sempre aprimorar minhas habilidades e me atualizar sobre as novas tecnologias e tendências da área.</h3>
        <div class="area-foto-1-r">
            <div class="area-foto-2-r">
                <div class="foto-r">
                    <img class="foto-1-r" src="../../../../Public/imgs/img-desenvolvedores/img-raquel/rqllm.png" alt="">
            </div>
            <div class="circle2-r"><i class="fa-solid fa-circle"></i></div>
        </div>
            <div class="circle1-r"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="area-c-r">
            <a href="#parte2-r" class="btn"><i id="circle3-r" class="fa-solid fa-circle"></i></a>
        </div>
            <div class="social-media-buttons-r">
                <a href="https://www.instagram.com/rqllm.0/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/Raquellm-0"><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href="raquelmarques2503@gmil.com"><i class="fa-solid fa-envelope"></i></a>
        </div>
            <a href="#parte2-r" class="trian-r">
                <div class="tria-r"><h1>▽</h1></div>
            </a>
        </section>
        <section class="parte2-r" id="parte2-r">
            <div class="educacao-r">
                <h1 class="nome-t-r">Educação</h1>
                <div class="div-educacao1-r">
                    <i id="circulo-m-r" class="fa-regular fa-asterisk"></i>
                    <h2 class="data-r">2024-2025</h2>
                    <h3 class="ensino-r">Senac Hub Academy</h3>
                    <h4 class="nome-ensino-r">Técnico em Desenvolvimento de Sistemas</h4>
            </div>
            <div class="div-educacao2-r">
                <i id="circulo-m-r" class="fa-regular fa-asterisk"></i>
                <h2 class="data-r">2022</h2>
                <h3 class="ensino-r">E.E.Manoel Bonifácio Nunes da Cunha</h3>
                <h4 class="nome-ensino-r">Técnico em Desenvolvimento de Sistemas </h4>
            </div>
            </div>
            <div class="atividades-r">
                <h1 class="nome-t-r">Atividades</h1>
            <div class="div-atividades-r">
                <i id="circulo-m-r" class="fa-regular fa-asterisk"></i>
                <h2 class="data-r">2024</h2> 
                <h3 class="ensino-r">Cisco- Course Certificate</h3>
                <h4 class="nome-ensino-r">Partner: PCAP - Programming Essentials in Python</h4>
            </div>
            <div>
                <i id="circulo-m-r" class="fa-regular fa-asterisk"></i>
                <h2 class="data-r">2024</h2> 
                <h3 class="ensino-r">Cisco- Course Badge</h3>
                <h4 class="nome-ensino-r">JavaScript Essentials 1</h4>
            </div>
            </div>
            <div class="soft-r">
                <h1 class="nome-t-r">Soft skills</h1>
            <div class="div-soft-r">
                <h2 class="subs-r">Pensamento crítico</h2>
                <h2 class="subs-r">Criatividade</h2>
                <h2 class="subs-r">Ética no trabalho</h2>
            </div>
            </div>
            <div class="idioma-r">
                <h1 class="nome-t-r">Idioma</h1>
            <div class="idi-1">
                <h3 class="subs-i-r">Português</h3>
                <h4 class="subsub-r">Nativo BRA</h4>
            </div>
            <div class="idi-1-r">
                <h3 class="subs-i-r">Inglês</h3>
                <h4 class="subsub-r">Intemediário</h4>
            </div>
            </div>
            <div class="coding-r">
                <h1 class="nome-int-r">Skills</h1>
            <div class="cod-1-r">
                <i id="icons-pt2-r" class="fa-brands fa-figma"></i>
                <i id="icons-pt2-r" class="fa-brands fa-python"></i>
            </div>
            <div class="cod-2-r">
                <i id="icons-pt2-r" class="fa-brands fa-html5"></i>
                <i id="icons-pt2-r" class="fa-brands fa-css3-alt"></i>
            </div>
            </div>
            <div class="int-hob-r">
                <h1 class="nome-in-r">Interesses & Hobbies</h1>
            <div class="div-int-r">
                <i id="icons-2-r" class="fa-solid fa-book-bible"></i>
                <i id="icons-2-r" class="fa-solid fa-palette"></i>
                <i id="icons-2-r" class="fa-solid fa-dumbbell"></i>
            </div>
            <div class="div-sub-r">
                <h2 class="ids-r">Leitura</h2>
                <h2 class="ids-r">Pintura</h2>
            </div>
                <h2 class="ex-r">Exercício</h2>
            <div class="div-in2-r">
                <i id="icons-2-r" class="fa-solid fa-wand-magic-sparkles"></i>
                <i id="icons-2-r" class="fa-solid fa-laptop-code"></i>
            </div>
            <div class="div-sub2-r">
                <h2 class="ids-r">Programação</h2>
            </div>
                <h2 class="ds-r">Design</h2>
            </div>
            </div>
            </div>  
    </section>
</body>
</html>
