<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../../../Public/css/css-desenvolvedores/css-samuel/samuel.css">
    <title>Portifólio</title>
</head>
<body>
    <header class="parte-cima">
        <nav class="container">
            <div class="logo">SAMUEL</div>
            
            <ul class="nav-links">
                <li ><a href="#sobre">Sobre</a></li>
                <li class="Skills"><a href="#habilidades">Habilidades</a></li>
                <li class="Projetos"><a href="#projects">Projetos</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="sobre" class="dev container fade-in">
            <div class="dev-text">
               <h1>SAMUEL <span>RODRIGUES.</span></h1>
               <p>
                Sempre fui apaixonado por tecnologia. Aos 15, comecei a estudar programação e, aos 17, decidi que é isso que quero para minha carreira. Meu sonho é trabalhar criando softwares que impactem a vida das pessoas. Continuo aprendendo para me preparar para o futuro!</p>
            </div>
            <!--<div class="images">
                <img src="./imagens/coffee.png" alt="">
            </div>-->
            <div class="loading">
            </div>
            <div class="loading1"></div>
            <div class="loading2"></div>
            
            
            
        </section>
        <section class="sec-none">
            <div class="espaço"></div>
        </section>

        <section id="habilidades" class="container fade-in">
            <h2>Habilidades</h2>
            
            <div class="habilidades-grid">
                <div class="hab-item">
                    <div class="hab-icon"></div>
                    <img src="../../../../Public/imgs/img-desenvolvedores/imagens-dev/logo-html-5-256.png" alt="">
                    <!--<p>HTML</p>-->  
                    

                <div class="hab-item">
                    <div class="hab-icon"></div>
                    <img src="../../../../Public/imgs/img-desenvolvedores/imagens-dev/logo-css-3-256.png" alt="">
                   <!-- <p>CSS</p>-->
                </div>

                <div class="hab-item">
                    <div class="hab-icon"></div>
                    <img src="img/imagens/logo-python-1024.png" alt="">
                    <!--<p>PYTHON</p>-->

            </div>

            <div class="hab-item">
                <div class="hab-icon"></div>
                <img src="img/imagens/logo-javascript-256.png" alt="">
                <!--<p>JavaScript</p>-->
                
        </section>

       
        </section>


        <section id="projects" class="container fade-in">
            
            <div class="proje-items">
                <h3>
                    Projetos
                </h3>
                <div class="projetos">
                  
                <div class="projetos1">
                    <p class="bs">Bosque da Paz</p>
                    
                </div>
                
               
                <div class="espaço"></div>
            </div>

            <section class="Contato-section">
                <div class="titulo-contato">
                    <h4>
                        Contato
                    </h4>
                </div>
            </section>

            <section class="slider-container">
                <div class="slider">
                    <span class="slider-item">HTML</span>
                    <span class="slider-item">CSS</span>
                    <span class="slider-item">PYTHON</span>
                    <span class="slider-item">jAVASCRIPT</span>
                    <span class="slider-item">HTML</span> 
                    <span class="slider-item">CSS</span>
                    <span class="slider-item">PYTHON</span>
                    <span class="slider-item">jAVASCRIPT</span>
                    <span class="slider-item">HTML</span>
                    <span class="slider-item">CSS</span>
                    <span class="slider-item">PYTHON</span>
                    <span class="slider-item">jAVASCRIPT</span>
                    <span class="slider-item">HTML</span> 
                    <span class="slider-item">CSS</span>
                    <span class="slider-item">PYTHON</span>
                    <span class="slider-item">jAVASCRIPT</span>
                    <span class="slider-item">HTML</span>
                    <span class="slider-item">CSS</span>
                    <span class="slider-item">PYTHON</span>
                    <span class="slider-item">jAVASCRIPT</span>
                    <span class="slider-item">HTML</span> 
                    <span class="slider-item">CSS</span>
                    <span class="slider-item">PYTHON</span>
                    <span class="slider-item">jAVASCRIPT</span>
                    <span class="slider-item">HTML</span>
                    <span class="slider-item">CSS</span>
                    <span class="slider-item">PYTHON</span>
                    <span class="slider-item">jAVASCRIPT</span>
                    <span class="slider-item">HTML</span> 
                    <span class="slider-item">CSS</span>
                    <span class="slider-item">PYTHON</span>
                    <span class="slider-item">jAVASCRIPT</span>
                </div>
            </section>
            
    </main>
    
</body>
</html>