@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('menu-adm.css');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.perfilEdit-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #9e9e9e;
}

.perfilEdit-superior-esquerda{
    position: fixed;
    top: 30%;
    left: 0%;
    z-index: -1;
}

.perfilEdit-superior-direita{
    position: fixed;
    right: 0%;
    top: 20%;
    z-index: -1;
}

.perfilEdit-inferior{
    position: fixed;
    bottom: 0%;
    right: 0%;
    z-index: -1;
    width: 12%;
}

.perfilEdit-box{
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(248, 245, 246, 0.705);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 95%;
    top: 14%;
    border-radius: 10px;
    height: 80%;
}

.perfilEdit-title{
    /* background-color: red; */
    font-size: 40px;
    position: relative;
    text-align: center;
    /* width: 100%; */
    display: flex;
    top: 1%;
}

.perfilEdit-form{
    top: 2%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.perfilEdit-empresas{
    /* background-color: rgba(255, 0, 0, 0.1); */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 15%;
}

.perfilEdit-logo{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 0, 0.5); */
    width: 21%;
}

/* .perfilEdit-logoempresa */

.perfilEdit-foto{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px rgba(143, 143, 143, 0.71);
    padding-left: 3%;
    padding-top: 3%;
}

/* .perfilEdit-foto[type="file"]{
    display: none;
} */

.perfilEdit-name{
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 21%;
}

/* .perfilEdit-nameEmpresa */

.perfilEdit-nome{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px rgba(143, 143, 143, 0.71);
    border: none;
    padding-left: 3%;
    outline: none;
}

.perfilEdit-desc{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 61%;
}

/* .perfilEdit-desc .perfilEdit-text-desc{
    justify-content: center;
    align-items: center;
} */

.perfilEdit-label-desc{
    align-self: self-start;
}

.perfilEdit-text-desc{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 1px 3px 5px 0px rgba(143, 143, 143, 0.71);
    padding-left: 1%;
    padding-top: 1%;
    border: none;
    resize: none;
    outline: none;
    /* margin: 0 auto; */
}

.perfilEdit-info{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: space-around;
}

.perfilEdit-info img{
    width: auto;
    height: 12%;
}

.perfilEdit-input-info{
    background-color: rgb(255, 255, 255);
    width: 14%;
    height: 16%;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px rgba(143, 143, 143, 0.71);
    border: none;
    outline: none;
    padding-left: 1%;
}

.perfilEdit-info div{
    /* background-color: yellow; */
    height: fit-content;
}

.perfilEdit-foto-info{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    /* background-color: coral; */
    justify-content: center;
}

.perfilEdit-load-foto{
    width: 10%;
    height: 10%;
    background-color: white;
}