@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --franch-rose:#FF3877;
    --royal-blue: #162868;
}
 
.body-login,html{
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    position: relative;
}
 
.section-principal-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}
 
.img-superior-direita{
    position: absolute;
    right: 0%;
    top: 8vw;
}

.img-superior-esquerda{
    position: absolute;
    left: 0vw;
    top: 6vw;
}

.img-inferior-direita{
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.img-inferior-direita .imgg-inferior-direita{
    display: flex;
}

.img-inferior-esquerda{
    position: absolute;
    left: 0vw;
    bottom: 0%;
}

.img-inferior-esquerda .imgg-inferior-esquerda{
    display: flex;
}
 
.botao-voltar{
    display: flex;
    position: relative;
    top: 95%;
}
 
.box-login{
    width: 85%;
    height: 800px;
    backdrop-filter: blur(0px);
    background-color: rgba(248, 245, 246, 0.705);
    border-radius: 15px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    transition: all .5s ease;
    will-change: transform;
    box-sizing: border-box;
    padding: 20px;
    z-index: 3;
    #linha-login{
        height: 82%;
        position: fixed;
        border-right: 1.5px solid #ec6a93;
        left: 50%;
        border-radius: 20px;
        margin-top: 60px;
    }
}
 
.box-login:hover{
    background-color: rgba(240, 240, 240, 0.075);
    backdrop-filter: blur(30px);
 
    #linha-login{
        border-right: 1.5px solid #162868;
    }
}
 
.area-form-login{
    position: absolute;
    left: 12%;
    top: 20%;
    width: 27%;
    height: 65%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
 
.forms-login{
    width: 100%;
}
 
.forms-login input{
    height: 39px;
}
 
.area-img-login{
    width: 50%;
    height: 800px;
    background-color: #3fff3800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 
/* ALTERAR HOVER IMG */

/* .a-img-login{
    width: 90%;
    height: 600px;
    background-color: #16286800;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.a-img-login img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}
 
.a-img-login img:hover{
    transform: scale(1.05);
   
} */
 
.area-img-login-h1-tiago{
    font-weight: 600;
   font-size: 45px;
   margin-bottom: 28%;
   position: relative;
}
 
.area-input-login{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 10px;
}
 
.area-input-login i{
    position: absolute;
    left: 20px;
    top: 45%;
    transform: translateY(-50%);
}
 
.input-login {
    width: 95%;
    height: 35px;
    border: none;    
    border-radius: 6px;
    padding-left: 35px;        
    padding-right: 50px;        
    box-shadow: 2px 2px 4px 1px #162868;
    margin-top: 5px;  
    font-size: 14px;
    margin-left: 8px;
    text-decoration: none;
    outline: none;
    border-width: 0 0.5px 0.5px 0;
    border-style: solid;
    border-color: #162868;
}
 
.botao-login{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 150px;
    height: 45px;
    background-color: #162868;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    top: 40px;
    cursor: pointer;
    transition: all .5s ease;
    box-shadow: 1px 3px 5px 2px #7d7d7d;
}

 
.botao-login:hover{
    box-shadow: 1px 3px 5px 3.5px #FF3877;
}
 
.linha-embaixo-recsenha-tiago{
    display: flex;
    width: 25px;
    height: 3px;
    background-color: #FF3877;
    transition: all .5s ease;
}
 
.linha-embaixo-recsenha-tiago:hover {
    width: 100px;
}
 
.div-esqueceu-senha-login{
    margin-left: 20%;
    position: relative;
    /* background-color: red; */
}
 
.div-esqueceu-senha-login .esqueceu-a-senha-p{
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    border: none;
    text-decoration: none;
    color: black;;
}
 
.div-esqueceu-senha-login:hover .linha-embaixo-recsenha-tiago {
    width: 155px;
}

@media (max-width:575.98px){
    /* .body-login{
        background-color: red;
    } */

    #linha-login{
        display: none;
    }

    .area-img-login {
        display: none;
    }

    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        display: flex;
        width: 120px;
        height: 120px;
    }

    .img-superior-direita{
        width: fit-content;
    }

    .box-login{
        justify-content: center;
        display: flex;
        height: 90%;
        position: fixed;
        width: 90%;
    }

    .area-form-login{
        left: 10%;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
        top: 3%;
    }

    .botao-login{
        display: flex;
        right: 2%;
    }

    .forms-login{
        width: 100%;
    }

    .img-dog{
        display: none;
    }

    .div-esqueceu-senha-login{
        display: flex;
        flex-direction: column;
        width: 170px;
        left: 12%;
    }

    .botao-voltar{
        display: flex;
        right: 45%;
    }
}

@media (min-width:576px){

    .area-form-login{
        width: 43%;
        position: absolute;
        top: 11%;
        left: 4%;
        box-sizing: border-box;
    }
    .forms-login{
        width: 100%;
    }

    .div-esqueceu-senha-login{
        left: 14%;
    }

    .img-dog{
        top: 27%;
        position: relative;
        width: 50%;
        left: 2%;
    }
}

@media (min-width:768px){

    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        width: 150px;
        height: 150px;
        height: fit-content;
        width: fit-content;
    }

    .area-form-login{
        top: 10%;
        left: 4%;
        position: fixed;
        box-sizing: border-box;
    }

    .forms-login{
        width: 100%;
    }

    .box-login{
        height: 80%;
    }

    .img-dog{
        left: 1%;
        top: 26%;
        position: relative;
        width: 50%;
    }

}

@media (min-width:992px){

    .area-form-login{
        width: 43%;
    }

    .img-dog{
        top: 27%;
    }

}

@media (width: 1024px) and (height: 600px){
    /* .body-login{
        background-color: blueviolet;
    } */

    #linha-login{
        display: flex;
        position: absolute;
        height: 80%;
        bottom: 9%;
    }

    .imgg-inferior-direita, .imgg-inferior-esquerda, .imgg-superior-direita, .imgg-superior-esquerda{
        width: 150px;
        height: auto;
    }

    .box-login{
        height: 90%;
    }

    .img-dog{
        top: 10%;
    }

    .area-img-login-h1-tiago{
        margin-bottom: 14%;
    }
}

@media (min-width:1200px){

    .area-form-login{
        width: 30%;
        left: 9%;
        box-sizing: border-box;
    }

    .forms-login{
        width: 100%;
    }

    .box-login{
        height: 90%;
    }

    .img-dog{
        top: 6%;
    }
}

@media (min-width:1400px){

    .area-form-login{
        top: 10%;
        width: 30%;
        left: 10%;
    }
}