@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/css-home/style-menu-expositor.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.perfilEdit-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
}

.perfilEdit-superior-esquerda{
    position: fixed;
    top: 30%;
    left: 0%;
    z-index: -1;
}

.perfilEdit-superior-direita{
    position: fixed;
    right: 0%;
    top: 20%;
    z-index: -1;
}

.perfilEdit-inferior{
    position: fixed;
    bottom: 0%;
    right: 0%;
    z-index: -1;
    width: 12%;
}

.perfilEdit-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93%;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* background-color: purple; */
}

.perfilEdit-box{
    background-color: rgba(248, 245, 246, 0.706);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 95%;
    height: 89%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.perfilEdit-title{
    /* background-color: red; */
    font-size: 40px;
    text-align: center;
    bottom: 5%;
    position: relative;
}

.perfilEdit-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    /* gap: 12px; */
    justify-content: space-between;
    align-items: center;
    height: 80%;
    /* background-color: purple; */
    width: 70%;
}

.perfilEdit-empresas{
    display: flex;
    /* background-color: yellow; */
    width: 100%;
    height: 15%;
    justify-content: space-between;
}

.perfilEdit-logo, .perfilEdit-important-input{
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 48%;
    height: 90%;
}

.perfilEdit-important-label{
    font-size: 18px;
}

.perfilEdit-upload{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
    display: flex;
    color: grey;
    padding-left: 2%;
    padding-right: 3%;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    font-size: 14px;
}

.perfilEdit-upload .perfilEdit-upload-label{
    font-size: 22px;
}

.perfilEdit-nome{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    font-size: 12.9px;
}

.perfilEdit-nome::placeholder{
    color: grey;
    font-size: 14px;
}

.perfilEdit-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    /* background-color: aqua; */
}

.perfilEdit-text-desc{
    overflow: hidden;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
    border-radius: 10px;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 12.9px;
}

.perfilEdit-info{
    display: flex;
    /* background-color: purple; */
    width: 100%;
    height: 7.5%;
    justify-content: space-between;
}

.perfilEdit-info div{
    gap: 10px;
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}

.fa-brands, .fa-solid{
    font-size: 20px;
}

.fa-square-instagram{
    color: #038edf;
}

.fa-square-whatsapp{
    color: #0fe04e;
}

.fa-square-facebook{
    color: #f4f80e;
}

.fa-envelope{
    color: #f11890;
}

.perfilEdit-input-info{
    border: none;
    outline: none;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
    padding-left: 2%;
}

.perfilEdit-foto-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32%;
    position: relative;
}

.perfilEdit-div-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.perfilEdit-load-foto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 1px rgba(143, 143, 143, 0.71);
}

.bi-upload{
    font-size: 35px;
    color: #999999;
}

input[type="file"]{
    display: none;
}

.perfilEdit-label-desc{
    overflow-y: hidden;
}

.perfilEdit-upload-label-square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999999;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.perfilEdit-btns{
    display: flex;
    align-self: flex-end;
    /* background-color: #f4f80e; */
    justify-content: space-between;
    width: 30%;
    height: 9%;
    top: 4%;
    position: relative;
}

.perfilEdit-btn-cancel{
    background-color: #FF3877;
}

.perfilEdit-btn-save{
    background-color: #007E70;
}

.perfilEdit-btn{
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    color: white;
    font-size: 19px;
}

.perfilEdit-link-voltar{
    position: relative;
    bottom: 4%;
    right: 45%;
}

@media (max-width: 575.98px){
    /* *{
        outline: 1px solid red;
    } */

    /* .perfilEdit-body{
        height: 140vh;
    } */

    .perfilEdit-main{
        position: static;
        overflow-y: auto;
        margin-top: 18%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .perfilEdit-box{
        height: 150vh;
        width: 92%;
    }

    .perfilEdit-title{
        bottom: 2%;
        /* background-color: red; */
    }

    .perfilEdit-form{
        height: 85%;
        width: 90%;
        gap: 10px;
        /* background-color: purple; */
    }

    .perfilEdit-empresas{
        flex-direction: column;
        /* background-color: red; */
        height: 18%;
    }

    .perfilEdit-important-input{
        /* background-color: yellow; */
        width: 100%;
    }

    .perfilEdit-nome, .perfilEdit-input-info, .perfilEdit-upload{
        height: 50px;
    }

    .perfilEdit-info{
        flex-direction: column;
        /* background-color: yellow; */
        height: 25%;
        gap: 10px;
    }

    .perfilEdit-info div{
        width: 100%;
    }

    .perfilEdit-foto-info{
        margin-top: 8%;
        /* background-color: purple; */
        min-height: 205px;
        max-height: 205px;
    }

    .perfilEdit-foto-info-label{
        position: relative;
    }

    .perfilEdit-load-foto{
        min-width: 165px;
        max-width: 165px;
    }

    .perfilEdit-div-group{  
        max-width: 140vh;
        position: relative;
        overflow-x: auto;
        padding-right: 2%;
        padding-left: 2%;
        padding-bottom: 4%;
        /* background-color: red; */
    }

    .perfilEdit-btns{
        /* background-color: red; */
        width: 80%;
        min-height: 50px;
        max-height: 50px;
        margin-top: 8%;
    }

    .perfilEdit-btn{
        font-size: 16px;
    }

    .perfilEdit-link-voltar{
        position: relative;
        bottom: 1%;
        right: 38%;
    }
}

@media (min-width: 576px){
}

@media (min-width: 768px){
    .perfilEdit-title{
        margin-top: 10%;
    }

    .perfilEdit-form{
        width: 90%;
        background-color: red;
    }
}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}

@media (min-width: 1400px){

}