@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --franch-rose:#FF3877;
    --royal-blue: #162868;
}

.body-login,html{
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: grey; */
    position: relative;
}

.section-principal-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.img-superior-direita{
    position: absolute;
    right: 0%;
    top: 8vw;
    /* background-color: red; */
}

.img-superior-esquerda{
    position: absolute;
    left: 0vw;
    top: 6vw;
    /* background-color: red; */
}

.img-inferior-direita{
    position: absolute;
    right: 0%;
    top: 35vw;
    /* background-color: red; */
}

.img-inferior-esquerda{
    position: absolute;
    left: 0vw;
    height: 25%;
    bottom: 0;
    /* background-color: red; */
}

.botao-voltar{
    display: flex;
    position: relative;
    top: 95%;
}

.box-login{
    width: 85%;
    height: 800px;
    background-color: rgba(248, 245, 246, 0.705);
    border-radius: 15px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    transition: all .5s ease;
    box-sizing: border-box;
    padding: 20px;
    z-index: 3;
    #linha-login{
        height: 640px;
        position: fixed;
        border-right: 3px solid #FF3877;
        left: 50%;
        border-radius: 20px;
        margin-top: 60px;
    }
}

.box-login:hover{
    background-color: #f0f0f013;
    backdrop-filter: blur(30px);

    #linha-login{
        border-right: 3px solid #162868;
    }
}

.area-form-login{
    width: 50%;
    height: 800px;
    background-color: #16286800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forms-login{
    width: 50%;
}

.forms-login input{
    height: 39px;
}

.area-img-login{
    width: 50%;
    height: 800px;
    background-color: #3fff3800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.a-img-login{
    width: 90%;
    height: 600px;
    background-color: #16286800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-img-login img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.a-img-login img:hover{
    transform: scale(1.05);
    
}

.area-img-login .area-img-login-h1-tiago{
   font-size: 40px;
}

.area-input-login{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 10px;
}
 
.area-input-login i{
    position: absolute;
    left: 20px;
    top: 45%;
    transform: translateY(-50%);
}

.input-login {
    width: 95%;
    height: 35px;
    border: none;    
    border-radius: 6px;
    padding-left: 35px;        
    padding-right: 50px;        
    box-shadow: 2px 2px 4px 1px #162868;
    margin-top: 5px;  
    font-size: 14px;
    margin-left: 8px;
    text-decoration: none;
    outline: none;
    border-width: 0 0.5px 0.5px 0;
    border-style: solid;
    border-color: #162868;
}

.botao-login{
    width: 150px;
    height: 45px;
    background-color: #162868;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    top: 40px;
    cursor: pointer;
    transition: all .5s ease;
    box-shadow: 1px 3px 5px 2px #7d7d7d;
}

.botao-login:hover{
    box-shadow: 1px 3px 5px 3.5px #FF3877;
}

.linha-embaixo-recsenha-tiago{
    display: flex;
    width: 25px;
    height: 3px;
    background-color: #FF3877;
    transition: all .5s ease;
}

.linha-embaixo-recsenha-tiago:hover {
    width: 100px;
}

.div-esqueceu-senha-login{
    margin-left: 26%;
}

.div-esqueceu-senha-login .esqueceu-a-senha-p{
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    border: none;
    text-decoration: none;
    color: black;;
}

.div-esqueceu-senha-login:hover .linha-embaixo-recsenha-tiago {
    width: 155px;
}

@media screen and (max-width: 576px) {
    .body-login{
        background-color: grey;
    }
    
    #linha-login{
        display: none;
    }

    .botao-voltar{
        display: none;
    }
    
    .box-login{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
    }

    .img-inferior-esquerda{
        display: flex;
        position: fixed;
        top: 82vh;
        height: 120px;
        width: 120px;
    }
    
    .img-inferior-direita{
        position: fixed;
        left: 38vh;
        top: 49vh;
        margin-top: 33vh;
        width: 120px;
        height: 120px;
        display: flex;
    }

    .img-superior-esquerda{
        display: flex;
        width: 120px;
        height: 120px;
        position: fixed;
    }
    
    .img-superior-direita{
        display: flex;
        position: fixed;
        width: 120px;
        height: 120px;
        left: 42vh;

    }
    
    .forms-login{
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    
    .area-form-login{
        width: 90%;
        display: flex;
        flex-direction: column;
        
    }

    .area-img-login{
        display: flex;
        flex-direction: column;
        height: 11%;
        top: 15%;
        position: absolute;
    }

    .area-img-login .a-img-login{
        display: none;
    }

    .area-img-login .area-img-login-h1-tiago{
        bottom: 0%;
        position: relative;
    }
}

@media screen and (min-width:414px) and (max-width:414px){
    .body-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao-voltar{
        display: none;
    }

    .box-login{
        display: flex;
        width: 80%;
        height: 75%;
        top: 12%;
        position: fixed;
    }

    .img-inferior-direita{
        display: flex;
        left: 62%;
        top: 51%;
        width: 150px;
        height: 150px;
    }

    .img-superior-direita{
        display: flex;
        left: 71%;
        width: 150px;
        height: 150px;
    }

    .img-inferior-esquerda{
        display: flex;
        left: 0%;
        width: 160px;
        height: 160px;
        top: 83%;
    }
    
    .img-superior-esquerda{
        display: flex;
        width: 160px;
        height: 160px;
        
    }

    .forms-login{
        width: 100%;
    }
}

@media screen and (min-width:390px) and (max-width:390px) {
    .body-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao-voltar{
        display: none;
    }

    .box-login{
        display: flex;
        pointer-events: none;
        position: relative;
        top: 16%;
        width: 86%;
        height: 70%;
    }

    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        display: flex;
        width: 150px;
        height: 150px;
    }

    .img-inferior-direita{
        left: 59%;
        top: 50%;
    }

    .img-superior-direita{
        left: 69%;
    }

    .img-inferior-esquerda{
        top: 83%;
        left: 0;
    }

    .forms-login{
        width: 100%;
    }
}

@media screen and (min-width:430px) and (max-width:430px) {
    .body-login{
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: grey; */
    }

    .botao-voltar{
        display: none;
    }

    .box-login{
        justify-content: center;
        align-items: center;
        display: flex;
        pointer-events: none;
        width: 80%;
        height: 80%;
        top: 10%;
        position: fixed;
    }

    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        display: flex;
        width: 150px;
        height: 150px;
    }

    .img-inferior-direita{
        left: 64%;
        top: 51%;
    }

    .img-superior-direita{
        left: 72%;
    }

    .img-inferior-esquerda{
        display: flex;
        top: 84%;
    }

    .forms-login{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (min-width:412px) and (max-width:412px) {
    .body-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao-voltar{
        display: none;
    }

    .box-login{
        display: flex;
        width: 80%;
        height: 80%;
        top: 12%;
        pointer-events: none;
        position: fixed;
    }

    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        display: flex;
        width: 150px;
        height: 150px;
    }

    .img-inferior-esquerda{
        display: flex;
        top: 84%;
    }

    .img-inferior-direita{
        display: flex;
        left: 64%;
        top: 51%;
    }

    .img-superior-direita{
        left: 72%;
    }

    .forms-login{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (min-width:360px) and (max-width:360px) {
    .body-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao-voltar{
        display: none;
    }

    .botao-voltar{
        display: none;
    }

    .box-login{
        display: flex;
        width: 80%;
        height: 80%;
        margin-top: 80%;
    }

    .img-inferior-esquerda{
        display: flex;
        top: 84%;
    }

    .img-inferior-direita{
        display: flex;
        left: 65%;
        top: 51%;
    }

    .img-superior-direita{
        left: 73%;
    }

    .forms-login{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .area-img-login-h1-tiago{
        display: flex;
        top: 50%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .body-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #linha-login{
        bottom: 18.5%;
        background-color: #FF3877;
    }

    .div-esqueceu-senha-login{
        /* background-color: green; */
        margin-left: 45%;
    }

    .box-login{
        display: flex;
        top: 0.5%;
        width: 90%;
        transition: none;
        pointer-events: none;
        background-color: rgba(248, 245, 246, 0.705);
        z-index: 3;
    }

    .section-principal-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        /* background-color: pink; */
    }

    .img-superior-esquerda{
        display: flex;
    }

    .img-inferior-esquerda{
        display: flex;
        top: 77%;
    }

    .img-inferior-direita{
        /* background-color: red; */
        top: 80%;
        display: flex;
        width: 28%;
        height: 20%;
        position: absolute;
        right: 0%;
    }

    .img-superior-direita{
        display: flex;
        position: absolute;
        right: 0%;
        /* background-color: red; */
    }

    .area-img-login{
        display: flex;
        top: 10%;
        width: 45%;
    }

    .forms-login{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .area-form-login{
        position: absolute;
        width: 41%;
    }
}

@media screen and (min-width:820px) and (max-width:1180px) {
    .body-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #linha-login{
        bottom: 22.5%;
    }

    .box-login{
        display: flex;
        align-items: center;
    }

    .img-inferior-esquerda, .img-superior-esquerda, .img-inferior-direita, .img-superior-direita{
        display: flex;
        width: 230px;
        height: 230px;
    }

    .img-inferior-esquerda{
        top: 81%;
    }

    .img-superior-direita{
        left: 77%;
    }

    .img-inferior-direita{
        left: 71%;
        top: 81%;
    }
}

@media screen and (min-width:1024px) and (max-width:1366px) {
    .body-login{
        display: flex;
        background-color: gray;
        justify-content: center;
        align-items: center;
    }

    #linha-login{
        top: 15%;
    }

    .box-login{
        display: flex;
        position: fixed;
        top: 20%;
        width: 90%;
    }

    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        background-color: red;
    }
}

@media screen and (min-width:912px) and (max-width:912px) {
    .body-login{
        display: flex;
        /* background-color: gray; */
        justify-content: center;
        align-items: center;
    }

    .img-inferior-direita, .img-inferior-esquerda, .img-superior-direita, .img-superior-esquerda{
        display: flex;
        width: 300px;
        height: 300px;
    }

    .img-inferior-esquerda{
        top: 79%;
    }

    .img-inferior-direita{
        top: 79%;
        left: 65%;
    }

    .img-superior-direita{
        left: 73%;
    }
}

/* @media screen and (min-width:1024px) and (max-width:1400px) {

    .box-login{
        position: fixed;
        top: 6%;
    }

    .img-inferior-esquerda{
        top: 74%;
    }

    .img-inferior-direita{
        left: 76%;
        top: 66%;
    }

    .img-superior-direita{
        left: 83%;
    }

    .forms-login{
        width: 70%;
    }
} */