.avisos {
    width: 100%;
    padding: 100px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao-da-tarde {
    background-color: var(--color-prox-event);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    padding: 50px 150px 100px 150px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

.secao-tarde-2 {
    background-color: var(--color-edit-pass);
    padding: 50px 150px;
    clip-path: none;
}
.secao-tarde-3 {
    background-color: var(--color-ulti-publi);
    padding: 100px 150px 50px 150px;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}

.conteiner-img {
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.conteiner-img-ulti-publi {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}


.img-prox-event {
    width: 90%;
    transition: all .1s ease-in;
}

.img-prox-event:hover {
    width: 95%;
}
/* .img-prox-event:hover {
    width: 95%;
} */

.img-ulti-publi {
    width: 45%;
    border-radius: 10px;
    transition: all .1s ease-in;
}

.img-ulti-publi:hover {
    width: 50%;
}

.conteiner-sobre {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 10px;
}

.title-evisos-edit {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

.para-avisos-edit {
    font-size: 1.1rem;
    color: white;
}

.title-meio {
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
}

.para-meio {
    font-size: 1.1rem;
    color: black;
}

.img-prox-event {
    border-radius: 10px;
}


.btn-vermais {
    background-color: white;
    border: 2px solid #FEB850;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
}

.btn-vermais2 {
    border: 2px solid #5CB74E;
    background-color: #5CB74E;
}
.btn-vermais3 {
    
    border-color: #3DB4F4;
}

.text-verm {
    color: #FEB850;
    text-decoration: none;
}

.text-verm-2 {
    color: #fff;
    text-decoration: none;
}
.text-verm-3 {
    color: #3DB4F4;
    text-decoration: none;
}

.btn-vermais:hover {
    background-color: #FEB850;
    border: 2px solid #FEB850;
}

.btn-vermais:hover .text-verm {
    color: white;
}

.btn-vermais2:hover {
    background-color: #fff;
    border: 2px solid #5CB74E;
}

.btn-vermais2:hover .text-verm-2 {
    color: #5CB74E;
}


.btn-vermais3:hover {
    background-color: #3DB4F4;
    border: 2px solid #3DB4F4;
}

.btn-vermais3:hover .text-verm-3 {
    color: white;
}