.expositores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.bar-title-expositor {
    background-color: #0D592E;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content-title-expo {
    display: flex;
}

.title-expositor {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    z-index: 1;
}

.lines-before {
    background-color: transparent;
    padding: 0px 25px;
    border-bottom: 4px solid #FF9665;
    border-left: 4px solid #FF9665;
    position: relative;
    left: 40px;
    top: 5px;
    z-index: 2;
}

.lines-after {
    background-color: transparent;
    padding: 0px 25px;
    border-top: 4px solid #FF9665;
    border-right: 4px solid #FF9665;
    position: relative;
    right: 40px;
    bottom: 5px;
    z-index: 2;
}

.para-title {
    width: 50%;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}

.listar-expositor {
    width: 85%;
    height: auto;
    border-radius: 10px;
    background-color: #F8F8F8;
}

.cards-perfis {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

/* .card-per-expo {
    background-color: aqua;
    
} */