.expositores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.bar-title-expositor {
    background-color: #0D592E;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content-title-expo {
    display: flex;
}

.title-expositor {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    z-index: 1;
}

.lines-before {
    background-color: transparent;
    padding: 0px 25px;
    border-bottom: 4px solid #FF9665;
    border-left: 4px solid #FF9665;
    position: relative;
    left: 40px;
    top: 5px;
    z-index: 2;
}

.lines-after {
    background-color: transparent;
    padding: 0px 25px;
    border-top: 4px solid #FF9665;
    border-right: 4px solid #FF9665;
    position: relative;
    right: 40px;
    bottom: 5px;
    z-index: 2;
}

.para-title {
    width: 50%;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}

.listar-expositor {
    width: 85%;
    height: auto;
    border-radius: 10px;
    background-color: #F8F8F8;
}

.cards-perfis {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F8F8F8;
}

.card-per-expo {
    /* background-color: aqua; */
    width: 190px;
    height: 85%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.head-card {
    background-color: white;
    min-width: 190px;
    min-height: 190px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: all .2s ease-in;
}

.head-seja-expo {
    background-color: #f8621a;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #f8601ac5;
}

.body-card {
    width: 100%;
    height: 0%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    background-color: white;
    position: absolute;
    top: 90px;
    /* bottom: 90px; */
    z-index: 0;
    text-align: center;
    overflow: hidden;
    transition: all .2s ease-in;
}

.body-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 80%;
}

/* .card-per-expo:hover .body-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 80%;
} */

.card-per-expo:hover .head-card {
    top: 0px;
    margin: 0px;
}

.img-perfil-expo {
    width: 95%;
}

.seja-expo {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
}

.para-seja-expo {
    margin-top: 110px;
    font-size: .9rem;
}

.btn-seja-expo {
    width: 70%;
    padding: 5px 0px;
    border: 1px solid #f8621a;
    background-color: white;
    border-radius: .5rem;
}

.link-edital {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.nome-expo {
    margin-top: 110px;
    font-size: 1.2rem;
    font-weight: bold;
}

.detalhes-expo {
    width: 95%;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.para-cate {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.span-cate {
    font-weight: 400;
}

.para-color {
    font-weight: 600;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.span-color {
    font-weight: 500;
    padding: 2px 5px;
    color: white;
    border-radius: .5rem;
}

.color-amarela {
    background-color: var(--color-rua1);
}

.color-verde {
    background-color: var(--color-rua3);
}

.color-roxo {
    background-color: var(--color-rua4);
    color: white;
}

.color-laranja {
    background-color: var(--color-rua2);
    color: white;
}

.btn-ver-info {
    padding: 5px 10px;
    border: 2px solid #5C8001;
    border-radius: .5rem;
    color: #5C8001;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
    transition: all .2s ease-in;
}

.btn-ver-info:hover {
    background-color: #5C8001;
    color: white;
}