@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../menu-home.css');
@import url('../css-modais/css-m-perfil-expositor.css');
@import url('../../css/styles-home/rodape.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-rua1: #FDF148;
    --color-rua2: #FC671D;
    --color-rua3: #90C470;
    --color-rua4: #B313FF;
    --color-branca: white;
}

.all-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.esco-cat {
    width: 250px;
    height: 70px;
    display: flex;
    padding: 5px 5px 5px 0px;
    flex-direction: column;
}

.title-esco {
    font-weight: 600;
}

.input-esco {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-branca);
    font-weight: 500;
    font-size: 1.1rem;
    border: 1px solid black;
}

.lista-cat {
    background-color: var(--color-branca);
    z-index: 3;
    border: 1px solid black;
    border-top: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    margin-top: -5px;
}

.listOpen {
    display: flex;
}

.linha-cat {
    font-weight: 500;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linha-fim {
    border: none;
}

.link-cat {
    text-decoration: none;
    color: black;
}

.title-categoria {
    margin: 50px 0px 0px 0px;
}

.expositor-lista {
    margin: auto;
    width: 100%;
    height: 50%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.expositor {
    /* background-color: rgb(191, 225, 255); */
    width: 190px;
    height: 430px;
    border-radius: 10% 10% 0px 0px;
    position: relative;
}

.imagem-expositor{
    width: 100%;
    height: 190px;
    border-radius: 50%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    position: absolute;
    z-index: 2;
    transition: all 1s ease;
}

.imagem-expositor img {
    width: 90%;
}

.informacoes-expositor {
    background-color: #F8F8F8;
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: all 1s ease;
}

.info-expo {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.expositor:hover .informacoes-expositor {
    height: 70%;
}

.expositor1:hover .informacoes-expositor,
.expositor1:hover .imagem-expositor {
    margin-top: 25px;
    background-color: var(--color-rua1);
}

.expositor2:hover .informacoes-expositor,
.expositor2:hover .imagem-expositor {
    margin-top: 25px;
    background-color: var(--color-rua2);
}

.expositor3:hover .informacoes-expositor,
.expositor3:hover .imagem-expositor {
    margin-top: 25px;
    background-color: var(--color-rua3);
}

.expositor4:hover .informacoes-expositor,
.expositor4:hover .imagem-expositor {
    margin-top: 25px;
    background-color: var(--color-rua4);
}

.informacoes-expositor .nome-expo {
    margin-top: 80px;
    font-size: 1.1rem;
}


#informacao {
    padding: 0;
    width: 100%;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}


.rua {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2px;
}

.rua-s {
    font-weight: 600;
}

.corr{
    width: 85px;
    border-radius: 5px;
    font-weight: 500;
}

.ra-s {
    background-color: var(--color-rua1);
}
.rl-s {
    background-color: var(--color-rua2);
}

.rv-s {
    background-color: var(--color-rua3);
}

.rr-s {
    background-color: var(--color-rua4);
}

.text-info {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.text-info .span-c {
    font-weight: 500;
}

.botao {
    width: 100%;
    padding: 15px 0px;
    /* background-color: #05A09C; */
}

.botao button {
    border: none;
    background-color: #F7F183;
    padding: 5px 15px;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.modal-ver-per-expo {
    margin: auto;
    outline: none;
    border: none;
    width: 1200px;
    border-radius: 5px;
}
