@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("../menu-home.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }

 /*----------------------*/

.section-bosque-quem-somos{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;

    
}
.section-bosque-quem-somos .div-text-sobre p{
    display: flex;
    text-align: left;
    width: 100%;
    margin-bottom: 20%;
    
}

.section-bosque-quem-somos .div-text-sobre span:hover{
    color: #8b3ac4;
    transition: all .10s ease-in-out;
    
}

.section-bosque-quem-somos .div-text-sobre h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    line-height: 50px;

}
.section-bosque-quem-somos .div-img-animation{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 10px;
    width: 50%;
    animation: flutuar 1.5s ease-in-out infinite alternate;
    margin-top: 8%;

  
}

.section-bosque-quem-somos .div-img-animation .imagem1{
    margin-top: 120px;
  
    height: 550px;
}
.section-bosque-quem-somos .div-img-animation .imagem2{
    margin-top: 80px;

    height: 550px;
}
.section-bosque-quem-somos .div-img-animation .imagem3{
    margin-top: 50px;
   
    height: 550px;
  
}

.section-bosque-quem-somos .div-text-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
}
.section-bosque-quem-somos .div-text-sobre h1, .h1 span{
    position: relative;
    right: 1cm;
    font-size: 3.2rem;
    display: flex;
    flex-direction: row;
    height: 10cm;

}
.div-text-sobre h1 span{
    color: #ff5029;
    padding-left: 5px;
   
}
.section-bosque-quem-somos .div-text-sobre{
   text-align: left;
   justify-content: left;
}

.div-text-sobre p {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 10%;
}

.div-img-animation{
   display: flex;

   position: relative;
   width: 30%;
   right: 4cm;

}
.div-img-animation .imagem1{
    display: flex;
    
    
}



@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


.section-nosso-time-quem-somos{
    background-color: #B2C3DE;
    height: 50vh;
   
    background-image: linear-gradient(to left, yellow, orangered, rgb(154, 14, 14));
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}
.section-nosso-time-quem-somos .div-nt{
    color: #ebebeb;
    display: flex;
    position: relative;
    top: 190px;
    justify-content: space-evenly;
    height: auto;
    font-size: 2.5rem;
    
    
}
.section-nosso-time-quem-somos .div-nt h2:before,
.section-nosso-time-quem-somos .div-nt h2:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px; 
    height: 2px; 
    background-color: #FFFFFF; 
}

.section-nosso-time-quem-somos .div-nt h2:before {
    left: -70px; }

.section-nosso-time-quem-somos .div-nt h2:after {
    right: -70px; 
}

.section-nosso-time-quem-somos .div-nt h2 {
    position: relative;
    font-size: 3rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.section-colaboradoras-quem-somos{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5cm;
    gap: 80px;
   
    
}
.section-colaboradoras-quem-somos .fotos{
    display: flex;
    border-radius: 10%;
    box-shadow: 2px 1px 0px 0px orangered;
}





.section-colaboradoras-quem-somos .carina, .profission, .denise,  .fernanda,  .nájila{
    color: #8b3ac4;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.40rem;
    transition: all;
    margin-top: 3%;
    
   
}
.profission:hover{
    color: #ff5029 ;
}

.section-colaboradoras-quem-somos .profission{
    font-weight: bold;
    
}


.section-expositor-quem-somos{
    background-color: #08AEC0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left, rgb(81, 25, 171), rgb(238, 0, 255), rgb(92, 9, 134), rgb(0, 145, 255));
    background-size: 500% 100%;
    animation: degrade-animado 10s infinite alternate;
    
}

.section-expositor-quem-somos .expositor{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    position: relative;
    top: 35%;
    right: 1.1%;
    
  
}
.section-expositor-quem-somos .expositor h3:before,
.section-expositor-quem-somos .expositor h3:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px; 
    height: 2px; 
    background-color: #FFFFFF; 
}

.section-expositor-quem-somos .expositor h3:before {
    left: -70px; 
}

.section-expositor-quem-somos .expositor h3:after {
    right: -70px; 
}



.section-expositor-quem-somos .expositor-p{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4cm;
    font-size: 1.2rem;
    padding: 50px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
   
 
    
 
}




.botão-expositor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 10%;
   
    
    background-color: #ffffff;
    font-weight: bold;
    text-decoration: none; 
    position: relative;
    right: 2%;
    border-radius: 9px;
   
    
   
    
}
.botão-expositor .botão{
    color: #8b3ac4;
    text-transform: uppercase;
    background: linear-gradient(to left, rgb(81, 25, 171), rgb(238, 0, 255), rgb(92, 9, 134), rgb(0, 145, 255));
    background-size: 500% 100%;
    animation: degrade-animado 10s infinite alternate;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
   
   
   

}



.botão-expositor:hover{
    transition: .2s ;
    cursor: pointer;
    transform: scale(1.05);
}



.vazio{
    height: 500px;

}
.vazio .logo2{
    display: flex;
    flex-direction: column;
    width: 10%;
    position: relative;
    top: 100%;
    
}

a{
    text-decoration: none;
    color: #fff;
}

.fotos:hover{
    transform: scale(1.04);
    transition: all .3s ease-in-out;
}


@media (max-width: 1500px) {
  .div-img-animation .imagem1, .imagem2 ,.imagem3{
    display: none;
  }

    .section-bosque-quem-somos .div-text-sobre{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;



    }


 
  .section-bosque-quem-somos .div-text-sobre .somos-apaixonados{
   
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 1.5rem;
    width: 120%;



   
    

    
  }

  .section-bosque-quem-somos .div-text-sobre .titulo {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 3.5rem;
    right: 0.5%;
 
    
   
    
  }



 

   
  
  .section-bosque-quem-somos{
    display: flex;
    width: 100%;
    flex-direction: column;
    
   
  }
  .section-colaboradoras-quem-somos  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;

  }


  .section-expositor-quem-somos .expositor h3:before{
    display: none;
  }

 

  .section-expositor-quem-somos .expositor{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    left: 1%;
    margin-top: -3.7%;

  }

  .section-expositor-quem-somos .expositor-p{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5%;
    text-align: center;
  
  }

  .botão-expositor{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 0%;
   
    
   
    
  }

  .section-nosso-time-quem-somos .div-nt h2:after{
    display: none;
  }
  .section-nosso-time-quem-somos .div-nt h2:before{
    display: none;
  }
  .section-expositor-quem-somos .expositor h3:before {
    display: none;
  }
  .section-expositor-quem-somos .expositor h3:after {
    display: none;
  }
  .vazio .logo2{
    display: flex;
    width: 15%;
  }

  .section-nosso-time-quem-somos .div-nt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .section-bosque-quem-somos .div-text-sobre p{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;

   
  }


  .section-bosque-quem-somos .div-text-sobre{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 

} 
 

 
 
 
 
 
 
 
 
 
@media (max-width:1100px ) {
    .botão-expositor{
        
        display: flex;
        flex-direction: column;
        margin-top: 100px;

    }
    .section-expositor-quem-somos .expositor-p{
        
        display: flex;
        flex-direction: column;
        position: relative;
        top: 15%;
    }

    .section-nosso-time-quem-somos .div-nt h2{
       
        margin-top: -7%;
        display: flex;
        flex-direction: column;
    
    }
  
    .section-expositor-quem-somos .expositor-p{
        
        margin-top: 5%;
    }
    .section-expositor-quem-somos .botão-expositor{
        margin-top: 2%;
    }
   
   
}

@media(max-width: 1050px){
    .section-expositor-quem-somos .expositor-p{
        margin-top: 100px;
    }
    .section-expositor-quem-somos .botão-expositor{
        background-color: #ffffff;
        margin-top: 100px;
        display: flex;
    }
    .section-expositor-quem-somos{
      
        display: flex;
        flex-direction: column;
    }
}
 
 


@media (max-width: 950px ){
    .section-bosque-quem-somos{
        display: flex;
        flex-direction: column;
       
    }
    .section-bosque-quem-somos .titulo{
        left: 0%;
    }
    .section-expositor-quem-somos .botão-expositor{
     
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 15%;
       
    }
    .section-expositor-quem-somos .expositor{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 3%;
        
        width: 100%;
    }
    .section-expositor-quem-somos .expositor-p{
        
        display: flex;
        position: relative;
        margin-top: 20%;
    }

}
 
@media (max-width: 800px ){
    .section-bosque-quem-somos{
        display: flex;
        flex-direction: column;
     
       
    }
    .section-bosque-quem-somos .titulo{
        left: -1%;
       
    }
 
    .section-expositor-quem-somos .expositor-p .acesse{
       
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        position: relative;
        bottom: 50%;
       
    }
    .section-expositor-quem-somos .botão-expositor{
        display: flex;
       
        position: relative;
        margin-top: 3%;
 
    }
 
 
}
 
@media (max-width: 750px ){
    .section-bosque-quem-somos .titulo{
        display: flex;
        flex-direction: column;
        left: 0%;
    }
    .section-bosque-quem-somos .somos-apaixonados{
        display: flex;
        flex-direction: column;
       
    }
    .section-nosso-time-quem-somos .div-nt h2 {
       display: flex;
       flex-direction: column;
     
        margin-bottom: 100%;
        position: relative;
        bottom: 5%; 
       
    }
    .section-expositor-quem-somos .expositor{
        display: flex;
        flex-direction: column;
       
        font-size: 1.5rem;
        position: relative;
        margin-bottom: -20%;
        position: relative;
        top: 50px;
    }
    .section-colaboradoras-quem-somos .image-text-carina .fotos{
            width: 250px;
            height: auto;
       
 
    }
    .section-colaboradoras-quem-somos .image-text-denise .fotos{
        width: 250px;
        height: auto;
   
 
}
.section-colaboradoras-quem-somos .image-text-fernanda .fotos{
    width: 250px;
    height: auto;
 
 
}
.section-colaboradoras-quem-somos .image-text-nájila .fotos{
    width: 250px;
    height: auto;
 
 
}
   
    .section-colaboradoras-quem-somos .image-text-carina .denise{
        display: flex;
        position: relative;
        left: 0%;
 
     }
     .section-colaboradoras-quem-somos .image-text-carina .fernanda{
        display: flex;
        position: relative;
        left: 0%;
 
     }
     .section-colaboradoras-quem-somos .image-text-carina .nájila{
        display: flex;
        position: relative;
        left: 0%;
 
     }
 
}

@media(max-width: 550px){
    .section-expositor-quem-somos .expositor-p{
      
        margin-top: 35%;
    }
    .section-expositor-quem-somos .expositor{
        
        position: relative;
        top: 20%;
    }
}



@media(max-width: 450px){
    .section-expositor-quem-somos .expositor-p{
      
        margin-top: 45%;
    }
    .section-expositor-quem-somos .expositor{
        
        position: relative;
        top: 20%;
    }
    .section-expositor-quem-somos .botão-expositor{
        width: 25%;
    }

}
@media (max-width: 390px ){
 
 
    .section-bosque-quem-somos .div-text-sobre .titulo{
   
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 1.8rem;
     
       
    }
   
 
    .section-bosque-quem-somos .div-text-sobre .titulo span{
        font-size: 1.8rem;
    }
 
    .section-bosque-quem-somos .div-text-sobre .somos-apaixonados{
        display: flex;
        flex-direction: column;
        width: 120%;
        font-size: 1rem;
    }
 
   
 
    .section-expositor-quem-somos .expositor{ 
        display: flex;
        flex-direction: column;
        position: relative;
      
        
       
    }
    .section-expositor-quem-somos .expositor-p{
        font-size: 1rem;
        position: relative;
      
    }
    .section-expositor-quem-somos .botão-expositor{
        display: flex;
        position: relative;
        margin-top: -4%;
        width: 30%;
       
    }
    .section-nosso-time-quem-somos .div-nt h2{
       
        font-size: 1.8rem;
    }
    .section-expositor-quem-somos .expositor-p .acesse{
        
        width: 100%;
    }
    .section-colaboradoras-quem-somos .fotos{
        border-radius: 40%;
    }
    
 
}

@media (max-width: 370px ){
    .section-expositor-quem-somos .botão-expositor{
        display: flex;
        position: relative;
        margin-top: -10%;
        width: 30%;
       
    }
}


@media (max-width: 350px ){
    .section-expositor-quem-somos .botão-expositor{
        display: flex;
        position: relative;
        margin-top: 5%;
        width: 30%;
       
    }
    .section-expositor-quem-somos .expositor-p{
        display: flex;
        position: relative;
        margin-top: 50%;
        
    }

}

@media (max-width: 330px ){
    .section-expositor-quem-somos .botão-expositor{
        display: flex;
        position: relative;
        margin-top: -7%;
        width: 40%;
       
    }
    .section-expositor-quem-somos .expositor-p{
        display: flex;
        position: relative;
        margin-top: 45%;
        
    }


}
/*dimensões ipad pro--ERRO-----*/


