.section-parce{
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    padding-bottom: 2rem;
}

.all-parce {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: .8px solid #c1c1c1;
}

.div-logo-parceiro {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo-parceiros {
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 500px) {
    .all-parce {
        flex-wrap: wrap;
        gap: 20px;
    }
    .div-logo-parceiro {
        width: 120px;
        height: 120px;
    }
}