@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('style-menu.css');
@import url('../css-modais/perfil-expositor.css');
@import url('style-rodape.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root {
    --color-rua1: #ffde5a;
    --color-rua2: #EC6627;
    --color-rua3: #5EBB50;
    --color-rua4: #8D55F2;
    --color-rua5: #38B6FC;
    --color-rua6: #959499;
    --color-rua7: #A5569F;
    --color-rua8: #E5AD95;
    --color-rua9: #EE71CA;
    --color-rua10: #010101;
    --color-rua11: #EB2123;
    --color-branca: white;
}

.amarelo {
    background-color: var(--color-rua1) !important;
}
.laranja {
    background-color: var(--color-rua2) !important;
}
.verde {
    background-color: var(--color-rua3) !important;
}
.roxo {
    background-color: var(--color-rua4) !important;
}
.azul {
    background-color: var(--color-rua5) !important;
}
.cinza {
    background-color: var(--color-rua6) !important;
}
.rosa_escuro {
    background-color: var(--color-ru7) !important;
}
.laranja_lima {
    background-color: var(--color-rua8) !important;
}
.rosa_claro {
    background-color: var(--color-rua9) !important;
}
.preto {
    background-color: var(--color-rua10) !important;
}
.vermelho {
    background-color: var(--color-rua11) !important;
}

.content-principal {
    min-height: 50vh;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1rem;
}

.title-all-expo {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.conteiner-expositores {
    background-color: rgba(244, 244, 244, 0.637);
    width: 80%;
    height: auto;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.conteiner_filtros {
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color: #e9e9e9;
}

.search_expositor {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search_here {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
}

.input_filtro {
    border-radius: .5rem;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: .5rem;
    width: 20rem;
}

.all_cards {
    width: 100%;
    height: auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 1rem;
}

/*  CARD EXPOSITOR */

.content-card-expo {
    width: 245px;
    height: 435px;
}

.card-per-expo {
    background-color: #7CC4BF;
    width: 230px;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    transition: all .2s ease-in;
}

.card-per-expo:hover {
    margin-top: -10px;
}

.head-card {
    background-color: #DCDCDC;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: all .2s ease-in;
}

.head-seja-expo {
    background-color: #f8621a;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #f8601ac5;
}

.body-card {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    height: 70%;
    position: absolute;
    top: 130px;
    /* bottom: 90px; */
    z-index: 0;
    text-align: center;
    overflow: hidden;
    transition: all .2s ease-in;
}

.img-perfil-expo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nome-expo {
    margin-top: 70px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.detalhes-expo {
    width: 100%;
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.237);
    border-bottom: 1px solid rgba(0, 0, 0, 0.237);
}

.para-cate {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #575757;
}

.span-cate {
    font-weight: 400;
    color: #575757;
}

.para-color {
    font-weight: 400;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #575757;
    text-transform: capitalize;
}

.span-color {
    font-weight: 500;
    padding: 2px 5px;
    color: white;
    border-radius: .5rem;
}

.amarelo {
    background-color: var(--color-rua1);
}

.verde {
    background-color: var(--color-rua3);
}

.roxo {
    background-color: var(--color-rua4);
}

.laranja {
    background-color: var(--color-rua2);
}

.btn-ver-info {
    padding: 5px 10px;
    border: 2px solid #8B3AC4;
    border-radius: .5rem;
    color: #8B3AC4;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
    transition: all .2s ease-in;
}

.btn-ver-info:hover {
    background-color: #8B3AC4;
    color: white;
}

/* fim */