.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    gap: 50px;
}

.bar-title-categoria {
    width: 100%;
    height: 400px;
    background-color: #007E70;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.conteiner-title-cat {
    display: flex;
    position: relative;
}

.line-before, .line-after {
    border-color: #F4F37B;
}

.title-categoria {
    color: white;
}
.para-title-cat {
    width: 80%;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.categorias {
    width: 80%;
    background-color: #F8F8F8;
    border-radius: .5rem;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.link-cat-expo {
    text-decoration: none;
}

.item {
    cursor: pointer;
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all .2s ease-in-out;
}

.item:hover {
    margin-top: -10px;
}

.img-fundo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(13, 71, 161, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-categoria {
    width: 70%;
    
}

.name-categoria {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    color: black;
}

@media screen and (max-width: 550px){
    .bar-title-categoria {
        height: 300px;
    }

    .para-title-cat {
        font-size: 1.1rem;
    }

    .categorias {
        padding: 5px;
        gap: 20px;
    }
    .img-fundo {
        width: 90px;
        height: 90px;
    }
    .name-categoria {
        font-size: .9rem;
    }
}
