@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('style-menu.css');
@import url('style-carrosel.css');
@import url('style-informacoes-feira.css');
@import url('style-expositor.css');
@import url('style-categorias.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.home {
    overflow-x: hidden;
}

.all-titles {
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
}

.all-links {
    text-decoration: none;
}

@media screen and (max-width: 1150px) {
    .all-titles {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .all-titles {
        font-size: 1.3rem;
    }
}
