@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('style-menu.css');
@import url('style-carrosel.css');
@import url('style-informacoes-feira.css');
@import url('style-expositor.css');
@import url('style-categorias.css');
@import url('style-avisos.css');
@import url('style-mapa.css');
@import url('style-parceiros-home.css');
@import url('style-rodape.css');
/* @import url('style-modal-atracoes.css'); */

:root {
    --color-rua1: #ffde5a;
    --color-rua2: #EC6627;
    --color-rua3: #5EBB50;
    --color-rua4: #8D55F2;
    --color-rua5: #38B6FC;
    --color-rua6: #959499;
    --color-rua7: #A5569F;
    --color-rua8: #E5AD95;
    --color-rua9: #EE71CA;
    --color-rua10: #010101;
    --color-rua11: #EB2123;

    --color-prox-event: #4A8AF1;
    --color-edit-pass: #FFFFFF;
    --color-ulti-publi: #5CB748;
    --color-fundo-verde: #5EB64A;

    --o-transition: all .2s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.amarelo {
    background-color: var(--color-rua1) !important;
}
.laranja {
    background-color: var(--color-rua2) !important;
}
.verde {
    background-color: var(--color-rua3) !important;
}
.roxo {
    background-color: var(--color-rua4) !important;
}
.azul {
    background-color: var(--color-rua5) !important;
}
.cinza {
    background-color: var(--color-rua6) !important;
}
.rosa_escuro {
    background-color: var(--color-ru7) !important;
}
.laranja_lima {
    background-color: var(--color-rua8) !important;
}
.rosa_claro {
    background-color: var(--color-rua9) !important;
}
.preto {
    background-color: var(--color-rua10) !important;
}
.vermelho {
    background-color: var(--color-rua11) !important;
}

.home {
    overflow-x: hidden;
}

.all-titles {
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
}

.all-links {
    text-decoration: none;
}

@media screen and (max-width: 1150px) {
    .all-titles {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .all-titles {
        font-size: 1.3rem;
    }
}
