@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('style-menu.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* Area Principal */
.area-principal-ProEv {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Imgs Decorativas */
.formas-decorativas-ProEv1 {
    position: fixed;
    top: 30vh;
    right: 85vw;
    width: 20vw;
    z-index: -1;
}

.formas-decorativas-ProEv1 img {
    width: 50%;
    height: auto;
}

.formas-decorativas-ProEv2 {
    position: fixed;
    top: 20vh;
    left: 92vw;
    width: 20vw;
    z-index: -1;
}

.formas-decorativas-ProEv2 img {
    width: 60%;
    height: auto;
}

.formas-decorativas-ProEv3 {
    position: fixed;
    top: 80vh;
    left: 85vw;
    width: 20vw;
    z-index: -1;
}

.formas-decorativas-ProEv3 img {
    width: 100%;
    height: auto;
}

/* Box/Emementos da Box Decorativas */
.box-decorativa-ProEv {
    width: 90%;
    height: 83%;
    background-color: rgba(0, 255, 255, 0);
    z-index: 1;
    position: absolute;
    top: 12%;
    left: 5%;
    overflow: hidden;
}

.div-decorativa-ProEv {
    width: 110%;
    height: 80%;
    background-color: rgba(0, 126, 112, 1);
    transform: rotate(-19.4deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 40%;
    right: 10%;
    flex-direction: column;
}

.titulo-principal-ProEv {
    font-size: 40px;
    font-weight: 600;
    color: white;
    position: relative;
    top: 6%;
    right: 23%;
    transform: rotate(19deg);
}

.card-respon-ProEv {
    width: 40%;
    height: 85%;
    border-radius: 10px;
    display: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    top: 5%;
    overflow: hidden;

    #linha-decorativa-ProEv {
        height: 150px;
        border-right: 12px solid rgba(0, 126, 112, 1);
        border-radius: 10px;
        position: relative;
        bottom: 25%;
        right: 46%;
        transform: rotate(70deg);
    }
}

.div-decoratica-do-cardres-ProEv {
    width: 120%;
    height: 40%;
    transform: rotate(-20deg);
    position: relative;
    bottom: 30%;
    left: 2%;
    background-color: rgba(0, 126, 112, 1);

    #linha-decorativa2-ProEv {
        height: 130px;
        border-right: 10px solid rgb(255, 255, 255);
        border-radius: 10px;
        left: 23%;
        top: 32%;
        position: relative;
        transform: rotate(-90deg);
    }
}


/* Box Peincipal */
.box-principal-ProEv {
    width: 90%;
    height: 86%;
    background-color: rgba(255, 0, 0, 0);
    z-index: 2;
    position: absolute;
    top: 12%;
    left: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* display: none; */
}

.area-setaProEv {
    position: relative;
    top: 93%;
    left: 3%;
}

/* Area das Informações do Evento */
.area-info-evento-ProEv {
    width: 50%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-img-do-ev-ProEv {
    width: 90%;
    height: 60%;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    position: relative;
    top: 10%;
    left: 10%;
}


.banner-evento-ProEv {
    width: 65%;
    height: 100%;
    background-color: rgba(127, 255, 212, 0);
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
}

.banner-evento-ProEv:hover {
    transform: scale(1.1);
}

.banner-evento-ProEv img {
    width: 100%;
    height: auto;
}

.infs-evento-ProEv {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.data-do-ev-ProEv {
    font-size: 50px;
    color: rgba(0, 126, 112, 1);
    position: relative;
    top: 5%;
}

.horario-do-ev-ProEv {
    font-size: 18px;
    color: rgba(0, 126, 112, 1);
    margin-right: 5%;
    position: relative;
    top: 5%;
}

.local-do-ev-ProEv {
    color: rgba(0, 126, 112, 1);
    width: 250px;
    padding-top: 10px;
    margin-left: 10%;
    position: relative;
    top: 5%;
}


/* Area das Atrações do Evento */
.area-atracao-evento-ProEv {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.atracao-ProEv {
    font-size: 30px;
    position: relative;
    top: 10%;
    color: rgba(0, 126, 112, 1);
}

.div-cards-atracoes-ProEv {
    width: 100%;
    height: 60%;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    top: 17%;
}

/* Cards */
.card-atracao-ProEv {
    width: 35%;
    height: 90%;
    background-color: rgba(0, 255, 13, 0);
    border-radius: 10px;
    transition: all 0.5s ease;
    text-align: center;
    border: 1px solid rgba(0, 126, 112, 1);
    overflow: hidden;
    position: relative;
    bottom: 10%;

    #linha-decorativa-ProEv {
        height: 200px;
        border-right: 15px solid rgba(0, 126, 112, 1);
        border-radius: 10px;
        position: relative;
        bottom: 34%;
        right: 46%;
        transform: rotate(70deg);
    }
}

.card-atracao-ProEv:hover {
    transform: scale(1.05)
}

.div-banner-atracao-ProEv {
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    top: 0px;

    #linha-decorativa-dd {
        height: 150px;
        border-right: 20px solid rgba(0, 126, 112, 1);
        bottom: 10%;
        position: relative;
        border-radius: 10px;
        transform: rotate(50deg);
        right: 45%;
        display: none;
    }
}

.area-img-banner-ProEv {
    width: 95%;
    height: 400px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nome-atracao-proev {
    color: rgba(0, 126, 112, 1);
    position: relative;
    font-size: 30px;
    /* top: 6%;
    left: 14%; */
}

.area-img-banner-ProEv img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.div-decoratica-do-card-ProEv {
    width: 120%;
    height: 40%;
    transform: rotate(-20deg);
    position: relative;
    bottom: 30%;
    left: 2%;
    background-color: rgba(0, 126, 112, 1);

    #linha-decorativa2-ProEv {
        height: 200px;
        border-right: 15px solid rgb(255, 255, 255);
        border-radius: 10px;
        left: 23%;
        top: 55%;
        position: relative;
        transform: rotate(-90deg);
    }
}

.button-saibamais-ProEv {
    transform: rotate(20deg);
    border: none;
    background-color: white;
    color: rgba(0, 126, 112, 1);
    border: 1px solid rgba(0, 126, 112, 1);
    width: 65%;
    height: 50px;
    position: absolute;
    left: 15%;
    top: 0%;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button-saibamais-ProEv:hover {
    background-color: rgba(0, 126, 112, 1);
    color: white;
    border: 1px solid white;
}

/* Modal-1 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: 999;
    display: none;
}

.dlog-modal-card-ProEv {
    width: 75%;
    height: 80%;
    background-color: white;
    position: absolute;
    top: 12%;
    left: 12%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.div-decorativa-modal {
    width: 30%;
    height: 30%;
    background-color: rgba(0, 126, 112, 1);
    transform: rotate(-25deg);
    position: absolute;
    bottom: 88%;
    right: 79%;
    z-index: -1;

    #linha-dec1-modal {
        height: 150px;
        border-right: 10px solid white;
        transform: rotate(85deg);
        position: absolute;
        top: 30%;
        right: 45%;
        border-radius: 10px;
    }
}

.div-decorativa2-modal {
    width: 60%;
    height: 50%;
    background-color: rgba(0, 126, 112, 1);
    transform: rotate(-25deg);
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: -1;

    #linha-dec2-modal {
        height: 250px;
        border-right: 10px solid white;
        transform: rotate(90deg);
        position: absolute;
        bottom: 42%;
        left: 80%;
        border-radius: 10px;
    }

    #linha-dec3-modal {
        height: 150px;
        border-right: 10px solid white;
        transform: rotate(90deg);
        position: absolute;
        bottom: 20%;
        left: 80%;
        border-radius: 10px;
    }

    #linha-dec4-modal {
        height: 250px;
        border-right: 10px solid white;
        transform: rotate(90deg);
        position: absolute;
        bottom: 22%;
        left: 60%;
        border-radius: 10px;
    }
}

.div-infs-evento-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    top: 0;
    left: 0;
}

.areatl-img-modal-ProEv {
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-img-modal-ProEv {
    width: 85%;
    height: 55%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 7%;
}

.area-img-modal-ProEv img {
    width: 100%;
    height: auto;
}

.area-text-modal-ProEv {
    width: 50%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.title-atracao-modal {
    font-size: 40px;
    color: rgba(0, 126, 112, 1);
    position: absolute;
    bottom: 67%;
    left: 67%;
}

.p-atracao-modal {
    width: 500px;
    position: absolute;
    top: 37%;
}

#b-sari-modal {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 95%;
    top: 2%;
    cursor: pointer;
}

.overlaay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: 999;
    display: none;
}

/* Modal-2 */
.dlog-modal2-card-ProEv {
    width: 75%;
    height: 80%;
    background-color: white;
    position: absolute;
    top: 12%;
    left: 12%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.div-decorativa-modal2 {
    width: 30%;
    height: 30%;
    background-color: rgba(0, 126, 112, 1);
    transform: rotate(-25deg);
    position: absolute;
    bottom: 88%;
    right: 79%;
    z-index: -1;

    #linha-dec1-modal {
        height: 150px;
        border-right: 10px solid white;
        transform: rotate(85deg);
        position: absolute;
        top: 30%;
        right: 45%;
        border-radius: 10px;
    }
}

.div-decorativa2-modal2 {
    width: 60%;
    height: 50%;
    background-color: rgba(0, 126, 112, 1);
    transform: rotate(-25deg);
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: -1;

    #linha-dec2-modal2 {
        height: 250px;
        border-right: 10px solid white;
        transform: rotate(90deg);
        position: absolute;
        bottom: 42%;
        left: 80%;
        border-radius: 10px;
    }

    #linha-dec3-modal2 {
        height: 150px;
        border-right: 10px solid white;
        transform: rotate(90deg);
        position: absolute;
        bottom: 20%;
        left: 80%;
        border-radius: 10px;
    }

    #linha-dec4-modal2 {
        height: 250px;
        border-right: 10px solid white;
        transform: rotate(90deg);
        position: absolute;
        bottom: 22%;
        left: 60%;
        border-radius: 10px;
    }
}

.div-infs-evento-modal2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    top: 0;
    left: 0;
}

.areatl-img-modal2-ProEv {
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-img-modal2-ProEv {
    width: 85%;
    height: 55%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 7%;
}

.area-img-modal2-ProEv img {
    width: 100%;
    height: auto;
}

.area-text-modal2-ProEv {
    width: 50%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.title-atracao-modal2 {
    font-size: 40px;
    color: rgba(0, 126, 112, 1);
    position: absolute;
    bottom: 67%;
    left: 67%;
}

.p-atracao-modal2 {
    width: 500px;
    position: absolute;
    top: 37%;
}

#b-sari-modal2 {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 95%;
    top: 2%;
    cursor: pointer;
}

/* Modal-res */
.dlog-modalres-card-ProEv {
    width: 50%;
    height: 80%;
    background-color: white;
    position: absolute;
    top: 26%;
    left: 22%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.div-infs-evento-modalres {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    top: 0;
    left: 0;
}

.areatl-img-modalres-ProEv {
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-img-modalres-ProEv {
    width: 85%;
    height: 55%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 7%;
}

.area-img-modalres-ProEv img {
    width: 100%;
    height: auto;
}

.area-text-modalres-ProEv {
    width: 50%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.title-atracao-modalres {
    font-size: 35px;
    color: rgba(0, 126, 112, 1);
    position: absolute;
    bottom: 67%;
    left: 60%;
}

.p-atracao-modalres {
    width: 310px;
    position: absolute;
    top: 37%;
}

#b-sari-modalres {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 95%;
    top: 2%;
    cursor: pointer;
}

/* Modal-res2 */
.dlog-modalres2-card-ProEv {
    width: 50%;
    height: 55%;
    background-color: white;
    position: absolute;
    top: 26%;
    left: 22%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.div-decorativa-modalres2 {
    width: 30%;
    height: 30%;
    background-color: rgba(0, 126, 112, 1);
    transform: rotate(-25deg);
    position: absolute;
    bottom: 88%;
    right: 79%;
    z-index: -1;

    #linha-dec1-modal {
        height: 150px;
        border-right: 10px solid white;
        transform: rotate(85deg);
        position: absolute;
        top: 30%;
        right: 45%;
        border-radius: 10px;
    }
}

.div-decorativa2-modalres2 {
    width: 60%;
    height: 50%;
    background-color: rgba(0, 126, 112, 1);
    transform: rotate(-25deg);
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: -1;

    #linha-dec2-modal2 {
        height: 250px;
        border-right: 10px solid white;
        transform: rotate(90deg);
        position: absolute;
        bottom: 42%;
        left: 80%;
        border-radius: 10px;
    }

    #linha-dec3-modalres2 {
        height: 150px;
        border-right: 10px solid white;
        transform: rotate(90deg);
        position: absolute;
        bottom: 20%;
        left: 80%;
        border-radius: 10px;
    }

    #linha-dec4-modalres2 {
        height: 250px;
        border-right: 10px solid white;
        transform: rotate(90deg);
        position: absolute;
        bottom: 22%;
        left: 60%;
        border-radius: 10px;
    }
}

.div-infs-evento-modalres2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    top: 0;
    left: 0;
}

.areatl-img-modalres2-ProEv {
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-img-modalres2-ProEv {
    width: 85%;
    height: 55%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 7%;
}

.area-img-modalres2-ProEv img {
    width: 100%;
    height: auto;
}

.area-text-modalres2-ProEv {
    width: 50%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.title-atracao-modalres2 {
    font-size: 35px;
    color: rgba(0, 126, 112, 1);
    position: absolute;
    bottom: 67%;
    left: 60%;
}

.p-atracao-modalres2 {
    width: 310px;
    position: absolute;
    top: 37%;
}

#b-sari-modalres2 {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 95%;
    top: 2%;
    cursor: pointer;
}

/* Responsividades: */
/* Responsividade Celular: Principalmente Iphone SE */
@media screen and (max-width: 720px) {
    .area-setaProEv {
        position: relative;
        top: 3%;
    }

    .area-principal-ProEv {
        flex-direction: column;
    }

    .div-decorativa-ProEv {
        display: none;
    }

    .box-decorativa-ProEv {
        background-color: #f8f5f6c3;
        border-radius: 0px 0px 10px 10px;
        height: 61%;
        top: 66%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .box-principal-ProEv {
        height: 60%;
        background-color: #f8f5f6c3;
        border-radius: 10px 10px 0px 0px;
        top: 12%;
    }

    .area-atracao-evento-ProEv {
        display: none;
    }

    .area-info-evento-ProEv {
        background-color: rgba(0, 255, 255, 0);
        width: 100%;
    }

    .div-img-do-ev-ProEv {
        background-color: rgba(255, 228, 196, 0);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-evento-ProEv {
        width: 70%;
    }

    .div-img-do-ev-ProEv img {
        position: relative;
        top: 20%;
    }

    .infs-evento-ProEv {
        background-color: rgba(0, 255, 255, 0);
        width: 100%;
    }

    .data-do-ev-ProEv {
        font-size: 35px;
        position: relative;
        top: 10%;
    }

    .horario-do-ev-ProEv {
        top: 10%;
        position: relative;
    }

    .local-do-ev-ProEv {
        display: none;
    }

    .card-respon-ProEv {
        display: block;
        height: 70%;
        width: 45%;
        top: 0%;
        text-align: center;
    }

    .Nome-atracao-proev {
        font-size: 20px;
    }

    .buttonres-saibamais-ProEv {
        transform: rotate(20deg);
        border: none;
        background-color: white;
        color: rgba(0, 126, 112, 1);
        border: 1px solid rgba(0, 126, 112, 1);
        width: 65%;
        height: 30px;
        position: absolute;
        left: 15%;
        top: 0%;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    /* Modal Res */
    .dlog-modalres-card-ProEv {
        width: 90%;
        height: 25%;
        left: 5%;
        top: 35%;
    }

    .div-decorativa-modalres {
        bottom: 90%;
        height: 10%;

        #linha-dec1-modal {
            display: none;
        }
    }

    .div-decorativa2-modalres {
        top: 90%;
        left: 52%;

        #linha-dec2-modalres {
            display: none;
        }

        #linha-dec3-modalres {
            display: none;
        }

        #linha-dec4-modalres {
            display: none;
        }
    }

    .title-atracao-modalres {
        font-size: 16px;
    }

    .p-atracao-modalres {
        font-size: 7px;
        width: 150px;
        /* left: 55%;     */
    }

    .area-img-modalres-ProEv {
        left: 2%;
    }

    #b-sari-modalres {
        left: 90%;
        top: 5%;
    }

    #b-sari-modalres img {
        width: 70%;
        height: auto;
    }

    .div-decorativa2-modalres {
        width: 50%;
        height: 30%;
        background-color: rgba(0, 126, 112, 1);
        position: relative;
        top: 55%;
        left: 65%;
        transform: rotate(-25deg);
    }

    .div-decorativa-modalres {
        width: 30%;
        height: 30%;
        background-color: rgba(0, 126, 112, 1);
        position: relative;
        bottom: 20%;
        right: 5%;
        transform: rotate(-25deg);
    }


    /* Modal Res2 */
    .dlog-modalres2-card-ProEv {
        width: 90%;
        height: 25%;
        left: 5%;
        top: 35%;
    }

    .div-decorativa2-modalres2 {
        width: 50%;
        height: 30%;
        background-color: rgba(0, 126, 112, 1);
        position: relative;
        top: 55%;
        left: 65%;
        transform: rotate(-25deg);
    }

    .div-decorativa-modalres2 {
        width: 30%;
        height: 30%;
        background-color: rgba(0, 126, 112, 1);
        position: relative;
        bottom: 20%;
        right: 5%;
        transform: rotate(-25deg);
    }

    .title-atracao-modalres2 {
        font-size: 18px;
    }

    .p-atracao-modalres2 {
        font-size: 7px;
        width: 150px;
    }

    .area-img-modalres2-ProEv {
        left: 2%;
    }

    #b-sari-modalres2 {
        left: 90%;
        top: 5%;
    }

    #b-sari-modalres2 img {
        width: 70%;
        height: auto;
    }
}

/* Definição para os outros celulares */
@media (min-width: 390px) and (max-width: 430px){
    .box-principal-ProEv {
        height: 46%;
    }

    .box-decorativa-ProEv {
        height: 47%;
        top: 57%;
    }
    
}


/* Responsividade Ipad Mini: */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .area-principal-ProEv {
        height: 950px;
        background-color: rgba(0, 0, 255, 0);
    }

    .formas-decorativas-ProEv3 {
        top: 88vh;
    }

    .box-decorativa-ProEv {
        background-color: rgba(0, 255, 255, 0);
        height: 95%;
        top: 6%;
    }

    .div-decorativa-ProEv {
        right: 22%;
        bottom: 62%;
        transform: rotate(-20deg);
    }

    .box-principal-ProEv {
        height: 95%;
        top: 6%;
    }

    .titulo-principal-ProEv {
        font-size: 28px;
        top: 35%;
        right: 25%;
        transform: rotate(20deg);
    }
    .bolota-decorativa-Pro-Ev {
        display: none;
    }

    .box-principal-ProEv {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgba(0, 126, 112, 1);
    }

    .area-info-evento-ProEv {
        background-color: rgba(137, 43, 226, 0);
    }

    .div-img-do-ev-ProEv {
        background-color: rgba(0, 255, 255, 0);
        flex-direction: column;
        top: 10%;
        left: 0;
        height: 60%;
    }

    .banner-evento-ProEv {
        background-color: rgba(0, 0, 255, 0);
        width: 100%;
    }

    .infs-evento-ProEv {
        background-color: rgba(58, 226, 43, 0);
        width: 100%;
    }

    .area-atracao-evento-ProEv {
        background-color: rgba(153, 0, 255, 0);
    }

    .div-cards-atracoes-ProEv {
        background-color: rgba(0, 255, 255, 0);
        height: 85%;
        top: 6%;
        gap: 30px;
        flex-direction: column;
    }

    .card-atracao-ProEv {
        width: 70%;
        height: 40%;
        top: 0%;

        #linha-decorativa-ProEv {
            bottom: 48%;
            right: 52%;
        }
    }

    .div-decoratica-do-card-ProEv {
        position: relative;
        bottom: 55%;
    }

    .card-atracao-ProEv {
        #linha-decorativa2-ProEv {
            top: 40%;
            left: 26%;
        }
    }

    .div-banner-atracao-ProEv {
        background-color: rgba(0, 255, 255, 0);

        #linha-decorativa-dd {
            display: none;
        }
    }

    .div-banner-atracao-ProEv img {
        position: relative;
        top: 18%;

    }

    .button-saibamais-ProEv {
        width: 65%;
        height: 40px;
        top: 5%;
        left: 15%;
    }

    .atracao-ProEv {
        font-size: 25px;
        top: 11%;
    }

    .area-img-banner-ProEv img {
        top: 4%;
    }

    /* Modal */
    .dlog-modal-card-ProEv {
        width: 95%;
        height: 45%;
        left: 3%;
        top: 30%;
    }

    .div-decorativa-modal {
        bottom: 90%;

        #linha-dec1-modal {
            display: none;
        }
    }

    .div-decorativa2-modal {
        top: 90%;
        left: 52%;

        #linha-dec2-modal {
            display: none;
        }

        #linha-dec3-modal {
            display: none;
        }

        #linha-dec4-modal {
            display: none;
        }
    }

    .title-atracao-modal {
        font-size: 28px;
    }

    .p-atracao-modal {
        font-size: 14px;
        width: 320px;
        /* left: 55%;     */
    }

    .area-img-modal-ProEv {
        left: 2%;
    }

    #b-sari-modal {
        left: 90%;
        top: 8%;
    }

    /* Modal2 */
    .dlog-modal2-card-ProEv {
        width: 95%;
        height: 45%;
        left: 3%;
        top: 30%;
    }

    .div-decorativa-modal2 {
        bottom: 90%;

        #linha-dec1-modal {
            display: none;
        }
    }

    .div-decorativa2-modal2 {
        top: 90%;
        left: 52%;

        #linha-dec2-modal2 {
            display: none;
        }

        #linha-dec3-modal2 {
            display: none;
        }

        #linha-dec4-modal2 {
            display: none;
        }
    }

    .title-atracao-modal2 {
        font-size: 28px;
        left: 68%;
    }

    .p-atracao-modal2 {
        font-size: 14px;
        width: 320px;
    }

    .area-img-modal2-ProEv {
        left: 2%;
    }

    #b-sari-modal2 {
        left: 92%;
        top: 5%;
    }

}

/* Responsividade Ipad Air: */
@media (min-width: 820px) and (min-height: 1180px) {
    .div-decoratica-do-card-ProEv {
        bottom: 50%;

        #linha-decorativa2-ProEv {
            top: 47%;
        }
    }

    .button-saibamais-ProEv {
        font-size: 15px;
        width: 60%;
        top: 8%;
        left: 16%;
    }

    .card-atracao-ProEv {
        #linha-decorativa-ProEv {
            bottom: 45%;
        }
    }

    .Nome-atracao-proev {
        top: 0;
        left: 0;
    }

    .box-principal-ProEv {
        height: 100%;
        top: 12%;
    }

    .box-decorativa-ProEv {
        top: 12%;
    }
}

/* Responsividade Ipad Pro: */
@media screen and (min-height: 1366px) {
    .area-principal-ProEv {
        height: 1255px;
    }

    .formas-decorativas-ProEv3 {
        top: 88vh;
    }

    .box-decorativa-ProEv {
        background-color: rgba(0, 255, 255, 0);
        height: 95%;
        top: 6%;
    }

    .div-decorativa-ProEv {
        right: 22%;
        bottom: 62%;
        transform: rotate(-21deg);
    }

    .box-principal-ProEv {
        height: 95%;
        top: 7%;
    }

    .titulo-principal-ProEv {
        font-size: 45px;
        top: 37%;
        right: 24%;
        transform: rotate(20.5deg);
    }

    .bolota-decorativa-Pro-Ev {
        display: none;
    }

    .box-principal-ProEv {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgba(0, 126, 112, 1);
    }

    .area-info-evento-ProEv {
        background-color: rgba(137, 43, 226, 0);
    }

    .div-img-do-ev-ProEv {
        background-color: rgba(0, 255, 255, 0);
        flex-direction: column;
        top: 10%;
        left: 0;
        height: 60%;
    }

    .banner-evento-ProEv {
        background-color: rgba(0, 0, 255, 0);
        width: 100%;
    }

    .infs-evento-ProEv {
        background-color: rgba(58, 226, 43, 0);
        width: 100%;
    }

    .area-atracao-evento-ProEv {
        background-color: rgba(153, 0, 255, 0);
    }

    .div-cards-atracoes-ProEv {
        background-color: rgba(0, 255, 255, 0);
        height: 80%;
        top: 0%;
        gap: 30px;
        flex-direction: column;
    }

    .card-atracao-ProEv {
        width: 70%;
        height: 40%;
        top: 5%;
        #linha-decorativa-ProEv {
            height: 180px;
            bottom: 40%;
            right: 55%;
        }
    }

    .div-decoratica-do-card-ProEv {
        bottom: 35%;
        left: 2%;
    }

    .card-atracao-ProEv {
        #linha-decorativa2-ProEv {
            height: 185px;
            top: 70%;
            left: 26%;
        }
    }

    .button-saibamais-ProEv {
        top: 0%;
        left: 18%;
    }

    .atracao-ProEv {
        font-size: 30px;
        top: 9%;
    }

    .div-banner-atracao-ProEv {
        background-color: rgba(0, 255, 255, 0);

        #linha-decorativa-dd {
            bottom: 6%;
            right: 47%;
        }
    }

    .div-banner-atracao-ProEv img {
        position: relative;
        top: 12%;
    }

    .Nome-atracao-proev {
        font-size: 30px;
        top: 5%;
    }


    /* Modal */
    .dlog-modal-card-ProEv {
        width: 85%;
        height: 35%;
        left: 7%;
        top: 35%;
    }

    .div-decorativa-modal {
        bottom: 90%;

        #linha-dec1-modal {
            display: none;
        }
    }

    .div-decorativa2-modal {
        top: 90%;
        left: 52%;

        #linha-dec2-modal {
            display: none;
        }

        #linha-dec3-modal {
            display: none;
        }

        #linha-dec4-modal {
            display: none;
        }
    }

    .title-atracao-modal {
        font-size: 30px;
    }

    .p-atracao-modal {
        font-size: 15px;
        width: 355px;
        /* left: 55%;     */
    }

    .area-img-modal-ProEv {
        left: 2%;
    }

    #b-sari-modal {
        left: 90%;
        top: 5%;
    }

    /* Modal2 */
    .dlog-modal2-card-ProEv {
        width: 85%;
        height: 35%;
        left: 7%;
        top: 35%;
    }

    .div-decorativa-modal2 {
        bottom: 90%;

        #linha-dec1-modal {
            display: none;
        }
    }

    .div-decorativa2-modal2 {
        top: 90%;
        left: 52%;

        #linha-dec2-modal2 {
            display: none;
        }

        #linha-dec3-modal2 {
            display: none;
        }

        #linha-dec4-modal2 {
            display: none;
        }
    }

    .title-atracao-modal2 {
        font-size: 30px;
        left: 68%;
    }

    .p-atracao-modal2 {
        font-size: 15px;
        width: 355px;
        /* left: 55%;     */
    }

    .area-img-modal2-ProEv {
        left: 2%;
    }

    #b-sari-modal2 {
        left: 92%;
        top: 5%;
    }
}

/* Responsividade Surface Duo */
@media (max-width: 720px) and (min-width: 540px) {
    .box-principal-ProEv {
        height: 74%;
        top: 12%;
    }

    .box-decorativa-ProEv {
        height: 61%;
        top: 80%;
    }
}

/* Responsividade Nex Hub */
@media (min-width: 1024px) and (max-height: 600px) {

    .box-principal-ProEv {
        border: 2px solid rgba(0, 126, 112, 1);
    }

    .div-decorativa-ProEv {
        bottom: 65%;
        transform: rotate(-14deg);
    }

    .titulo-principal-ProEv {
        transform: rotate(13deg);
        top: 30%;
        font-size: 30px;
        right: 31%;
    }

    .bolota-decorativa-Pro-Ev {
        display: none;
    }

    .div-img-do-ev-ProEv {
        background-color: rgba(0, 0, 255, 0);
        flex-direction: column;
        height: 80%;
        top: 14%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-evento-ProEv {
        background-color: rgba(137, 43, 226, 0);
        width: 75%;
        height: 50%;
        position: relative;
        bottom: 4rem;
    }

    .infs-evento-ProEv {
        display: none;
    }

    .atracao-ProEv {
        top: 10%;
    }

    .area-atracao-evento-ProEv {
        background-color: rgba(0, 255, 255, 0);
    }

    .div-cards-atracoes-ProEv {
        background-color: rgba(0, 0, 255, 0);
        top: 13%;
        height: 81%;

    }
    .card-atracao-ProEv {
        width: 40%;
        height: 75%;
    }

    .Nome-atracao-proev{
        font-size: 23px;
    }

    .div-decoratica-do-card-ProEv {
        width: 125%;
        bottom: 40%;

        #linha-decorativa2-ProEv {
            top: 10%;
        }
    }

    .card-atracao-ProEv {
        #linha-decorativa-ProEv {
            bottom: 32%;
        }
    }

    .button-saibamais-ProEv{
        height: 26%;
    }

    /* modal 1 */
    .dlog-modal-card-ProEv {
        width: 80%;
        height: 70%;
        left: 10%;
        top: 20%;
    }

    .div-decorativa-modal {
        #linha-dec1-modal {
            display: none;
        }
    }

    .div-decorativa2-modal {
        top: 95%;

        #linha-dec2-modal {
            display: none;
        }

        #linha-dec4-modal {
            height: 200px;
            bottom: 30%;
            left: 90%;
        }
    }

    .title-atracao-modal{
        font-size: 25px;
    }

    .p-atracao-modal{
        width: 300px;
        font-size: 12px;
    }

    /* Modal 2 */
    .dlog-modal2-card-ProEv {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 20%;
    }

    .div-decorativa-modal2 {
        #linha-dec1-modal2 {
            display: none;
        }
    }

    .div-decorativa2-modal2 {
        top: 95%;

        #linha-dec2-modal2 {
            display: none;
        }

        #linha-dec4-modal2 {
            height: 200px;
            bottom: 30%;
            left: 90%;
        }
    }

    .title-atracao-modal2{
        font-size: 25px;
    }

    .p-atracao-modal2{
        width: 300px;
        font-size: 12px;
    }
}

/* Responsividade Nex Hub Max */
@media (min-width: 1280px) and (max-height: 800px) {

    .box-principal-ProEv {
        border: 2px solid rgba(0, 126, 112, 1);
    }

    .div-decorativa-ProEv {
        bottom: 60%;
        transform: rotate(-14deg);
    }

    .titulo-principal-ProEv {
        transform: rotate(13.5deg);
        top: 32%;
    }

    .bolota-decorativa-Pro-Ev {
        width: 160px;
        height: 160px;
        top: 40%;
        right: 40%;
    }

    .div-img-do-ev-ProEv {
        background-color: rgba(0, 0, 255, 0);
        flex-direction: column;
        height: 80%;
        top: 20%;
        left: 0;
    }

    .banner-evento-ProEv {
        background-color: rgba(137, 43, 226, 0);
        width: 100%;
        height: 50%;
    }

    .banner-evento-ProEv img {
        width: 80%;
        margin-left: 2rem;
    }

    .infs-evento-ProEv {
        background-color: rgba(128, 255, 0, 0);
        width: 100%;
        height: 50%;
        display: none;
    }

    .local-do-ev-ProEv {
        display: none;
    }

    .atracao-ProEv {
        top: 5%;
    }

    .area-atracao-evento-ProEv {
        background-color: rgba(0, 255, 255, 0);
    }

    .div-cards-atracoes-ProEv {
        width: 100%;
        height: 65%;
        top: 17%;
    }

    .card-atracao-ProEv {
        width: 40%;
        height: 80%;
    }

    .div-decoratica-do-card-ProEv {
        width: 125%;
        left: 0;
        bottom: 40%;
        #linha-decorativa2-ProEv {
            top: 55%;
            height: 140px;
        }
    }

    .card-atracao-ProEv {
        #linha-decorativa-ProEv {
            bottom: 35%;
            right: 50%;
        }
    }

    /* modal 1 */
    .dlog-modal-card-ProEv {
        width: 80%;
        height: 70%;
        left: 10%;
        top: 20%;
    }

    .div-decorativa-modal {
        #linha-dec1-modal {
            display: none;
        }
    }

    .div-decorativa2-modal {
        top: 85%;

        #linha-dec2-modal {
            bottom: 38%;
        }

        #linha-dec3-modal {
            left: 85%;
        }

        #linha-dec4-modal {
            height: 200px;
            bottom: 28%;
            left: 60%;
        }
    }

    /* Modal 2 */
    .dlog-modal2-card-ProEv {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 20%;
    }

    .div-decorativa-modal2 {
        #linha-dec1-modal2 {
            display: none;
        }
    }

    .div-decorativa2-modal2 {
        top: 95%;

        #linha-dec2-modal2 {
            display: none;
        }

        #linha-dec4-modal2 {
            height: 200px;
            bottom: 30%;
            left: 90%;
        }
    }

    .title-atracao-modal {
        bottom: 70%;
        left: 65%;
    }

    .p-atracao-modal {
        width: 323px;
    }

    .title-atracao-modal2 {
        bottom: 70%;
        left: 65%;
    }

    .p-atracao-modal2 {
        width: 323px;
    }
}