.carrossel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #c1c1c1;
}

.conteiner-slider {
    width: 100%;
    height: calc(97% - 80px);
}

.slider-all {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-swap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.swap {
    height: 20px;
    padding: 0px 20px;
    cursor: pointer;
}

.arrow {
    font-size: 2rem;
}

.slider {
    width: 100%;
    z-index: 0;
}

.slider-content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.carrosel {
    width: 100%;
}

.slider-balls{
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: #c1c1c1;
}

.ball {
    width: 4%;
    height: .5rem;
    background-color: white;
    border-radius: .2rem;
}

@media screen and (max-width: 1150px) {
    .carrossel {
        height: 48vh;
    }
}

@media screen and (max-width: 550px) {
    .carrossel {
        height: 50vh;
    }

    .conteiner-slider {
        height: calc(95% - 70px);
    }

    .slider-balls {
        height: 5%;
    }

    .ball {
        width: 10%;
    }

    .arrow {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 500px) {
    .carrossel {
        height: 38vh;
    }
}