.cabecalho .list-menu {
    display: flex;
}

.carrossel {
    width: 100%;
    height: auto;
    background-color: #c1c1c1;
    padding-top: 110px;
}

.conteiner-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-swap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;
    z-index: 1;
    /* background-color: rgba(255, 255, 255, 0.452); */
}

.swap {
    padding: 1rem;
    cursor: pointer;
}

.arrow {
    font-size: 2rem;
    color: black;
}

.slider {
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

.slider-balls {
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: #c1c1c1;
}

.ball {
    width: 4rem;
    height: .8rem;
    border-radius: .3rem;
    background-color: white;
}

@media screen and (max-width: 1400px) {
    .slider {
        height: 85vh;
    }
}

@media screen and (max-width: 1050px) {
    .slider {
        height: 40vh;
    }
}

@media screen and (max-width: 500px) {
    .slider {
        height: 25vh;
    }
}