.expositores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.bar-title-expositor {
    background-color:  #8B3AC4;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content-title-expo {
    display: flex;
}

.title-expositor {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    z-index: 1;
}

.lines-before {
    background-color: transparent;
    padding: 0px 25px;
    border-bottom: 4px solid #FF9665;
    border-left: 4px solid #FF9665;
    position: relative;
    left: 40px;
    top: 5px;
    z-index: 2;
}

.lines-after {
    background-color: transparent;
    padding: 0px 25px;
    border-top: 4px solid #FF9665;
    border-right: 4px solid #FF9665;
    position: relative;
    right: 40px;
    bottom: 5px;
    z-index: 2;
}

.para-title {
    width: 50%;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}

.listar-expositor {
    width: 85%;
    height: auto;
    border-radius: 10px;
    background-color: #F8F8F8;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-perfis {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0px;
    background-color: #F8F8F8;
}


.card-per-expo {
    background-color: #7CC4BF;
    width: 230px;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    transition: all .2s ease-in;
}

.card-per-expo:hover {
    margin-top: -15px;
}

.head-card {
    background-color: #DCDCDC;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: all .2s ease-in;
}

.head-seja-expo {
    background-color: #f8621a;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #f8601ac5;
}

.body-card {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 0px 15px 10px 15px;
    height: 70%;
    position: absolute;
    top: 130px;
    /* bottom: 90px; */
    z-index: 0;
    text-align: center;
    overflow: hidden;
    transition: all .2s ease-in;
}

.img-perfil-expo {
    width: 90%;
}

.nome-expo {
    margin-top: 70px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.detalhes-expo {
    width: 95%;
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.para-cate {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.span-cate {
    font-weight: 400;
}

.para-color {
    font-weight: 400;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.span-color {
    font-weight: 500;
    padding: 2px 5px;
    color: black;
    border-radius: .5rem;
}

.color-amarela {
    background-color: var(--color-rua1);
}

.color-verde {
    color: #fff;
    background-color: var(--color-rua3);
}

.color-roxo {
    color: #fff;
    background-color: var(--color-rua4);
}

.color-laranja {
    color: #fff;
    background-color: var(--color-rua2);
}

.btn-ver-info {
    padding: 5px 10px;
    border: 2px solid #8B3AC4;
    border-radius: .5rem;
    color: #8B3AC4;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
    transition: all .2s ease-in;
}

.btn-ver-info:hover {
    background-color: #8B3AC4;
    color: white;
}

.conteiner-outros-expo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  gap: 30px;
}

.btn-outros-expo {
  background-color: white;
  color: #8B3AC4;
  border: 2px solid #8B3AC4;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: .5rem;
  padding: 5px 10px;
  text-transform: capitalize;
  transition: all .2s ease-in;
}

.btn-outros-expo:hover {
  background-color: #8B3AC4;
  color: white;
}

.content-seja-expositor {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.btn-seja-expo:hover {
    border-color: #FF9665;
}

.link-edital {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 1150px) {
    .bar-title-expositor {
        height: 300px;
    }

    .para-title {
        width: 70%;
    }

    .cards-perfis {
        /* height: auto; */
        gap: 50px;
        width: 70%;
    } 
}

@media screen and (max-width: 500px) {
    .bar-title-expositor {
        height: 250px;
    }

    .conteiner-outros-expo {
        flex-direction: column-reverse;
    }

}
