@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("style-menu.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.principal {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.principal .box {
    width: 90%;
    height: 90%;
    backdrop-filter: blur(0px);
    background-color: rgba(248, 245, 246, 0.705);
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0px;
    gap: 10px;
    transition: all .5s ease-in-out;
}

.principal .box:hover{
    background-color: #f0f0f013;
    backdrop-filter: blur(30px);
}

.principal .box .seta-ec{
    position: relative;
    top: 90%;
    left: 2%;
}

.principal .box .area-infs-ec{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0);
    flex-direction: column;
    gap: 50px;
}

.area-infs-ec h1{
    font-size: 30px;
    position: relative;
    bottom: 1%;
}

.box .area-infs-ec .area-total-button {
    width: 60%;
    height: 10%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all .2s ease-in-out;
    margin-bottom: 0.5rem;
}

.area-total-button:hover{
    transform: scale(1.1);
}

#button-ec-1{
    border-radius: 10px;
    background-color: #3B9BDC;
    box-shadow: 1px 1px 5px rgba(36, 35, 35, 0.582);
    border: none; 
}

#button-ec-2{
    border-radius: 10px;
    background-color: #22BC9D;
    box-shadow: 1px 1px 5px rgba(36, 35, 35, 0.582);
    border: none; 
}

#button-ec-3{
    border-radius: 10px;
    background-color: #F2C518;
    box-shadow: 1px 1px 5px rgba(36, 35, 35, 0.582);
    border: none; 
}

.principal .box .area-img-ec{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(137, 43, 226, 0);
}

.area-img-ec img{
    margin-right: 6rem;
}

.bolas-fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -3;
}

.bolas-fundo .bola-verde1 {
    position: absolute;
    top: 16vh;
    z-index: -3;
}


.bolas-fundo .bola-verde2 {
    position: absolute;
    right: 0px;
    top: 16vh;
    z-index: -3;
}

.bolas-fundo .bola-rosa {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -3;
}

#p-ed-kids{
    right: 26%;
}

@media screen and (max-width: 720px) {
    .principal .box .area-img-ec{
        display: none;
    }

    .bolas-fundo img{
        width: 15%;
        height: auto;
    }

    .principal .box .seta-ec{
        top: 0%;
    }

    .principal .box .area-infs-ec{
        background-color: rgba(0, 255, 255, 0);
        width: 100%;
        position: relative;
        right: 1.5rem;
        gap: 35px;
    }

    .box .area-infs-ec .area-total-button{
        width: 100%;
        font-size: 16px;
    }

    .area-infs-ec h1{
        font-size: 29px;
    }

}

@media (max-width: 768px) and (min-height: 1024px){
    .principal{
        background-color: #ff387700;
        height: 90vh;
    }

    .principal .box .area-img-ec{
        display: none;
    }

    .principal .box .area-infs-ec{
        background-color: rgba(0, 255, 255, 0);
        width: 100%;
        position: relative;
        right: 1.5rem;
    }

    .box .area-infs-ec .area-total-button{
        width: 70%;
    }

}

@media (min-width: 820px) and (min-height: 1180px){
    .principal{
        background-color: #ff387700;
        height: 90vh;
    }

    .principal .box .area-infs-ec{
        background-color: rgba(0, 255, 255, 0);
        width: 60%;
        position: relative;
        right: 1.5rem;
    }

    .box .area-infs-ec .area-total-button{
        width: 70%;
    }

    .principal .box .area-img-ec{
        width: 40%;
    }

    .principal .box .area-img-ec img{
        width: 90%;
        height: auto;
    }
}

@media (min-width: 1024px) and (max-height: 600px){
    .principal{
        background-color: #ff387700;
    }

    .principal .box .area-img-ec{
        display: none;
    }
    
    .principal .box .area-infs-ec{
        background-color: rgba(0, 255, 255, 0);
        width: 100%;
        position: relative;
        right: 1.5rem;
    }

    .box .area-infs-ec .area-total-button{
        width: 55%;
    }

    .bolas-fundo .bola-rosa{
        width: 15%;
        height: auto;
    }
    .bolas-fundo .bola-verde1{
        width: 10%;
        height: auto;
    }
    .bolas-fundo .bola-verde2{
        width: 10%;
        height: auto;
    }

}

@media (min-width: 1280px) and (max-height: 800px){
    .principal{
        background-color: #ff387700;
    }

    .principal .box .area-infs-ec{
        background-color: rgba(0, 255, 255, 0);
        width: 60%;
    }

    .principal .box .area-img-ec{
        width: 40%;
    }

    .principal .box .area-img-ec img{
        width: 80%;
        height: auto;
    }

    .bolas-fundo .bola-rosa{
        width: 15%;
        height: auto;
    }

    .bolas-fundo .bola-verde1{
        width: 10%;
        height: auto;
    }

    .bolas-fundo .bola-verde2{
        width: 10%;
        height: auto;
    }

}
