@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('style-menu.css');
@import url('../css-modais/css-m-perfil-expositor.css');
@import url('style-rodape.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root {
    --color-rua1: #FDF148;
    --color-rua2: #FC671D;
    --color-rua3: #90C470;
    --color-rua4: #B313FF;
    --color-branca: white;
}

.content-principal {
    width: 80vw;
    height: auto;
    margin: auto;
    padding: 10px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-area {
    /* background-color: aquamarine; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 20px;
}

.title-all-expo {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.select-cat {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: .4rem;
    font-weight: 500;
    font-size: .8rem;
    text-transform: capitalize;
}

.opcoes-cat {
    font-weight: 500;
    font-size: .8rem;
    text-transform: capitalize;
}

.procurar {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    padding: 5px;
}

.title-pes  {
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    padding: 5px;
    text-transform: capitalize;
}

.pesquisa-expo {
    display: flex;
    align-items: center;
    width: auto;
}

.input-pes {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    border: 2px solid #000;
}

.area-all-cards {
    width: 100%;
    background-color: #F8F8F8;
    padding: 10px;
    border-radius: .5rem;
}

.vir-aqui {
    width: 4%;
    height: 40px;
}

.secao-expo {
    width: 100%;
    margin-top: 30px;
}

.content-title-sec {
    /* background-color: aqua; */
    padding: 20px;
    padding-left: 70px;
}

.cards-perfis {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0px;
    border-radius: .5rem;
}


.card-per-expo {
    /* background-color: aqua; */
    width: 190px;
    height: 425px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .2s ease-in;
}

.card-per-expo:hover {
    margin-top: -15px;
}

.head-card {
    background-color: white;
    min-width: 190px;
    min-height: 190px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: all .2s ease-in;
}

.head-seja-expo {
    background-color: #f8621a;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #f8601ac5;
}

.body-card {
    width: 100%;
    height: 0%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 80%;
    position: absolute;
    top: 90px;
    /* bottom: 90px; */
    z-index: 0;
    text-align: center;
    overflow: hidden;
    transition: all .2s ease-in;
}



.card-per-expo:hover .head-card {
    top: 0px;
    margin: 0px;
}

.img-perfil-expo {
    width: 95%;
}

.seja-expo {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
}

.para-seja-expo {
    margin-top: 110px;
    font-size: .9rem;
}

.btn-seja-expo {
    width: 70%;
    padding: 5px 0px;
    border: 1px solid #f8621a;
    background-color: white;
    border-radius: .5rem;
    transition: all .2s ease-in;
}

.link-edital {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.btn-seja-expo:hover {
    background-color: #f8621a;
}

.btn-seja-expo:hover .link-edital {
    color: white;
}

.nome-expo {
    margin-top: 110px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.detalhes-expo {
    width: 95%;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.para-cate {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.span-cate {
    font-weight: 400;
}

.para-color {
    font-weight: 600;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.span-color {
    font-weight: 500;
    padding: 2px 5px;
    color: black;
    border-radius: .5rem;
}

.color-amarela {
    background-color: var(--color-rua1);
}

.color-verde {
    background-color: var(--color-rua3);
}

.color-roxo {
    background-color: var(--color-rua4);
}

.color-laranja {
    background-color: var(--color-rua2);
}

.btn-ver-info {
    padding: 5px 10px;
    border: 2px solid #5C8001;
    border-radius: .5rem;
    color: #5C8001;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
    transition: all .2s ease-in;
}

.btn-ver-info:hover {
    background-color: #5C8001;
    color: white;
}

.conteiner-outros-expo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.btn-outros-expo {
  background-color: white;
  border: 2px solid #f8621a;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: .5rem;
  padding: 5px 10px;
  transition: all .2s ease-in;
}

.btn-outros-expo:hover {
  background-color: #f8621a;
}

@media (max-width: 1150px) {

    .cards-perfis {
        /* height: auto; */
        gap: 50px;
        width: 90%;
    } 
}

@media screen and (max-width: 500px) {

    .cards-perfis {
        width: 100%;
        gap: 15px;
    }
    .card-per-expo {
        width: 160px;
        height: 415px;
    }

    .head-card {
        min-width: 160px;
        min-height: 160px;
    } 

    .body-card {
        top: 60px;
        gap: 0px;
    }

    .para-cate {
        flex-direction: column;
    }
}
