@charset "UTF-8";
@import url("style-menu.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colors Variaveis */
:root{
    --color-box: #f4f4f4a2;

    --color-rosa: #FF3877;
}

/* Areas Principais:  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    width: 100%;
    margin: 0 auto;
    
}

main {
    width: 100%;
    margin: 0 auto;
    padding-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Box:  */
.container_box{
    width: 90%;
    min-height: 80vh;
    gap: 50px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: var(--color-box);
}

/* Titulo da Página:  */
.title{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-size: 30px;
    font-weight: 600;
}

/* Area dos Cards:  */
.container_cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;           
    gap: 50px;                 
    padding: 20px 0;
}


/* CARDS:  */
.card {
    width: 320px;             
    height: 490px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid var(--color-rosa);
    transition: transform 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.733);
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
}

.img-ult{
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px);
}

.area_text{
    width: 100%;
    height: 120px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Titulo do Card:  */
.titulo{
    width: 260px;
    max-width: 260px;
    height: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h3{
    font-weight: 600;
}

/* Texto (p) do Card:  */
.text {
    width: 260px;
    height: 90px;
    max-height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
    word-break: break-word;
    white-space: normal;
    padding: 5px;
    box-sizing: border-box;
}

.por-cima-card{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
}

.parte-superior{
    width: 100%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parte-inferior {
    width: 100%;
    height: 50%;
    position: relative; 
    overflow: hidden;
    background-color: transparent ;
}

.linha-decorativa-1 {
    width: 12px;
    height: 185px;
    background-color: var(--color-rosa);
    position: absolute;
    border-radius: 10px 10px;
    transform: rotate(68deg);
    top: 41%;
    left: 21%;
}

.container__decorativo {
    width: 200px;
    height: 26rem;
    background-color: var(--color-rosa);
    position: absolute;
    top: 30%;
    left: 21%;
    transform: rotate(69deg);
}

.linha-decorativa-2 {
    width: 12px;
    height: 185px;
    background-color: white;
    position: absolute;
    top: -5%;
    left: 5%;
    border-radius: 10px 10px;
}

/* Botão Saiba Mais:  */
.meu-botao {
    background-color: white;
    color: var(--color-rosa);
    padding: 14px 45px;
    border: 1px solid var(--color-rosa);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    z-index: 2;
    top: 26%;
    position: relative;
    left: 23%;
}
.meu-botao:hover {
    background-color: var(--color-rosa); 
    color: white;
    border: 2px solid white;
}

/* Seta Voltar:  */
.seta_voltar {
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: 5px; 
    z-index: 3; 
    transition: transform 0.2s ease;
}

.seta_voltar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Imagens Decorativas:  */
.decorative__img1 {
    position: fixed;
    top: 15vh;
    left: 0vw;
    width: 20vw;
    z-index: -1;
}
.decorative__img1 img{
    width: 40%;
    height: auto;
}

.decorative__img2 {
    position: fixed;
    top: 20vh;
    right: -12vw;
    width: 20vw;
    z-index: -1;
}
.decorative__img2 img{
    width: 40%;
    height: auto;
}

.decorative__img3 {
    position: fixed;
    right: -10vw;
    bottom: -1vw;
    width: 20vw;
    z-index: -1;
}
.decorative__img3 img{
    width: 60%;
    height: auto;
}


/* Responsividades: */
/* Celulares pequenos (smartphones compactos) */
@media (max-width: 575.98px){
    main{
        padding-top: 100px;
    }
    .container_box{
        gap: 10px;
    }
    .title h1{
        font-size: 25px;
    }

    /* Seta Voltar:  */
    .seta_voltar {
        top: 10px;
        left: 5px;
    }
    .seta_voltar img{
        width: 70%;
        height: auto;
    }

    /* Imagens Decorativas:  */
    .decorative__img1{
        top: 20vh;
    }
    .decorative__img1 img{
        width: 50%;
        height: auto;
    }
    .decorative__img3{
        bottom: -2vw;
    }
}

/* Celulares médios e grandes (smartphones modernos) */
@media (min-width: 576px) and (max-width: 767.98px){
    main{
        padding-top: 120px;
    }
    .container_box{
        gap: 10px;
    }

    /* Seta Voltar:  */
    .seta_voltar {
        top: 10px;
        left: 5px;
    }
    .seta_voltar img{
        width: 70%;
        height: auto;
    }
    
    /* Imagens Decorativas:  */
    .decorative__img1{
        top: 20vh;
    }
    .decorative__img1 img{
        width: 50%;
        height: auto;
    }
    .decorative__img3{
        bottom: -2vw;
    }
}

/* Tablets e celulares em paisagem */
@media (min-width: 768px) and (max-width: 991.98px){
    main{
        padding-top: 130px;
    }
    .container_box{
        gap: 15px;
    }

    /* Seta Voltar:  */
    .seta_voltar {
        top: 10px;
    }
    
    /* Imagens Decorativas:  */
    .decorative__img1{
        top: 20vh;
    }
    .decorative__img1 img{
        width: 50%;
        height: auto;
    }
    .decorative__img3{
        bottom: -2vw;
    }
}

/* Notebooks e desktops padrão */
@media (min-width: 992px) and (max-width: 1199.98px){
    .container_box{
        gap: 15px;
    }

    /* Seta Voltar:  */
    .seta_voltar {
        top: 10px;
    }
    
    /* Imagens Decorativas:  */
    .decorative__img1{
        top: 20vh;
    }
    .decorative__img1 img{
        width: 50%;
        height: auto;
    }
    .decorative__img3{
        bottom: -2vw;
    }
}

/* Desktops grandes e telas Full HD */
@media (min-width: 1200px) and (max-width: 1399.98px){
    .container_box{
        gap: 15px;
    }

    /* Imagens Decorativas:  */
    .decorative__img1{
        top: 20vh;
    }
    .decorative__img1 img{
        width: 50%;
        height: auto;
    }
    .decorative__img3{
        bottom: -2vw;
    }
}

/* Matheus Manja  */