@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.cabecalho {
    position: fixed;
    background-color: white;
    width: 100vw;
    border-bottom: 1px solid rgba(161, 161, 161, 0.788);
    z-index: 5;
}

.list-menu {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.content-logo{
    width: 10%;
    height: 100%;
    max-width: 150px;
    min-width: 110px;
}

.link-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.img-logo {
    width: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-item {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.nav-item::after{
    content: "";
    width: 10%;
    padding: 1.3px;
    background-color: #FF3877;
    transition: all .2s ease-in-out;
}
.nav-item:hover::after {
    width: 100%;
}

.link-ul {
    text-decoration: none;
    color: black;
}

.conteiner-outros {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.sandwich {
    display: none;
    font-size: 2.4rem;
    color: black;
}

.link-login {
    text-decoration: none;
    color: black;
}

.login {
    font-size: 2.5rem;
}


@media screen and (max-width: 678px) {
    .nav-list {
        display: none;
    }

    .sandwich {
        display: flex;
    }

    .open {
        background-color: white;
        height: 0%;
        display: flex;
        flex-direction: column;
        padding: 15px 0px;
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100vw;
        height: auto;
        overflow: hidden;
        border-bottom: 1px solid rgba(161, 161, 161, 0.788);
        -moz-animation-duration: .2s;
        -webkit-animation-duration: .2s;
        animation-duration: .2s;
        -webkit-animation-name: ani-open-menu;
        -moz-animation-name: ani-open-menu;
        animation-name: ani-open-menu;
        -moz-animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -moz-animation-direction: alternative;
        -webkit-animation-direction: alternative;
        animation-direction: alternative;
    }

    @keyframes ani-open-menu {
        from {
            height: 0%;
            transition: all .2s ease-in-out;
        }
        to {
            height: auto;
        }
    }
}
