/* rodape */
.rodape {
    background-color: #DD2D4A;
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.box-footer {
    display: flex;
    justify-content: space-around;
    color: #fff;
    height: 90%;
}

.list-rodape {
    height:  auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 40px;
    padding-bottom: 15px;
}

.list-contato {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-list-rodape {
    font-size: 1.5em;
    margin-top: 30px;
    text-transform: capitalize;
    font-weight: 600;
}

.list-ul {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 1.1em;
    margin-top: 5px;
    padding-top: 20px;
    list-style: none;
}

.link-rodape {
    color: #fff;
    text-decoration: none;
}

.link-contato-rodape {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    padding-top: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.copyright {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 5px;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.icon-r {
    font-size: 2rem;
    margin-right: 5px;
    color: #fff;
}

@media (max-width: 1050px) {
    .list-rodape {
        height: auto;
        width: 90%;
    }
    .title-list-rodape {
        font-size: 1.5em;
    }

    .list-ul {
        font-size: 1em;
    }

    .list-rodape {
        align-items: center;
    }

}

@media(max-width: 500px) {
    .box-footer {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .list-rodape {
        height: auto;
        width: 90%;
    }

    .list-contato {
        align-items: center;
    }

    .link-contato-rodape {
        width: 75%;
    }
}
