@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.titulo-descricao-principal {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 0%;
}

.h1-primario {
    font-size: 3rem;
    margin-bottom: 5%;
    color: #ff5029;
    background-clip: none;
    -webkit-background-clip: text;
    text-decoration: none;

    text-transform: uppercase;
    background: linear-gradient(to left, #ff5029, rgb(255, 51, 0), rgb(222, 190, 5), rgb(255, 85, 0));
    background-size: 500% 100%;
    animation: degrade-animado 10S infinite alternate;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 8px;



}

.descricao {
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
}



.titulo-nossa-historia-quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.h1-secundario {
    display: flex;
    font-size: 2.5rem;
    color: #8338ec;
    background-clip: none;
    -webkit-background-clip: text;
    text-decoration: none;
    
    text-transform: uppercase;
    background: linear-gradient(to left, rgb(81, 25, 171), rgb(238, 0, 255), rgb(92, 9, 134));
    background-size: 500% 100%;

    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 8px;

}

.carrossel-imagens {
    column-count: 3;
    column-gap: 20px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .carrossel-imagens img {
    width: 100%;  /* largura fixa menor */
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: block;
  }
  
  .carrossel-imagens img:hover {
    transform: scale(1.03);
  }

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}

.descricao-fluxo {
    margin-top: 100px;
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
}

.descricao-fluxo span {
    font-weight: bold
}

.imagens-bosque-quem-somos .imagens2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 5%;
    margin-bottom: 5%;

}

.section-nosso-time-quem-somos {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ff5029;
    margin-bottom: 10%;
    background: linear-gradient(to left, #ff5029, rgb(255, 51, 0), rgb(222, 190, 5), rgb(255, 85, 0));
    background-size: 500% 100%;
    animation: degrade-animado 10S infinite alternate;

}

.div-nt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;

}

.div-nt h1 {
    font-size: 3.5rem;
    color: #ffffff;
    justify-content: center;
}

.section-colaboradoras-quem-somos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 140px;


}



.section-colaboradoras-quem-somos .fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}






.section-colaboradoras-quem-somos .carina,
.profission,
.denise,
.fernanda,
.nájila {
    color: #565358;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.40rem;
    transition: all;


}

.profission:hover {
    color: #8338ec;
}

.section-colaboradoras-quem-somos .profission {
    font-weight: bold;

}

.descricao-colaboradoras-quem-somos p {
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;

}

.section-expositor-quem-somos {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    background: linear-gradient(to left, rgb(81, 25, 171), rgb(238, 0, 255), rgb(92, 9, 134));
    background-size: 500% 100%;
    animation: degrade-animado 10S infinite alternate;


}

.expositor-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 120px;
}

.expositor h1 {
    font-size: 3.5rem;
    color: #ffffff;
    justify-content: center;
}

.section-descricao-expositor-quem-somos {
    height: 40vh;
}

.expositor-p {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.expositor-p .descricao4 {
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
}

.botao-expositor {
    width: 100%;
}
.div-botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    padding-bottom: 10%;
    margin-bottom: 100px;
}

.div-botao .botao-expositor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 60px;
    background-color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(to left, rgb(81, 25, 171), rgb(238, 0, 255), rgb(92, 9, 134));
    background-size: 500% 100%;
    animation: degrade-animado 10S infinite alternate;
}



.botao-expositor .botao {
    color: #ffffff;
    background-clip: none;
    -webkit-background-clip: text;
    text-decoration: none;
}

.galeria{
    column-count: 4;
    column-gap: 20px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .galeria img {
    width: 100%;  /* largura fixa menor */
    height: auto;
    margin-bottom: 30px;
    border-radius: 30px;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: block;
  }
  
  
  
  
  .galeria img:hover {
    transform: scale(1.03);
  }
 
  
  .imagens3{
    display: flex;
    margin-top: 100px;
    padding-bottom: 200px;
  }
  .h1-quinto{
    
    font-size: 2.5rem;
    margin-bottom: 5%;
    color: #ff5029;
    background-clip: none;
    -webkit-background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to left, #c93e1f, rgb(255, 51, 0), rgb(222, 190, 5), rgb(253, 102, 26));
    background-size: 500% 100%;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    
    
  }
  .titulo-veja-mais-fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
  }




  @media(max-width:1100px){
    .section-imagens-flutuantes-quem-somos{
        padding-top: 0%;
    }
    
  }
  @media(max-width:850px){
    .section-imagens-flutuantes-quem-somos{
        padding-top: 10%;
    }

  }

    @media(max-width:786px){
     .section-imagens-flutuantes-quem-somos .titulo-nossa-historia-quem-somos{
            display: flex;
            justify-content: center;
            margin-bottom: 0px;
            margin-top: 150px;
        }

        .carrossel-imagens {
            column-count: 2;
            column-gap: 20px;
            max-width: 80%;
            margin: 0 auto;
            margin-top: 100px;
          }
          .galeria{
            column-count: 2;
            
          }
          .botao-expositor{
            background-color: #565358;
            height: 100px;
            
          }
          .section-fotos-expositor-quem-somos{
            margin-top: 40%;
          }
          .section-imagens-flutuantes-quem-somos{
            padding-top: 10%;
          }
        }

        @media(max-width:600px){
            .section-introducao-quem-somos .titulo-descricao-principal h1{
                font-size: 2rem;
            }
            .section-introducao-quem-somos .titulo-descricao-principal .descricao{
                font-size: 1.1rem;
            }
            .titulo-veja-mais-fotos .h1-quinto{
                font-size: 2rem;
                padding-left: 5%;
                padding-right: 5%;

            }
            .titulo-nossa-historia-quem-somos .h1-secundario{
                font-size: 2.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-left: 10%;
                margin-top: 20%;
                margin-right: 10%;
            }
            .descricao-fluxo{
                font-size: 1.3rem;
            }
            .descricao-colaboradoras-quem-somos p{
                font-size: 1.3rem;

            }
            .section-descricao-expositor-quem-somos .descricao4{
                font-size: 1.3rem;
            }
        }

        @media(max-width:650px){
            .section-imagens-flutuantes-quem-somos{
                padding-top: 30%;
            }

        }



    
  
    @media(max-width:500px){
       .section-introducao-quem-somos {
            display: flex;
                  
        }
        .section-imagens-flutuantes-quem-somos{
            padding-top: 30%;
        }
        .titulo-descricao-principal .h1-primario{
            font-size: 2rem;
            margin-top: 50px;
            margin-bottom: 50px;

        }
        .titulo-veja-mais-fotos .h1-quinto{
            font-size: 2rem;
            margin-top: 50px;
            margin-bottom: 50px;

        }
         .titulo-descricao-principal .descricao{
            width: 100%;
            align-items: center;
            padding-bottom: 300px;

            
        }
       
        .titulo-nossa-historia-quem-somos .h1-secundario{
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-left: 10%;
            margin-top: 5%;
            margin-right: 10%;
           
        }
        .texto-descricao-fluxo-quem-somos .descricao-fluxo{
            font-size: 17px;
            width: 100%;
            align-items: center;
        }
        .section-nosso-time-quem-somos .div-nt h1{
            font-size: 2rem;
        }
        .section-colaboradoras-quem-somos .fotos{
            width: 60%;
            margin-left: 20%;
        }
        .descricao-colaboradoras-quem-somos .descricao3{
            font-size: 17px;
            width: 100%;
            align-items: center;
        }
        .section-expositor-quem-somos .expositor h1{
            font-size: 2rem;
        }
        .section-descricao-expositor-quem-somos .expositor-p .descricao4{
            font-size: 17px;
            width: 100%;
            align-items: center;
        }
        .botao-expositor {
            width: 100%;
            font-size: 12px;
        }
        .div-botao{
            width: 100%;
        }
    }

    @media(max-width:400px){
        .titulo-descricao-principal h1{
            font-size: 1.8rem; 
        }
        
        .section-imagens-flutuantes-quem-somos{
            margin-top: 15%;
        }
        .titulo-nossa-historia-quem-somos .h1-secundario{
            font-size: 1.7rem;
        }
        .section-colaboradoras-quem-somos .descricao3{
            margin-top: -10%;
            
        }
        

        .section-introducao-quem-somos .descricao{
            margin-bottom: 70%; 
            
              
        }
        .section-imagens-flutuantes-quem-somos  .titulo-nossa-historia-quem-somos h1 {
            margin-top: 60%;
        }
         .section-imagens-flutuantes-quem-somos .imagens-flutuantes{
            padding-top: 10%;
         }
         .section-nosso-time-quem-somos .div-nt{
            margin-top: 80px;
         }
         .section-expositor-quem-somos .expositor-div {
            margin-top: 80px;

         }
         .div-botao{
            margin-top: 50px;
         }
         .galeria{
            margin-top: 5%;
         }
         .titulo-veja-mais-fotos .h1-quinto{
            font-size: 1.5rem;
            margin-top: 50px;
            margin-bottom: 50px;

        }
         
            
    }
  
