/* expositor */
.expositores {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.expositores-mobal {
    display: none;
}

.expositores .title-expositor {
    font-size: 2.5em;
    padding: 30px;
}

/* linhas em volta */
.expositores .title-expositor::before{
    content: "";
    display: inline;
    border-top: 4px solid #E26C35;
    border-left: 4px solid #E26C35;
    background-color: none;
    padding-left: 60px;
    margin-right: -45px;
}
.expositores .title-expositor::after{
    content: "";
    display: inline;
    border-bottom: 4px solid #E26C35;
    border-right: 4px solid #E26C35;
    background-color: none;
    padding-left: 60px;
    margin-left: -45px;
}
.expositores .text-ver-expositores{
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
}

/* lista de expositor */
.expositor-lista {
    margin-top: 0px;
    width: 80%;
    height: 50%;
    padding-top: 10px;
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.expositor {
    /* background-color: rgb(191, 225, 255); */
    width: 190px;
    height: 430px;
    border-radius: 10% 10% 0px 0px;
    position: relative;
}

.imagem-expositor{
    width: 100%;
    height: 190px;
    border-radius: 50%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    position: absolute;
    z-index: 2;
    transition: all 1s ease;
}

.img-perfil-card {
    width: 90%;
}

.informacoes-expositor {
    background-color: #F8F8F8;
    width: 100%;
    height: 66%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: all 1s ease;
}

.info-expo {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.expositor:hover .informacoes-expositor {
    height: 70%;
}

.expositor1:hover .informacoes-expositor,
.expositor1:hover .imagem-expositor {
    margin-top: 25px;
    background-color: var(--color-rua1);
}

.expositor2:hover .informacoes-expositor,
.expositor2:hover .imagem-expositor {
    margin-top: 25px;
    background-color: var(--color-rua2);
}

.expositor3:hover .informacoes-expositor,
.expositor3:hover .imagem-expositor {
    margin-top: 25px;
    background-color: var(--color-rua3);
}

.expositor4:hover .informacoes-expositor,
.expositor4:hover .imagem-expositor {
    margin-top: 25px;
    background-color: var(--color-rua4);
}

.nome-expo {
    font-size: 1.1rem;
}


#informacao {
    padding: 0;
    width: 100%;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

.rua {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2px;
}

.rua-s {
    font-weight: 600;
}

.corr{
    width: 85px;
    border-radius: 5px;
    font-weight: 500;
}

.ra-s {
    background-color: var(--color-rua1);
}
.rl-s {
    background-color: var(--color-rua2);
}

.rv-s {
    background-color: var(--color-rua3);
}

.rr-s {
    background-color: var(--color-rua4);
}

.text-info {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.span-cat {
    font-weight: 500;
}

.botao {
    width: 100%;
    padding: 15px 0px;
    /* background-color: #05A09C; */
}

.btn-ver-perfil {
    border: none;
    background-color: #F7F183;
    padding: 5px 15px;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.ver-mais-expositor {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.link-mais-expo {
    padding: 5px 15px;
    text-decoration: none;
    background-color: #F36621;
    color: #fff;
    font-size: 1.7em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #0000002d;
    transition: all ease-in .1s;
}

.link-mais-expo:hover {
    background-color: #fff;
    color: #F36621;
    box-shadow: none;
    border: 1px solid black;
}

/* estilizando seja expositor */
.seja-expositor {
    margin-top: -100px;
    width: 100%;
    height: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-content-seja-expositor {
    padding: 50px;
    width: auto;
    height: auto;
    position: relative;
    margin: auto;
}

.box-seja-expositor {
    height: 500px;
    width: 600px;
    margin: auto;
    /* position: absolute; */
    background-color: #05A09C;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0% 0%, 80% 0, 100% 50%, 80% 100%, 0% 100%);
    transition: all 0.4s ease;
}

.box-content-expositor {
    margin-left: 30px;
    width: 80%;
}

.title-seja-expositor {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.text-seja-expositor {
    width: 90%;
    font-size: 1.3em;
    margin: 40px;
    text-align: left;
    color: white;
}

.btn-casdastro-expositor {
    padding: 5px;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.sombra {
    height: 500px;
    width: 600px;
    position: absolute;
    z-index: -1;
    background-color: #F86FCE;
    clip-path: polygon(0% 0%, 80% 0, 100% 50%, 80% 100%, 0% 100%);
    transition: all 0.4s ease;
    animation: animacao 3s infinite alternate;
}

.box-content-seja-expositor:hover .box-seja-expositor {
    background-color: #F86FCE;
}

.box-content-seja-expositor:hover .sombra  {
    background-color: #F86FCE;
}

@keyframes animacao {
    0%{
        position: absolute;
        top: 30px;
        left: 59px;
    }
    
    50% {
        position: absolute;
        top: 50px;
        left: 69px;
    }
    
    100% {
        position: absolute;
        top: 70px;
        left: 59px;
    }
    
}

.box-content-seja-expositor:hover .sombra  {
    width: 620px;
    background-color: #05A09C;
}


@media screen and (max-width: 1100px) {
    .expositores {
        display: none;
    }

    .expositores-mobal {
        display: flex;
    }

    .seja-expositor {
        margin-top: -70px;
        padding: 0px;
        height: 500px;
    }

    .box-content-seja-expositor {
        padding: 0px;
    }

    .box-seja-expositor {
        width: 460px;
        height: 400px;
        margin: 0px;
        text-align: initial;
    }

    .box-content-expositor {
        margin-left: 25px;
    }

    .sombra {
        top: -15px;
        left: 5px;
        width: 460px;
        height: 405px;
        animation: none;
    }

    .box-content-seja-expositor:hover .sombra {
        width: 460px;
    }

    .text-seja-expositor {
        margin: 10px 0px;
    }
}

@media(max-width: 500px) {
    .expositor {
        width: 170px;
        height: 380px;
    }

    .expositor-lista {
        width: 85%;
    }

    .imagem-expositor {
        height: 170px;
    }

    .nome-expo {
        font-size: 1rem;
    }

    .ver-mais-expositor {
        margin-top: 50px;
    }

    .link-mais-expo {
        font-size: 1.4em;
    }

    .seja-expositor {
        margin-top: -70px;
        padding: 0px;
        height: 350px;
    }

    .box-content-seja-expositor {
        padding: 0px;
    }

    .box-seja-expositor {
        width: 310px;
        height: 270px;
        margin: 0px;
        text-align: initial;
    }

    .box-content-expositor {
        margin-left: 25px;
    }

    .sombra {
        top: -10px;
        left: 5px;
        width: 310px;
        height: 265px;
        animation: none;
    }

    .box-content-seja-expositor:hover .sombra {
        width: 310px;
    }

    .title-seja-expositor {
        font-size: 1.2em;
        margin: 0px;
    }

    .text-seja-expositor {
        font-size: .95em;
        margin: 10px 0px;
    }

    .btn-casdastro-expositor {
        width: 100px;
        font-size: 1em;
        margin: auto;
    }
}
