@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../../../bosquedapaz/css/menu-home.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.bola-1 {
    position: fixed;
    top: 15vh;
    right: 80vw;
    z-index: 1;
    width: 20vw;
    z-index: -1;
}

.bola-1 img {
    width: 50%;
    height: auto;
}

.bola-2 {
    position: fixed;
    top: 18vh;
    left: 90vw;
    z-index: 1;
    width: 20vw;
    z-index: -1;
}

.bola-2 img {
    width: 50%;
    height: auto;
}

.bola-3 {
    position: fixed;
    top: 75vh;
    left: 82vw;
    z-index: 1;
    width: 20vw;
    z-index: -1;
}

.bola-3 img {
    width: 100%;
    height: auto;
}

.principal-tela-utl {
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-principal-utl {
    width: 85%;
    height: 90%;
    /* background-color: rgba(255, 0, 85, 0.705); */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8%;
}

.container__h1{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.container__h1 h1{
    font-size: 30px;
    font-weight: 600;
}

.area-cards {
    width: 100%;
    /* height: 90%; */
    /* background-color: #3F49EA; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cards{
    width: 320px;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-color: black;
}
.por-cima-card{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    z-index: 2;
    position: absolute;
}

.parte-superior{
    width: 100%;
    height: 50%;
    background-color: black;
}

/* .parte-inferior{
    width: 100%;
} */

.div__decorativa{
    width: 400px;
    height: 40%;
    position: absolute;
    top: 45vh;
    left: -5px;
    background-color: #3F49EA;
    transform: rotate(-25deg);
    z-index: 1;
}

.linha__decorativa1{
    width: 15px;
    height: 34%;
    position: absolute;
    top: 39vh;
    left: 63px;
    background-color: #3F49EA;
    border-radius: 10px;
    transform: rotate(65deg);
    z-index: 1;
}

.linha__decorativa2{
    width: 15px;
    height: 34%;
    position: absolute;
    top: 34vh;
    left: 237px;
    background-color: white;
    border-radius: 10px;
    transform: rotate(65deg);
    z-index: 1;
}

.cards:hover {
    transform: scale(1.1);
}

.area-img {
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
}

.area-button {
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
}

.botao-saiba-mais {
    width: 75%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #FF3877;
    color: #FF3877;
    font-size: 17px;
    font-weight: 800;
    background-color: white;
    position: relative;
    z-index: 1;
    top: 43%;
    left: 13%;
    transition: all .2s ease-in-out;
}

.botao-saiba-mais:hover {
    background-color: #FF3877;
    border: 1px solid white;
    color: white;
}

.dec-img {
    width: 20%;
    height: 14%;
    background-color: rgb(255, 0, 0);
    transform: rotate(142deg);
    position: fixed;
    z-index: 3;
    top: -46%;
    left: -45%;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 4;
    position: relative;
    top: 4%;
}

.img img {
    width: 87%;
    height: auto;
    border-radius: 10px;
}

.dec-button {
    width: 128%;
    height: 83%;
    transform: rotate(-24deg);
    position: relative;
    top: 14%;
    left: 0%;
    background-color: #FF3877;
}

.dec-menor-button {
    height: 259px;
    border-right: 15px solid #FF3877;
    border-radius: 10px;
    position: relative;
    bottom: 168%;
    right: 46%;
    transform: rotate(66deg);
}

.dec-menor-dentro-button {
    height: 198px;
    border-right: 15px solid white;
    border-radius: 10px;
    left: 49%;
    bottom: 166%;
    position: relative;
    transform: rotate(-114deg);
}

#border-card-azul {
    border: 1px solid #3F49EA;
}

#h1-azul-card {
    color: #3F49EA;
}

#h1-rosa-utl {
    color: #FF3877;
}

#button-azul-utl {
    border: 1px solid #3F49EA;
    color: #3F49EA;
}

#button-azul-utl:hover {
    background-color: #3F49EA;
    color: white;
    border: 1px solid white;
}

#dec-azul-utl {
    background-color: #3F49EA;
}

#dec2-azul-utl {
    border-right: 15px solid #3F49EA;
}

#seta-voltar {
    right: 47%;
    position: relative;
}
