/* mapa do gabriel */
.mapa-gabriel {
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  width: 80%;
  height: 650px;
}

.title-loc {
  font-size: 2em;
  padding-bottom: 2rem;
}

.mapaDoGabriel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 90%;
  border-radius: .5rem;
}

.mapa-ampliado {
  border: 2px solid #f8621a;
  padding: 5px 10px;
  border-radius: .5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  transition: all .2s ease-in;
}

.mapa-ampliado:hover {
  background-color: #f8621a;
}

@media screen and (max-width: 600px) {
  .mapa-gabriel {
    margin-top: 50px;
  }
}