<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenvolvedores</title>

    <link rel="stylesheet" href="../../../Public/css/css-portifolioDev/portifolioDev.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="../../../Public/js/js-portifolioDev/particulas.js" defer></script>
    <script src="../../../Public/js/js-portifolioDev/portifolioDev.js" defer></script>
    <script src="https://unpkg.com/scrollreveal"></script>


</head>
<body>
    <section id="inicio">
        <div class="containerDesc">
            <h1 class="efeito-txt-topo">Fábrica de Software</h1>
            <h2 class="efeito-txt-topo2">Turma 33</h2>
        </div>
        <i class="bi bi-arrow-down-circle iconSeta"></i>
        <div id="particles-js"></div>
    </section>

    <section id="sobre">
        <div class="containerTitle">
            <span class="efeito-title" >O que é a Fábrica de Software?</span>
        </div>
        <div class="boxDescSobre">
            <span>A Fábrica de Software do Senac é um projeto que simula o ambiente de uma empresa de desenvolvimento de software. O objetivo principal é preparar mão de obra especializada para o mercado de trabalho, oferecendo uma vivência prática real. Os alunos trabalham na criação de soluções tecnológicas para empresas parceiras, geralmente micro e pequenas empresas, desenvolvendo sistemas Desktop, Web e/ou aplicativos móveis. No cenário tecnológico atual, onde a agilidade e a inovação são cruciais, uma Fábrica de Software emerge como um modelo eficiente e dinâmico para o desenvolvimento de soluções digitais. Longe de ser um local de produção em massa despersonalizada, ela é um ecossistema de talentos e processos dedicado a transformar ideias em softwares robustos, escaláveis e sob medida.</span>
        </div>
    </section>

    </body>
</html>