<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenvolvedores</title>

    <link rel="stylesheet" href="../../../Public/css/css-portifolioDev/portifolioDev.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="../../../Public/js/js-portifolioDev/particulas.js" defer></script>
    <script src="../../../Public/js/js-portifolioDev/portifolioDev.js" defer></script>
    <script src="https://unpkg.com/scrollreveal"></script>


</head>
<body>

    <section id="inicio">
        <div class="gradient-background">
            <div class="gradient-sphere sphere-1"></div>
            <div class="gradient-sphere sphere-2"></div>
            <div class="gradient-sphere sphere-3"></div>
            <div class="glow"></div>
            <div class="grid-overlay"></div>
            <div class="noise-overlay"></div>
            <div class="particles-container" id="particles-container"></div>
        </div>
        
        <div class="content-container">
            <h1>Fábrica de Software</h1>
            <p>Turma 33, o início de uma jornada, o começo de uma nova vida</p>
            <a class="btn" href="#sobre">Veja mais</a>
        </div>
    </section>

        <section id="parallax">

    </section>

    <section id="sobre">
    </section>
</body>

</html>