<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Fábrica 33</title>
    <link rel="stylesheet" href="../css/css-enzo/dev-enzo-port1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap" rel="stylesheet">
</head>

<body class="body-enzo">
    <header class="header-enzo">
        <div class="cabecalho-enzo">
            <i class="fa-solid fa-bars icon-cabecalho"></i>
            <div class="menu-enzo">
                <h3 class="habilidades-enzo"><a href="" class="button-habilidades">Habilidades</a></h3>
                <h2 class="contato-menu"><a href="https://www.instagram.com/enzo_arimura?igsh=MXJybWd5b3hoeWdoZw==" class="contato-enzo" target="_blank">Contato</a></h2>
                <i class="fa-regular fa-circle-user icon-user-cabecalho"></i>
            </div>
        </div>
    </header>
    <main class="box-enzo">
        <div class="area-frase-enzo">
            <div class="box-content-enzo">
                <h1 class="title-enzo">Olá, meu nome é </h1>
                <p class="nome-enzo">Enzo Arimura</p>
            </div>
            <p class="texto-enzo">"Sou dev (desenvolvedor) iniciante cursando a fábrica de software número 33 do período vespertino, tenho 16 anos de idade, meu objetivo é usar meus conhecimentos adquiridos ao longo do curso e entrar na faculdade de análise e desenvolvimento de sistemas, trabalhar e construir minha carreira como bom profissional, você pode encontrar meus projetos no github, EnzoArimura15." </p>
        </div>
        <div class="card-enzo">
            <img class="imagem-eu" src="img/eu-enzo.webp" alt="">
            <p class="descricao-enzo">Enzo P. Arimura Dev fábrica 33</p>
        </div>
        
    </main>
</body>

</html>