.box {
    display: flex;
    flex-direction: column;
}

.parte-superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    position: relative;
}

.content-fp {
    width: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
}

.foto-perfil {
    width: 100%;
}

.img-banner {
    position: relative;
    z-index: 1;
    left: 70px;
    width: 1300px;
    height: 100px;
}

.informacoes {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
}

.lado {
    background-color: antiquewhite;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.lado-esquerdo {
    background-color: transparent;
    
}

.nome {
    font-size: 1.7rem;
    font-weight: 600;
}

.text {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-sob-empre {
    padding: 5px;

}

.text-cor-r {
    background-color: #5CB74A;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
}

.lado-direito {
    background-color: transparent;
    
}

.list-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    max-width: 500px;
}

.li-cont {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
}

.icon {
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
}

.img-caleria {
    width: 500px;
    border-radius: 10px;
}

.btns {
    padding: 10px;
}

.btn-ac {
    border: none;
    padding: 0px 15px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

.btn-volt {
    background-color: #FF3877;
}

.btn-edit {
    background-color: #007E70;
}
