@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}


.close {
    justify-content: end;
    display: flex;
    position: relative;
    bottom: 10px;
    /* right: 10px; */
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.titulo {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.form-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.form-box .nome-cat{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 52%;
    margin-right: 10px;
    font-size: 16px;
    box-shadow: 5px 3px 5px rgba(32, 54, 139, 1);
}

.form-box .botao-cor{
    position: relative;
    display: flex;
    margin: 30px auto;
    padding: 2px;
    width: 45px;
    height: 50px;
    border-radius: 9px;
    border: solid beige 3px;
    box-shadow: 5px 3px 5px rgba(32, 54, 139, 1);
}

.separacao{
    width: 30%;
    height: 5%;
}

.previa{
    width: 100%;
    height: 100%;
}

.previa img{
    height: 100%;
    width: 100%;
    display: block;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.botoes button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 48%;
}

.cancelar {
    background-color: #ff3867;
    color: white;
}

.salvar {
    background-color: #007e70;
    color: white;
}

@media (max-width: 480px) {
    .modal-content {
        width: 95%;
        padding: 15px;
    }
    
    .titulo {
        font-size: 20px;
    }
    
    .input-group input {
        padding: 8px;
    }
    
    .botoes button {
        font-size: 14px;
        padding: 8px 15px;
    }
}
