@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('../menu-adm.css');
@import url('../btn-padrao.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

.bolas-fundo {
  width: 100vw;
  height: 90vh;
  position: relative;
  top: -90vh;
  z-index: -3;
}

.bola-verde1,
.bola-verde2,
.bola-rosa {
  position: absolute;
  z-index: -3;
}

.bola-verde1 {
  left: 0;
  top: 6vh;
}

.bola-verde2 {
  right: 0;
  top: 6vh;
}

.bola-rosa {
  right: 0;
  bottom: -100px;
}

.principal {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.box {
  width: 100%;
  max-width: 90%;
  height: 90%;
  background-color: rgba(248, 245, 246, 0.65);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px;
  overflow-y: auto;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.title-text {
  font-size: 2rem;
  font-weight: bold;
}

.input-busca {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input-busca input[type="text"] {
  padding: 10px;
  flex: 1;
  max-width: 500px;
  box-shadow: 5px 3px 5px #00443ca2;
  border: 1px solid #ccc;
  outline: none;

}

.search-button {
  padding: 10px 20px;
}


input#searchInput {
  padding: 8px;
  border-radius: 5px;
  box-shadow: 5px 3px 5px #00443ca2;
  width: 99%;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 16px;
}

.search-button {
  background-color: #007E70;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
}

.search-button:hover {
  background-color: #00443c;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  position: relative;
  top: 90px;
}

.form-content,
.form-input {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input input,
.input textarea,
.select {
  width: 100%;
  height: 50px;
  min-height: 45px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 20px;
  border-bottom: 2px solid #9d9fa1;
  border-right: 2px solid #9d9fa1;
  font-size: 1rem;
  color: #3d3d3d;
}

.input input,
.input select {
  padding: 10px;
}

.input-referencia {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-prefix {
  position: absolute;
  left: 10px;
  top: 54%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

.input-referencia input.select {
  padding-left: 150px;
  width: 100%;
  box-sizing: border-box;
}

.input input:read-only {
  cursor: pointer;
}

#referencia_input:read-only {
  border: 2px solid rgb(170, 170, 170);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  appearance: none;
  cursor: not-allowed;
}

#sugestoes-expositor {
  position: absolute;
  top: 80%;
  left: 7.5%;
  width: 71.5%;
  max-height: 250px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 0 0 6px 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  z-index: 1000;
  display: none;
}

#sugestoes-expositor .sugestao-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#sugestoes-expositor .sugestao-item:hover {
  background-color: #cecece;
  color: white;
}



/* ============ MEDIA QUERIES ============ */

@media (max-width: 1500px) {
  .form {
    flex-direction: row;
    gap: 60px;
  }
}

@media (max-width: 1024px) {

  #sugestoes-expositor {
    position: absolute;
    top: 70%;
    width: 77.5%;
    left: 4%;
  } 

  .box {
    overflow-x: hidden;
  }

  .form {
    flex-direction: column;
    gap: 20px;
  }

  .form-content,
  .form-input {
    width: 100%;
  }
}

@media (max-width: 768px) {

  #sugestoes-expositor {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0%;
  } 

  .title {
    width: 100%;
  }

  .title-text {
    font-size: 1.5rem;
  }

  .btns-salvar-cancelar {
    position: relative;
    left: 0%;
  }

  .link-area-adm {
    position: relative;
    left: -5%;
    top: 0px;
  }

  .search-bar {
    flex-direction: column;
    align-items: stretch;
    /* width: 75%; */
    gap: 10px;
  }

  .input-busca input[type="text"] {
    max-width: 615px;
  }


  #searchInput,
  .search-button {
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    font-size: 1rem;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
  }

  .input-busca {
    width: 100%;
  }

  

  .search-button {
    background-color: #007E70;
    color: #fff;
    border: none;
  }

  .search-button:hover {
    background-color: #00443c;
  }
}

@media (max-width: 480px) {

  #sugestoes-expositor {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0%;
  } 

  .box {
    overflow-x: hidden;
  }

  .title-text {
    width: 116%;
    position: relative;
    left: -22px;
    font-size: 1.1rem;
  }

  .form {
    font-size: 14px;
    top: 0;
  }

  .btn-salvar {
    left: 0%;
    flex-direction: row-reverse;
  }

  .link-area-adm {
    position: relative;
    left: -50%;
  }

  .btns-salvar-cancelar {
    left: 0;
  }
}

@media (width: 344px) and (height: 882px) {

  #sugestoes-expositor {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0%;
  } 

  .form-content .input,
  .form-input .input {
    width: 80%;
  }

  .form {
    left: 10%;
  }

  .link-area-adm {
    position: relative;
    left: -50%;
  }
}