@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../menu-adm.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body-validar-expositor {
    height: 100vh;
    width: 100%;
    background-color: #e1e1e1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-box {
    width: 90%;
    height: 80%;
    background-color: rgba(238, 238, 238, 0.753);
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.719);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.secao-dados-empresa {
    flex: 1;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: grey; */
}

.area-superior {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.area-superior-texto {
    font-size: 2rem;
}

.area-superior-imagem {
    width: 170px;
    height: 170px;
    border-radius: 100px;
    margin: 5px;
    box-shadow: 0px 0px 10px grey;
    transition: all .3s ease;
}

.area-superior-imagem:hover {
    transform: scale(1.03);
}

.area-inferior {
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
}

.area-inferior-texto {
    font-size: 2rem;
}

.produtos-imagens {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    margin: 5px;
    transition: all .3s ease;
}

.produtos-imagens:hover {
    transform: scale(1.03);
}

.secao-divisao {
    height: 90%;
    width: 2px;
    /* background-color: red; */
}

.linha-divisao {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.363);
}

.secao-dados-expositor {
    flex: 2;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: antiquewhite; */
}

.area-formulario {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.area-formulario-texto {
    font-size: 2rem;
}

.container-formulario-dados {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
}

.container-campos {
    width: 100%;
    height: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color: pink; */
}

.campos-formulario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

.campos-formulario label {
    margin-top: 3%;
}

.campos-formulario input {
    height: 8%;
    outline: none;
    border: none;
    border-radius: 5px;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    color: #3f3f3f;
    /* margin-bottom: 3%; */
    padding: 10px;
}

.area-botoes-formulario {
    display: flex;
    gap: 40px;
    /* background-color: red; */
}

.botoes-formulario {
    padding: 15px 45px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.botao-recusar {
    background-color: #FF3877;
}

.botao-validar {
    background-color: #007E70;
}

a {
    color: black;
}

.decoracao {
    display: none;
}

.decoracao1 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.decoracao2 {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.decoracao3 {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.botao-voltar {
    display: flex;
    position: absolute;
    top: 860px;
    left: 6vw;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

body.modal-aberto {
    overflow: hidden;
}

/* ESTILIZAÇÃO MODAL 
RECUSAR EXPOSITOR */

.modal-content-recusar-expositor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

.modal-texto-recusar-expositor {
    font-size: 2rem;
}

.modal-botoes-recusar-expositor {
    display: flex;
    gap: 30px;
    margin: 10px;
    /* background-color: red; */
}

.botoes-modal-recusar-expositor {
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.motivo-recusar-formulario .modal-botoes-recusar-expositor {
    margin-top: 10px;
}

.motivo-recusar-formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.motivo-recusar-expositor {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid grey;
}

/* ESTILIZAÇÃO MODAL 
RECUSAR EXPOSITOR */

/* ESTILIZAÇÃO MODAL 
VALIDAR EXPOSITOR */

.modal-content-validar-expositor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

.modal-texto-validar-expositor {
    font-size: 2rem;
}

.modal-subtexto-validar-expositor {
    font-size: 1rem;
    font-weight: 500;
    width: 60%;
    text-align: center;
    /* background-color: red; */
}

.modal-botoes-validar-expositor {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    /* background-color: red; */
}

.botoes-modal-validar-expositor {
    border: none;
    padding: 15px 35px;
    border-radius: 10px;
    cursor: pointer;
}

.area-informacoes-validar-expositor .modal-botoes-validar-expositor {
    margin-top: 10px;
}

.motivo-validar-expositor {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid grey;
}

.area-informacoes-validar-expositor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 20px;
    flex-direction: column;
    /* background-color: red; */
}

.area-informacoes-validar-expositor input {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid gray;
    text-align: center;
    font-size: 1rem;
}

.area-informacoes-validar-expositor select {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid gray;
    text-align: center;
    font-size: 1rem;
}

.area-informacoes-validar-expositor input,
.area-informacoes-validar-expositor select {
    display: flex;
    margin: 10px;
}

/* ESTILIZAÇÃO MODAL 
VALIDAR EXPOSITOR */

.botao-cancelar {
    background-color: #FF3877;
    color: white;
}

.botao-confirmar {
    background-color: #007E70;
    color: white;
}

.botao-ok {
    background-color: #007E70;
    color: white;
}


@media (max-width: 576px) {

    .body-validar-expositor {
        height: 100%;
    }

    .main-box {
        height: 1750px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px 0px;
        margin: 30px;
    }

    .secao-dados-empresa {
        display: flex;
        gap: 20px;
    }

    .area-superior-texto,
    .area-inferior-texto,
    .area-formulario-texto {
        font-size: 1.7rem;
    }

    .secao-dados-empresa,
    .secao-dados-expositor {
        height: 90%;
        width: 90%;
        display: flex;
        padding: 0px;
    }

    .produtos-imagens {
        width: 80px;
        height: 80px;
    }

    .area-superior {
        height: 100%;
        /* background-color: red; */
    }

    .area-inferior {
        height: 100%;
        /* background-color: blue; */
    }

    .secao-divisao {
        display: none;
    }

    .area-formulario {
        /* background-color: pink; */
        width: 100%;
    }

    .container-formulario-dados {
        /* width: 100%; */
        height: 100%;
        /* background-color: blue; */
        display: flex;
        gap: 40px;
    }

    .container-campos {
        display: flex;
        flex-direction: column;
        gap: 0px;
        height: 100%;
        /* background-color: red; */
    }

    .campos-formulario {
        height: 100%;
    }

    .campos-formulario input {
        height: 50px;
    }

    .botoes-formulario {
        padding: 10px 30px;
    }

    .botao-voltar {
        position: absolute;
        top: 150px;
        left: 7vw;
    }

    .modal-content-recusar-expositor,
    .modal-content-validar-expositor {
        width: 90%;
    }

    .modal-texto-recusar-expositor,
    .modal-texto-validar-expositor {
        font-size: 1.1rem;
        /* background-color: red; */
    }

    .modal-subtexto-validar-expositor {
        width: 100%;
        font-size: .9rem;
    }

    .motivo-recusar-expositor {
        height: 150px;
        font-size: 1rem;
    }

    .modal-botoes-recusar-expositor,
    .modal-botoes-validar-expositor {
        gap: 10px;
    }

    .botoes-modal-recusar-expositor,
    .botoes-modal-validar-expositor {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    .area-informacoes-validar-expositor {
        width: 100%;
    }

    .area-informacoes-validar-expositor input,
    .area-informacoes-validar-expositor select {
        font-size: 1.3rem;
        width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .body-validar-expositor {
        height: 100%;
        /* background-color: red; */
    }

    .main-box {
        height: 2100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px 0px;
        margin: 30px;
    }

    .secao-dados-empresa {
        display: flex;
        gap: 20px;
    }

    .secao-dados-empresa,
    .secao-dados-expositor {
        height: 90%;
        width: 90%;
        display: flex;
        padding: 0px;
        margin: 20px;
    }

    .area-superior-imagem {
        width: 180px;
        height: 180px;
    }

    .produtos-imagens {
        width: 135px;
        height: 135px;
    }

    .area-superior {
        height: 100%;
        /* background-color: red; */
    }

    .area-superior-texto {
        font-size: 2rem;
    }

    .area-inferior {
        height: 100%;
        /* background-color: blue; */
    }

    .area-inferior-texto {
        font-size: 2rem;
    }

    .secao-divisao {
        display: none;
    }

    .area-formulario {
        /* background-color: pink; */
        width: 100%;
    }

    .area-formulario-texto {
        font-size: 2rem;
    }

    .container-formulario-dados {
        /* width: 100%; */
        height: 100%;
        /* background-color: blue; */
        display: flex;
        gap: 0px;
    }

    .container-campos {
        display: flex;
        flex-direction: column;
        gap: 0px;
        height: 100%;
        /* background-color: red; */
    }

    .campos-formulario {
        height: none;
    }

    .campos-formulario label {
        font-size: 1.3rem;
    }

    .campos-formulario input {
        height: 50px;
        font-size: 1.3rem;
    }

    .botoes-formulario {
        margin: 30px 0px;
        padding: 20px 70px;
        font-size: 1.3rem;
    }

    .botao-voltar {
        position: absolute;
        top: 150px;
        left: 7vw;
        width: 50px;
        height: 50px;
    }

    .modal-content-recusar-expositor,
    .modal-content-validar-expositor {
        width: 90%;
        padding: 55px;
    }

    .area-informacoes-validar-expositor label {
        font-size: 1.4rem;
    }

    .area-informacoes-validar-expositor input,
    .area-informacoes-validar-expositor select {
        font-size: 1.4rem;

    }

    .modal-texto-recusar-expositor,
    .modal-texto-validar-expositor {
        font-size: 2rem;
    }

    .modal-subtexto-validar-expositor {
        font-size: 1.2rem;
    }

    .motivo-recusar-expositor {
        height: 200px;
        font-size: 1.5rem;
    }

    .botoes-modal-recusar-expositor,
    .botoes-modal-validar-expositor {
        padding: 20px 45px;
        font-size: 1.3rem;
    }

    .area-informacoes-validar-expositor .modal-botoes-validar-expositor,
    .motivo-recusar-formulario .modal-botoes-recusar-expositor {
        margin-top: 10px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .body-validar-expositor {
        height: 100%;
        /* background-color: red; */
    }

    .main-box {
        height: 2400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px 0px;
        margin: 30px;
    }

    .secao-dados-empresa {
        display: flex;
        gap: 20px;
    }

    .secao-dados-empresa,
    .secao-dados-expositor {
        height: 90%;
        width: 90%;
        display: flex;
        padding: 0px;
        margin: 20px;
    }

    .area-superior-imagem {
        width: 230px;
        height: 230px;
        border-radius: 1000px;
    }

    .produtos-imagens {
        width: 170px;
        height: 170px;
    }

    .area-superior {
        height: 100%;
        /* background-color: red; */
    }

    .area-superior-texto {
        font-size: 2rem;
    }

    .area-inferior {
        height: 100%;
        /* background-color: blue; */
    }

    .area-inferior-texto {
        font-size: 2rem;
    }

    .secao-divisao {
        display: none;
    }

    .area-formulario {
        /* background-color: pink; */
        width: 100%;
    }

    .area-formulario-texto {
        font-size: 2rem;
    }

    .container-formulario-dados {
        /* width: 100%; */
        height: 100%;
        /* background-color: blue; */
        display: flex;
        gap: 0px;
    }

    .container-campos {
        display: flex;
        flex-direction: column;
        gap: 0px;
        height: 100%;
        /* background-color: red; */
    }

    .campos-formulario {
        height: none;
    }

    .campos-formulario label {
        font-size: 1.3rem;
    }

    .campos-formulario input {
        height: 60px;
        font-size: 1.3rem;
    }

    .botoes-formulario {
        margin: 30px 0px;
        padding: 20px 70px;
        font-size: 1.3rem;
    }

    .botao-voltar {
        position: absolute;
        top: 150px;
        left: 7vw;
        width: 50px;
        height: 50px;
    }

    .modal-content-recusar-expositor,
    .modal-content-validar-expositor {
        width: 90%;
        padding: 60px;
    }

    .modal-texto-recusar-expositor,
    .modal-texto-validar-expositor {
        font-size: 2.5rem;
    }

    .modal-subtexto-validar-expositor {
        width: 80%;
    }

    .motivo-recusar-expositor {
        height: 250px;
        font-size: 2rem;
    }

    .modal-subtexto-validar-expositor {
        font-size: 1.5rem;
    }

    .area-informacoes-validar-expositor label {
        font-size: 2rem;
    }

    .area-informacoes-validar-expositor input,
    .area-informacoes-validar-expositor select {
        height: 60px;
        width: 100%;
        font-size: 2rem;
    }

    .botoes-modal-recusar-expositor,
    .botoes-modal-validar-expositor {
        padding: 20px 50px;
        font-size: 1.5rem;
    }

    .area-informacoes-validar-expositor .modal-botoes-validar-expositor,
    .motivo-recusar-formulario .modal-botoes-recusar-expositor {
        margin-top: 20px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .body-validar-expositor {
        height: 100%;
        /* background-color: red; */
    }

    .main-box {
        height: 3000px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 90px 0px;
        margin: 30px;
    }

    .secao-dados-empresa {
        display: flex;
        gap: 20px;
    }

    .secao-dados-empresa,
    .secao-dados-expositor {
        height: 90%;
        width: 90%;
        display: flex;
        padding: 0px;
        margin: 20px;
    }

    .area-superior-imagem {
        width: 250px;
        height: 250px;
        border-radius: 1000px;
    }

    .produtos-imagens {
        width: 200px;
        height: 200px;
    }

    .area-superior {
        height: 100%;
        /* background-color: red; */
    }

    .area-superior-texto {
        font-size: 3rem;
    }

    .area-inferior {
        height: 100%;
        /* background-color: blue; */
    }

    .area-inferior-texto {
        font-size: 3rem;
    }

    .secao-divisao {
        display: none;
    }

    .area-formulario {
        /* background-color: pink; */
        width: 100%;
    }

    .area-formulario-texto {
        font-size: 3rem;
    }

    .container-formulario-dados {
        /* width: 100%; */
        height: 100%;
        /* background-color: blue; */
        display: flex;
        gap: 0px;
    }

    .container-campos {
        display: flex;
        flex-direction: column;
        gap: 0px;
        height: 100%;
        /* background-color: red; */
    }

    .campos-formulario {
        height: none;
    }

    .campos-formulario label {
        font-size: 1.7rem;
    }

    .campos-formulario input {
        height: 80px;
        font-size: 1.3rem;
    }

    a {
        font-size: 1.5rem;
    }

    .botoes-formulario {
        margin: 30px 0px;
        padding: 20px 80px;
        font-size: 1.7rem;
    }

    .botao-voltar {
        position: absolute;
        top: 175px;
        left: 7vw;
        width: 70px;
        height: 70px;
    }

    .modal-content-recusar-expositor,
    .modal-content-validar-expositor {
        width: 90%;
        padding: 30px;
    }

    .modal-texto-recusar-expositor,
    .modal-texto-validar-expositor {
        font-size: 3rem;
    }

    .modal-subtexto-validar-expositor {
        font-size: 1.8rem;
        width: 100%;
    }

    .motivo-recusar-formulario {
        margin: 30px;
    }

    .motivo-recusar-expositor {
        height: 250px;
        font-size: 2rem;
    }

    .area-informacoes-validar-expositor label {
        font-size: 2rem;
    }

    .area-informacoes-validar-expositor input,
    .area-informacoes-validar-expositor select {
        height: 60px;
        font-size: 2rem;
        width: 100%;
    }

    .botoes-modal-recusar-expositor,
    .botoes-modal-validar-expositor {
        padding: 15px 50px;
        font-size: 2rem;
    }

    .area-informacoes-validar-expositor .botoes-modal-validar-expositor,
    .motivo-recusar-formulario .botoes-modal-recusar-expositor {
        margin-top: 40px;
    }
}

@media (min-width: 1201px) and (max-width: 1280px) {
    .body-validar-expositor {
        height: 100%;
        /* background-color: red; */
    }

    .main-box {
        height: 2700px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 90px 0px;
        margin: 30px;
    }

    .secao-dados-empresa {
        display: flex;
        gap: 20px;
    }

    .secao-dados-empresa,
    .secao-dados-expositor {
        height: 90%;
        width: 90%;
        display: flex;
        padding: 0px;
        margin: 20px;
    }

    .area-superior-imagem {
        width: 200px;
        height: 200px;
    }

    .produtos-imagens {
        width: 170px;
        height: 170px;
    }

    .area-superior {
        height: 100%;
        /* background-color: red; */
    }

    .area-superior-texto {
        font-size: 3rem;
    }

    .area-inferior {
        height: 100%;
        /* background-color: blue; */
    }

    .area-inferior-texto {
        font-size: 3rem;
    }

    .secao-divisao {
        display: none;
    }

    .area-formulario {
        /* background-color: pink; */
        width: 100%;
    }

    .area-formulario-texto {
        font-size: 3rem;
    }

    .container-formulario-dados {
        /* width: 100%; */
        height: 100%;
        /* background-color: blue; */
        display: flex;
        gap: 0px;
    }

    .container-campos {
        display: flex;
        flex-direction: column;
        gap: 0px;
        height: 100%;
        /* background-color: red; */
    }

    .campos-formulario {
        height: none;
    }

    .campos-formulario label {
        font-size: 1.7rem;
    }

    .campos-formulario input {
        height: 60px;
        font-size: 1.3rem;
    }

    a {
        font-size: 1.5rem;
    }

    .botoes-formulario {
        margin: 30px 0px;
        padding: 20px 80px;
        font-size: 1.5rem;
    }

    .botao-voltar {
        position: absolute;
        top: 160px;
        left: 7vw;
        width: 50px;
        height: 50px;
    }

    .modal-content-recusar-expositor,
    .modal-content-validar-expositor {
        width: 90%;
        padding: 80px;
    }

    .motivo-recusar-expositor {
        height: 300px;
        font-size: 1.5rem;
    }

    .area-informacoes-validar-expositor label {
        font-size: 1.7rem;
    }

    .area-informacoes-validar-expositor input,
    .area-informacoes-validar-expositor select {
        font-size: 1.5rem;
    }

    .area-informacoes-validar-expositor {
        margin-top: 20px;
    }

    .area-informacoes-validar-expositor .botoes-modal-validar-expositor {
        margin-top: 30px;
    }

    .modal-texto-recusar-expositor,
    .modal-texto-validar-expositor {
        font-size: 2.5rem;
    }

    .modal-subtexto-validar-expositor {
        font-size: 1.5rem;
    }

    .botoes-modal-recusar-expositor,
    .botoes-modal-validar-expositor {
        padding: 20px 50px;
        font-size: 1.5rem;
    }
}

@media (min-width: 1300px) and (max-width: 1400px) {
    .body-validar-expositor {
        height: 100vh-;
    }

    .main-box {
        margin-top: .7%;
    }

    .area-superior-imagem {
        width: 130px;
        height: 130px;
    }

    .produtos-imagens {
        width: 100px;
        height: 100px;
    }

    .area-formulario-texto {
        margin-top: 10px;
    }

    .container-formulario-dados {
        height: 100%;
    }

    .campos-formulario {
        height: 100%;
        /* background-color: green; */
    }

    .campos-formulario label {
        margin-top: 3%;
    }

    .campos-formulario input {
        height: 32px;
        /* margin-bottom: 3%; */
    }

    .area-botoes-formulario {
        display: flex;
        gap: 40px;
        margin-bottom: 25px;
        margin-top: 10px;
        /* background-color: red; */
    }

    .botoes-formulario {
        padding: 7px 50px;
        font-size: 1rem;
    }

    a {
        color: black;
        font-size: .8rem;
    }

    .botao-voltar {
        display: flex;
        position: absolute;
        top: 585px;
        left: 5.5vw;
        cursor: pointer;
    }

    .modal-content-recusar-expositor,
    .modal-content-validar-expositor {
        width: 50%;
    }

    .modal-texto-recusar-expositor,
    .modal-texto-validar-expositor {
        font-size: 1.8rem;
    }
}