@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal h2{
    flex-direction: row;
    font-size: 16px;
}

.close {
    justify-content: end;
    display: flex;
    position: relative;
    bottom: 10px;
    /* right: 10px; */
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.titulo {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.form-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.form-box .nome-cat{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 52%;
    /* margin-right: 10px; */
    font-size: 16px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    outline: none;
}

.form-box .botao-cor{
    position: relative;
    display: flex;
    margin: 30px auto;
    padding: 2px;
    width: 45px;
    height: 50px;
    border-radius: 9px;
    border: solid beige 3px;
    box-shadow: 5px 3px 5px rgba(32, 54, 139, 1);
}

.custum-file-upload{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.icon{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon svg{
    align-items: center;
    justify-content: center;
    width: 50%;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }

.separacao{
    width: 30%;
    height: 5%;
}

.previa{
    width: 100%;
    height: 100%;
}

.previa img{
    height: 100%;
    width: 100%;
    display: block;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botoes {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    gap: 20px;
}

.botoes button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
}

.cancelar {
    background-color: #ff3867;
    color: white;
}

.salvar {
    background-color: #007e70;
    color: white;
}

.custom-select {
    position: relative;
    width: 200px;
}

.select-selected {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.color-preview {
    width: 30px;
    height: 20px;
    /* border-radius: 50%; */
    margin-right: 10px;
    border: 1px solid #000;
}

.select-items {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    z-index: 10;
}

.select-items div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.select-items div:hover {
    background-color: #f1f1f1;
}

select {
    color: gray;
    transition: color 0s 2147483647s;
  }
  
  /* select:hover,
  select:focus,
  select:active,
  select:focus {
    color: red;
    transition:0s;
  } */
   
  
  select option {
    color: #333;
  }
  
  option[value=""][disabled] {
    display: none;
  }

