@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('../menu-adm.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    overflow: hidden;
}

/* html, body {
    height: 100%;
    overflow-y: auto;
} */

.bolas-fundo {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: -90vh;
    z-index: -3;
}

.bolas-fundo .bola-verde1 {
    position: absolute;
    left: 0px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .bola-verde2 {
    position: absolute;
    right: 0px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .bola-rosa {
    position: absolute;
    right: 0px;
    bottom: -100px;
    z-index: -3;
}

.principal {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow-y: auto;
}

.box {
    width: 100%;
    max-width: 90%;
    height: 90%;
    background-color: rgba(248, 245, 246, 0.65);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    overflow-y: auto;
}

h2 {
    font-size: 2rem;
}

.box .form-box {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.form-box form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

#form1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group label {
    font-weight: bold;
    color: #3d3d3d;
    
}

.input-group input,
.input-group textarea {
    width: 100%;
    min-height: 45px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
}

.form-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 40px; 
    width: 100%;
    /* max-width: 900px;  */
    margin: auto;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;  
}

.data .input-group{
    width: 40%;
}



.box-img {
    flex: 1;
    /* max-width: 450px;  */
    display: flex;
    justify-content: center; 
}

.box-img img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.data-imagem {
    display: flex;
    gap: 30px;
}

.box .btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    padding-right: 50px;
}

.voltar .btn-voltar {
    width: 40px;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: chartreuse; */
}

.btn-cancelar-salvar {
    display: flex;
    gap: 30px;
    /* background-color: aquamarine; */
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cancelar-salvar .btn {
    width: clamp(100px, 15%, 150px);
    height: clamp(40px, 15%, 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    background-color: coral;
}

.btn-cancelar-salvar .btn-salvar {
    background-color: #007E70;   
    box-shadow: 0px 5px 10px 0px rgba(0, 126, 111, 0.50);
}

.btn-cancelar-salvar .btn-cancelar {
    background-color: #FF3877;
    box-shadow: 0px 5px 10px 0px rgba(0, 126, 111, 0.50);
}

.btn-cancelar-salvar .btn a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

@media (max-width: 950px) {
    .box .form-box {
        width: 100%;
    }
    #form1 {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .principal .box {
        padding: 10px;
    }
    .box .form-box{
        width: 90%;
    }
    .btn {
        width: 100%;
    }
    .btn-cancelar-salvar .btn {
        width: clamp(80px, 25%, 120px); /* Ajuste proporcional em telas menores */
    }
}

@media (max-width: 410px) {
    h2 {
        font-size: 1.5rem;
    }
    .btn {
        width: 100%;
    }
    .btn-cancelar-salvar .btn {
        width: clamp(60px, 40%, 100px); /* Ajuste mais agressivo em telas pequenas */
    }
}