@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../menu-adm.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.principal{
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagens */
.img1{
    position: fixed;
    top: 25vh;
    left: 0;
    z-index: 1;
    width: 20vw;
}

.img2{
    position: fixed;
    top: 25vh;
    left: 93vw;
    z-index: 1;
    width: 20vw;
}

.img3{
    position: fixed;
    top: 70vh;
    left: 84vw;
    z-index: 1;
    width: 20vw;
}

.img3 img{
    width: 80%;
    height: auto;
}

/* Box Principal */
.box{
    width: 90%;
    height: 90%;
    z-index: 2;
    backdrop-filter: blur(0px);
    background-color: rgba(248, 245, 246, 0.705);
    display: flex;
    border-radius: 12px;
    padding: 20px;
    transition: all .5s ease;
    position: relative;

    #linha-vertical {
        height: 94%;
        border-right: 3px solid #FF3877;
        position: fixed;
        left: 46%;
        bottom: 3%;
    }
}

.box:hover {
    background-color: #f0f0f013;
    backdrop-filter: blur(30px);

    #linha-vertical {
        border-right: 3px solid #162868;
    }
}

/* Elementos da Box */
.setaV-cadastro {
    position: relative;
    top: 70vh;
    display: block;
    cursor: pointer;
    transition: all .2s ease-in;
}

.setaV-cadastro:hover {
    transform: scale(1.1);
}

/* Lado Esquerdo da Box: IMAGEM */
.lado-esquerdo{
    width: 45%;
    height: 100%;
    background-color: rgba(95, 158, 160, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area-img{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff387700;
    position: relative;
    right: 3rem;
}

.area-img img{
    width: 95%;
    height: auto;
}


/* Lado Direito da Box: Form */
.lado-direito{
    width: 55%;
    height: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lado-direito form{
    width: 95%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.area-h1{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
}

.area-h1 h1{
    font-size: 30px;
    font-weight: 700;
}

.area-form{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.area-total-input-2 {
    width: 35%;
    height: 80px; 
    background-color: rgba(0, 0, 255, 0); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #FF3877; 
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.uploads {
    width: 100%;
    height: 100%;
    background-color: #FF3877;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.uploads:hover {
    background-color: #162868; 
}

.uploads input[type="file"] {
    display: none;
}

.uploads::before {
    content: "Clique para selecionar uma imagem";
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.uploads input[type="file"]:focus + .uploads::before {
    content: "Imagem selecionada!";
    color: #0F0;
}

.uploads input[type="file"]:hover {
    cursor: pointer;
}

.area-button{
    width: 100%;
    height: 15%;
    background-color: crimson;
}

