@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../menu-adm.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.principal {
    width: 100vw;
    height: 90vh;
    z-index: 1
}

.principal .box {
    width: 90%;
    height: 90%;
    background-color: rgba(248, 245, 246, 0.65);
    margin: auto;
    margin-top: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

h2 {
    font-size: 30px;
}

.edit-icon i {
    color: #333;
    margin-right: 12px;
    font-size: 18px;
}

.delete-icon i {
    color: #333;
    font-size: 18px;
}

.edit-icon,
.delete-icon {
    text-decoration: none;
}

.edit-icon:hover i,
.delete-icon:hover i {
    color: #007bff ;
}

#modal-validar, #modal-recusar,
#recusado-sucesso, #validacao-sucesso {
    display: none;
}


#modal-recusar:target {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}

.acao-content-recusar {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.acao-texto-recusar {
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    /* background-color: red; */
}

.acao-botoes-recusar {
    width: 90%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: red; */
}


#modal-editar {
    display: none;
}

#modal-editar:target {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}

.acao-content-editar {
    width: 50%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}

.acao-texto-editar {
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    /* background-color: red; */
}

.acao-input-edit {
    width: 80%;
    min-height: 45px;
    padding: 5px;
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
    outline: none;
    box-shadow: 0px 0.125rem 0px rgb(182, 182, 182);
    box-sizing: border-box;
}

.acao-botoes-editar {
    width: 90%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: red; */
}

.botao-recusar, .botao-validar,
.botao-cancelar, .botao-confirmar {
    cursor: pointer;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}


.botao-recusar, .botao-cancelar {
    background-color: #FF3877;
    color: white;
}

.botao-validar, .botao-confirmar {
    background-color: #007E70;
    color: white;
}

#recusado-sucesso:target {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}

.mensagem-content-recusar {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 5px;
}

.container {
    width: 90%;
    margin: 20px auto;
    font-family: 'poppins', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.edicao-expositor {
    height: 500px;
    width: 399px;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 700px;
    margin-right: 10px;
    font-size: 16px;
}

.search-bar .search-button {
    background-color: rgb(32, 54, 139);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar .search-button:hover {
    background-color: #041831;
}


.collaborators-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.collaborators-table thead {
    background-color: rgb(32, 54, 139);
    color: white;
}

.collaborators-table th,
.collaborators-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.collaborators-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.collaborators-table tbody tr:hover {
    background-color: #f1f1f1;
}

.status {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.status.active {
    background-color: #007E70;
    color: white;
    border-radius: 8px;
}

.status.inactive {
    background-color: #FF3877;
    color: white;
    border-radius: 8px;
}

.edit-icon {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.delete-icon {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.edit-icon:hover {
    color: #003d8c;
}

.bolas-fundo {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: -90vh;
    z-index: -3;
}

.bolas-fundo .folhaAzul1-yan {
    position: absolute;
    left: -40px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .folhaAzul2-yan {
    position: absolute;
    right: -50px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .folhaRosa-yan {
    position: absolute;
    right: -100px;
    bottom: -100px;
    z-index: -3;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btns .voltar {
    position: absolute;
    bottom: 20px;
    left: 90px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 1042px) {
    .principal .box {
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    .search-bar input {
        width: 100%;
    }
}

@media(max-width: 720px) {
    .search-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar label {
        font-size: 14px;
    }

    .collaborators-table {
        font-size: 12px;
    }

    .collaborators-table th,
    .collaborators-table td {
        padding: 6px;
    }

    .collaborators-table th {
        font-size: 12px;
    }

    .btn-voltar {
        display: none;
    }

    .email-col,
    .fone-col,
    .usuario-col,
    label {
        display: none;
    }

    .bolas-fundo {
        display: none;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    .search-bar input {
        font-size: 12px;
    }

    .search-bar .search-button {
        font-size: 12px;
        padding: 5px 10px;
    }
}