@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../menu-adm.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

body {
    overflow: auto;
}


/* Section da tela */
.section-cadastro-mt {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* Formas da tela */
.formaCadastro-1 {
    position: fixed;
    top: 15vh;
    right: 80vw;
    z-index: 1;
    width: 20vw;
}


.formaCadastro-2 {
    position: absolute;
    top: 80vh;
    right: 80vw;
    z-index: 1;
    width: 20vw;
}

.formaCadastro-3 {
    position: absolute;
    top: 10vh;
    left: 90vw;
    z-index: 1;
    width: 20vw;
    height: 100vh;
}

.formaCadastro-4 {
    position: fixed;
    top: 75vh;
    left: 85vw;
    z-index: 1;
    width: 20vw;
}


/* Box */
.box-cadastro-mt {
    width: 85%;
    height: 750px;
    max-width: 2000px;
    z-index: 2;
    backdrop-filter: blur(0px);
    background-color: rgba(248, 245, 246, 0.705);
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    transition: all .5s ease;
    position: relative;
    bottom: 6%;

    #linha-vertical {
        height: 640px;
        border-right: 3px solid #FF3877;
        position: fixed;
        left: 50%;
        top: 8%;
    }
}

.box-cadastro-mt:hover {
    background-color: #f0f0f013;
    backdrop-filter: blur(30px);

    #linha-vertical {
        border-right: 3px solid #162868;
    }
}

.setaV-cadastro {
    position: relative;
    top: 70vh;
    display: block;
    cursor: pointer;
    transition: all .2s ease-in;
}

.setaV-cadastro:hover {
    transform: scale(1.1);
}


/* Elementos da box - Form */
.lado-esquerdo{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
    flex-direction: column;
}

.area-form{
    width: 100%;
    height: 87%;
    background-color: rgba(222, 184, 135, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-form form{
    width: 80%;
    height: 100%;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    border: none;
}

.area-total-input{
    width: 65%;
    height: 80px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: column;
}

.label-cad{
    position: relative;
    bottom: 0.3rem;
}

.area-total-input-2 {
    width: 65%;
    height: 100px; 
    background-color: rgba(0, 0, 255, 0); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #FF3877; 
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.uploads {
    width: 100%;
    height: 100%;
    background-color: #FF3877;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.uploads:hover {
    background-color: #162868; 
}

.uploads input[type="file"] {
    display: none;
}

.uploads::before {
    content: "Clique para selecionar uma imagem";
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.uploads input[type="file"]:focus + .uploads::before {
    content: "Imagem selecionada!";
    color: #0F0;
}

.uploads input[type="file"]:hover {
    cursor: pointer;
}


.area-input{
    width: 100%;
    height: 45px;
    background-color: #a5abc200;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.area-input i{
    position: absolute;
    margin-left: 0.8rem;
    font-size: 18px;
}

#iconOlho{
    margin-left: 22rem;
}

.input{
    width: 95%;
    height: 90%;
    background-color: white;
    border-radius: 6px;
    padding-left: 40px;
    box-shadow: 3px 3px 4px #162868;
    border: none;
    outline: none;
    transition: border 0.3s ease;
}

.input:focus {
    border: 2px solid #162868; /* Linha visível quando o campo é clicado */
}

.area-buttons{
    width: 100%;
    height: 13%;
    background-color: rgba(95, 158, 160, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.buttons{
    width: 25%;
    height: 45px;
    background-color: #FF3877;
    box-shadow: 0 5px 3px #162868;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.buttons:hover{
    transform: scale(1.1);
}

#button-azul{
    background-color: #162868;
    box-shadow: 0 5px 3px #FF3877;
}




/* Elementos da box - img */
.areaImg-cad-mt {
    width: 50%;
    height: 750px;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.divIMg-mt:hover {
    transform: scale(1.04);
}

#linha-vertical:hover {
    background-color: rgba(0, 0, 255, 0);
}

.divIMg-mt {
    width: 600px;
    height: 600px;
    background-color: rgba(165, 42, 42, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    right: 120px;
    transition: all .2s ease;
}

.h1-mt {
    margin-bottom: 600px;
    position: relative;
    left: 300px;
    font-size: 30px;
}

.h12-mt {
    display: none;
}


/* Elementos da box - outros elementos */
.formares-mt {
    display: none;
}

.titulo-areato-mt {
    display: none;
}

/* Responsividade */
/* Responsividade Celular*/
@media screen and (max-width: 720px) {
    .setaV-cadastro {
        display: block;
        top: 41vh;
        right: 15vw;
    }

    .setaV-cadastro img {
        width: 80%;
        height: auto;
    }

    .formaCadastro-2 {
        display: block;
        top: 89vh;
        right: 85vw;
    }

    .formaCadastro-2 img {
        width: 100%;
        height: auto;
    }

    .formaCadastro-3 {
        display: block;
        top: 10vh;
    }

    .formaCadastro-3 img {
        width: 100%;
        height: auto;
    }

    .formaCadastro-4 {
        display: block;
        top: 93vh;
        left: 81vw;
    }

    .formaCadastro-4 img {
        width: 100%;
        height: auto;
    }

    .formaCadastro-1 {
        display: block;
        right: 85vw;
    }

    .formaCadastro-1 img {
        width: 100%;
        height: auto;
    }

    #linha-vertical {
        display: none;
    }

    .areaImg-cad-mt {
        display: none;
    }

    .box-cadastro-mt {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 85%;
        width: 90%;
        /* background-color: #306816; */
    }

    .titulo-areato-mt {
        display: block;
        margin-bottom: 550px;
        right: 15px;
        position: relative;
    }
}

@media (min-width: 390px) and (max-width: 431px) {
    .button-cad-mt {
        margin-top: 95%;
    }

    .setaV-cadastro {
        display: block;
        top: 40vh;
        right: 15vw;
        /* background-color: #162868; */
    }

    .setaV-cadastro img {
        width: 100%;
        height: auto;
    }
}

/* Responsividade Ipad Mini*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .areaImg-cad-mt {
        display: none;
    }

    #linha-vertical {
        display: none;
    }

    .setaV-cadastro {
        display: block;
        top: 38vh;
        right: 15vw;
    }

    .box-cadastro-mt {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 850px;
    }

    .formaCadastro-1 img {
        width: 100%;
        height: auto;
    }

    .formaCadastro-2 {
        top: 82vh;
    }

    .formaCadastro-2 img {
        width: 100%;
        height: auto;
    }

    .formaCadastro-3 {
        top: 10vh;
        left: 80vw;
    }

    .formaCadastro-3 img {
        width: 100%;
        height: auto;
    }

    .formaCadastro-4 {
        top: 72vh;
        left: 80vw;
    }

    .formaCadastro-4 img {
        width: 400px;
    }

    .button-cad-mt {
        margin-top: 650px;
    }

    .titulo-areato-mt {
        display: block;
        margin-bottom: 680px;
        font-size: 30px;
    }


    .titulo-areato-mt {
        font-size: 40px;
    }
}

@media screen and (max-height: 800px) {
    .areaImg-cad-mt {
        display: none;
    }

    #linha-vertical {
        display: none;
    }

    .box-cadastro-mt {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95%;
    }
}

/* Responsividade Ipad Pro*/
@media screen and (min-height: 1366px) {
    .areaImg-cad-mt {
        background-color: #16286800;
    }

    .divIMg-mt {
        background-color: #ff387700;
        right: 0px;
        width: 400px;
        flex-direction: column;
    }

    .divIMg-mt img {
        width: 100%;
        height: auto;
    }

    .formaCadastro-2 {
        top: 85vh;
    }

    .h1-mt {
        display: none;
    }

    .h12-mt {
        display: inline;
        font-size: 35px;
        position: relative;
        bottom: 80px;
        left: 15px;
    }

    .formaCadastro-4 {
        top: 76vh;
    }

    .setaV-cadastro {
        display: block;
        top: 50vh;
    }
}

/* Responsividade Next Hub*/
@media (min-width: 1024px) and (max-height: 600px) {

    .formaCadastro-1 {
        z-index: -1;
    }

    .button-cad-mt {
        width: 130px;
        height: 25px;
        margin-top: 560px;
        right: 160px;
    }

    .box-cadastro-mt {
        width: 75%;
        height: 500px;
        overflow-y: scroll;
    }

    .areaForm-cad-mt {
        /* background-color: #FF3877; */
        margin-top: 120px;
    }

    .titulo-areato-mt {
        display: block;
        margin-bottom: 460px;
        font-size: 30px;
    }
}

/* Responsividade Next Pro*/
@media (min-width: 1280px) and (max-height: 800px) {
    .titulo-areato-mt {
        display: block;
        margin-bottom: 600px;
        font-size: 40px;
    }

    .box-cadastro-mt {
        height: 650px;
    }

    .titulo-areato-mt {
        top: 10px;
        position: relative;
    }

}

/* Responsividade Sansung Galaxy A51/71 */
@media (min-width: 412px) and (max-height: 915px) {
    .setaV-cadastro {
        display: block;
        top: 45vh;
        right: 18vw;
    }
}

/* Responsividade Surface Pro 7 */
@media (min-width: 912px) and (min-height: 1368px) {
    .setaV-cadastro {
        display: block;
        top: 30vh;
        right: 18vw;
    }
}