@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../menu-adm.css);
@import url(../btn-padrao.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.principal {
    width: 100vw;
    height: 90vh;
}

.box {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    margin-top: 1%;
    border-radius: 10px;
    backdrop-filter: blur(0px);
    transition: all .5s ease-in-out;
    background-color: #FCF8F8;
    z-index: 2;
}

.container{
    width: 90%;
    height: 20%;
    margin-top: 65rem;
    margin-left: 15rem;
}

.title {
    text-align: center;
    font-size: 15px;
    z-index: 2;
    font-weight: 500;
    margin-top: -50rem;
    margin-right: 20rem;
}

.search{
    display: flex;
    align-items: center;
    width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    color: #4b4b4b;
}

#lupa {
    color: #007E70;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

#searchInput{
    padding: 30px;
    border: none;
    background-color: white;
    width: 100%;
    outline: none;
    display: flex;
    z-index: 2;
}

.search label{
    height: 15px;
}

.form{
    width: 200rem;
    height: 75%;
    margin-left: -93.5rem;
    margin-top: 15rem;
}

.form-content{
    width: 110%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input{
    width: 35%;
    height: 10%;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 10px;
    margin-top: 2px;
    color: #000000;
    cursor: pointer;
    margin-bottom: 2%;
}

input[type="file"] {
    display: none;
}

#arquivo:hover {
    background: #f0f0f0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

.label{
    font-size: 15px;
}

.custom-file-label {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 10px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #828080;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    background-color: white;
}

.custom-file-label:hover {
    background: #f0f0f0;
}

.form-input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 10px;
    margin-top: 2px;
    color: #828080;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    background-color: white;
}

.search {
    display: flex;
    align-items: center;
    width: 95rem;
    margin-right: 50px;
}

#searchInput {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 65px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
}


/* Responsividades: */
/* Celulares pequenos (smartphones compactos) */
@media (max-width: 575.98px){
   
}
 
 
/* Celulares médios e grandes (smartphones modernos) */
@media (min-width: 576px) and (max-width: 767.98px){
  
}
 
 
/* Tablets e celulares em paisagem */
@media (min-width: 768px) and (max-width: 991.98px){
   
}
 
 
/* Notebooks e desktops padrão */
@media (min-width: 992px) and (max-width: 1199.98px){
  
}
 
 
/* Desktops grandes e telas Full HD */
@media (min-width: 1200px) and (max-width: 1399.98px){
    
}
 
 
/* Computadores Largos e Compactos (Baixa Altura):  */
@media (min-width: 1400px) and (max-height: 699.98px){
  
}




