@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
     
* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
        
}

.bola-fundo2{
    position: absolute;
   top: 15%;    
    left: -10px;
    z-index: 1;
}
    
.bola-fundo3{
    position: absolute;
    top: 18%;
    left: 94%;
    z-index: 1;
}
    
.bola-azul1{
    position: absolute;
    top: 78%;
    left: 90%;
    z-index: 1;
}
    

.box{
    display: flex;
    padding: 130px;
    width: 1700px;
    height: 770px;
    margin-left: 6%;
    margin: 50px;
    position: relative;
    top: -9px;
    background: rgba(170, 165, 165, 0.17);
    border-radius: 15px;
    backdrop-filter: blur(3px);
    box-shadow: 0 4px 30px rgba(219, 211, 211, 0.1);
    z-index: 2;
}

.title{
    z-index: 3;
    font-size: 32px;
    height: 50px;
    width: 300px;
    position: absolute;
    left: 43%;
    top: 18%;
    text-transform: uppercase;
}

.input-formulario{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    left:25%;
        
}

.input-formulario label{
    position: relative;
    top: 13px;
}
        

.input-formulario input {
    padding: 10px; /* Mantém o padding para o espaço interno do input */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px; 
    box-sizing: border-box;
    height: 40%;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
}

.input-formulario2{
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: absolute;
    left: 49.5%;
}

.input-formulario2 label{
    position: relative;
    top: 13px;
}

.input-formulario2 input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    box-sizing: border-box;
    height: 40px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
}

.input-formulario3{
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: absolute;
    left: 65%;
    top: 17%;
}

.input-formulario3 label{
    position: relative;
    top: 13px;
}

.input-formulario3 input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    box-sizing: border-box;
    height: 40px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
}

.img-expo .img-expositor{
    width: 250px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    left: 7%;
    top: 18%;
}

.imagens{
    position: relative;
     top: 69%;
    left: 2%;
}

.img-produtos{
    position: relative;
    top: 70%;
}

.img-produtos img {
    width: 100px; 
    height: auto; 
    margin: 2px; 
}

.botoes-salvar{ 
    position: absolute;
    left: 73%;
    top: 70%;
}

label#salvar-btn {
    display: inline-block;  
    background-color: #073e86;
    color: white;
    padding: 5px 30px;
    /* background-color: #FF3877; */
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    /* box-shadow: 0px 4px 6px #027C8D; */
}


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    /* z-index: 5; */
}


input[type="checkbox"]:checked + .modal-container {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 5;
}


.botoes {
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
}

.botoes label {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
}

.botoes label.salvar {
    background-color: #0b8815;
    width: 110px;
}



.botoes-cancelar{
    position: absolute;
    left: 62%;
    top: 64%;
}

.btn-cancelar{
    display: inline-block;  
    background-color: #4CAF50;
    color: white;
    padding: 13px 40px;
    background-color: #007E70;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    /* box-shadow: 0px 4px 6px #027C8D; */
}


.botao-cancelar button{
    background-color: #B1253F;
    padding: 7px 20px;
    position: absolute;
    left: 64%;
    top: 70%;
    border: none;
    border-radius: 7px;
}

.botao-cancelar a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}


.status{
    position: absolute;
    top: 55%;
    left: 65%;
}

.toggle-btn {
    position: absolute;
    left: 66%;
    top: 59%;
    display: inline-block;
    width: 80px;
    height: 40px;
    cursor: pointer;
  }
  
.toggle-btn input[type="checkbox"] {
    display: none;
}
  
.btn-status{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
}
  
.ativar {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
  
.toggle-btn::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -35px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
}
  
.toggle-btn input[type="checkbox"]:checked + .ativar {
    transform: translateX(45px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}
  
.toggle-btn input[type="checkbox"]:checked + .btn-status {
    background-color: #05c46b;
    box-shadow: inset 0 0 0 2px #04b360;
}
  
.toggle-btn input[type="checkbox"]:checked + .toggle-btn:before {
    content: "On";
    color: #05c46b;
    right: -15px;
}
  
.toggle-btn input[type="checkbox"]:checked + .btn-status .ativar {
    transform: translateX(40px);
}

.fa-solid, .fas{
    position: absolute;
    top: 90%;
    left: 3%;
}