@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('../menu-adm.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    overflow: hidden;
}
.bolas-fundo {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: -90vh;
    z-index: -3;
}

.bolas-fundo .bola-verde1 {
    position: absolute;
    left: 0px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .bola-verde2 {
    position: absolute;
    right: 0px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .bola-rosa {
    position: absolute;
    right: 0px;
    bottom: -100px;
    z-index: -3;
}

.principal {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow-y: auto;
}

.box {
    width: 100%;
    max-width: 90%;
    height: 90%;
    background-color: rgba(248, 245, 246, 0.65);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    overflow-y: auto;
}

h2 {
    font-size: 2rem;
}

.form-box form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group label {
    font-weight: bold;
    color: #3d3d3d;
    
}

.input-group input,
.input-group textarea {
    width: 100%;
    min-height: 45px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
}

.form-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap: 40px; 
    /* background-color: #007E70; */
    width: 100%;
    /* max-width: 900px;  */
    margin: auto;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;  
}

.data .input-group{
    width: 40%;
}

.inputs-form-utilidade {
    /* background-color: chocolate; */
    width: 100%;
}

.btns {
    width: 100%;
    /* background-color: #FF3877; */
}

.box .btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    padding-right: 50px;
}

.btns {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.img-preview-cadastro {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}

.inputs-form-utilidade{
    /* background-color: chocolate; */
    width: 60%;
}

#form_cadastrar_utilidade {
    width: 100%;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    display: flex;
}


.img-preview-cadastro img.preview {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain; 
    /* border-radius: 8px;   */
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
}

.form-box {
    display: flex;
    width: 100%;
    /* background-color: aqua; */
}


@media (max-width: 480px) {
    .img-preview {
        max-width: 90%;
        margin-bottom: 50px;
    }
    .inputs-form-utilidade {
        width: 70%;
    }
    .form-container {
        align-items: center;
    }
}

@media (max-width: 320px) {
    .form-box {
        align-items: center;
    }
}


@media (max-width: 950px) {
    .box .form-box {
        width: 100%;
    }
    #form1 {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    #btns-salvar-cancelar .btns-salvar-cancelar{
        padding: 20px;
    }
}

@media (max-width: 650px) {
    .principal .box {
        padding: 10px;
    }
    .box .form-box{
        width: 90%;
    }
    .btn {
        width: 100%;
    }
    .btn-cancelar-salvar .btn {
        width: clamp(80px, 25%, 120px); /* Ajuste proporcional em telas menores */
    }
    .inputs-form-utilidade {
        width: 70%;
    }
    .form-container {
        align-items: center;
    }
}

@media (max-width: 410px) {
    h2 {
        font-size: 1.5rem;
    }
    .btn {
        width: 100%;
    }
    .btn-cancelar-salvar .btn {
        width: clamp(60px, 40%, 100px); /* Ajuste mais agressivo em telas pequenas */
    }
    #btns-salvar-cancelar .btns-salvar-cancelar{
        padding: 20px;
    }
}