@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../menu-adm.css');

.principal-parceiros {
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    background-color: #ffffff;
}

.nome-area-parceiros h1{
    color: black;
    position: absolute;
    top: 150px;
    right: 820px;
}

.Bola-1-parceiros{
    position: fixed;
    top: 15vh;
    right: 80vw;
    z-index: 1;
    width: 20vw;
}

.Bola-2-parceiros{
    position: fixed;
    top: 20vh;
    left: 90vw;
    z-index: 1;
    width: 20vw;
}

.Bola-3-parceiros{
    position: fixed;
    top: 65vh;
    left: 80vw;
    z-index: 1;
    width: 20vw;
}


.box-parceiros {
    width: 90%;
    height: 100%;
    background-color: #f8f5f679;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.seta-voltar-parceiros{
    position: relative;
    position: absolute;
    top: 800px;
    left: 150px;
    transition: transform 0.3s ease; 
    cursor: pointer; 
    display: flex;
}

.seta-voltar-parceiros:hover{
    transform: scale(1.1);
}

.area-botao-parceiros{
    width: 70%;
    height: 100%;
    background-color: #f8f5f64b;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    padding: 100px;
}

.Botoes-parceiros{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    max-width: 500px;
    margin: auto; 
    position: relative;
    border: 4px solid #162868;
    border-radius: 10px;
    transition: transform 0.3s ease; 
    cursor: pointer; 
}


.Botoes-parceiros:hover{
    transform: scale(1.1);
}
.link-area-icon {
    text-decoration: none; 
    color: inherit; 
    display: inline-block; 
}
.area-icon-parceiros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    gap: 10px;
}

.area-icon-parceiros img{
    max-width: 100%;
    height: auto;
}

.area-icon-parceiros p{
    margin: 0; 
    text-align: center; 
    color: #162868;
    position: relative;
}


@media screen and (max-width: 720px) {
    .area-botao-parceiros{
        width: 100%;
        padding: 20px;
        gap: 20px;
        display: flex;
    }
    .Botoes-parceiros{
        width: 100px;
        height: 100px;
    }
    .Bola-1-parceiros{
        display: block;
        top: 20vh;
        right: 88vw;
    }

    .Bola-1-parceiros img{
        width: 100%;
        height: auto;
    }

    .Bola-2-parceiros{
        display: block;
        top: 20vh;
        right: 80vw;
    }

    .Bola-2-parceiros img{
        width: 100%;
        height: auto;
    }

    .Bola-3-parceiros{
        display: block;
        top: 91vh;
    }

    .Bola-3-parceiros img{
        width: 100%;
        height: auto;
    }

    .area-icon-parceiros img{
        width: 25%;
    }

    .area-icon-parceiros p{
        top: 130px;
        font-size: 10.5px;
    }

    .seta-voltar-parceiros{
        width: 25px;
        height: 25px;
        top: 89vh;
        left: 10vw;
    }
}