@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.principal {
    width: 100vw;
    height: 90vh;
}

.box {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    border-radius: 10px;
    backdrop-filter: blur(0px);
    transition: all .5s ease-in-out;
    background-color: #c82727;
    z-index: 2;
}


.title {
    display: flex;
    text-align: center;
    font-size: 32px;
    z-index: 2;
    font-weight: 500;
    margin-top: -50rem;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #00000006;
    width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}

#searchInput{
    padding: 30px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label{
    height: 15px;
}

.formularios{
    margin-top: 20rem;
}

.form1{
    background-color: red;
}
/*
.form2{

}

.input{

}

.label{

}

.form-input{

}

.btn{

}

.btn-fim{

}

.btn-salvar{

}

.btn-cancelar{

}

.button{

}

.voltar{

} */
















/* .area-form{
    width: 90%;
    height: 90%;
    margin-top: 110%;
}

.form{
    width: 90%;
    height: 80%;
    margin-top: 5%;
    margin-left: 5%;
}

.form-input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 10px;
    margin-top: 2px;
    color: #828080;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
}

.label{
    font-size: 15px;
}

.form-btn-1{
    width: 74rem;
    height: 3rem;
    padding: 10px;
    margin-left: 60px;
}


.btn-salvar{
    width: 100%;
    min-height: 45px;
    padding: 5px;
    border: none;
    border-radius: 0.3rem;
    background-color: #007E70;
    outline: none;
    box-shadow: 0px 0.125rem 0px rgb(182, 182, 182);
    box-sizing: border-box;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn-salvar:hover{
    color: #007E70;
    background-color: white;
    border: 1px solid #007E70;
}

.btn-cancelar{
    width: 100%;
    min-height: 45px;
    padding: 5px;
    border: none;
    border-radius: 0.3rem;
    background-color: #FF3877;
    outline: none;
    box-shadow: 0px 0.125rem 0px rgb(182, 182, 182);
    box-sizing: border-box;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn-cancelar:hover{
    color: #FF3877;
    background-color: white;
    border: 1px solid #FF3877;
}

.area-div-1{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.area-div-2{
    width: 45%;
    height: 80%;
    margin-top: -40%;
    margin-left: 55%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.area-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 10%;
    gap: 280px;
    margin-left: 55%;
} */

/* .pesquisa {
    display: flex;
    align-items: center;
    width: 95rem;
    margin-right: 50px;
}

.pesquisa input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 65px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
}

.pesquisa .bola {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #007E70;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../Public/imgs/img-home/Lupa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 30px;
    margin-left: 3%;
} */
/* 
input[type="file"] {
    display: none;
}

.custom-file-label {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    font-size: 15px;
    padding: 10px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #828080;
    cursor: pointer;
    transition: 0.3s;
}

.custom-file-label:hover {
    background: #f0f0f0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

.btn-voltar {
    font-size: 30px;
    margin-top: 30%;
    margin-right: 5%;
    z-index: 10;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.formas {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: -90vh;
    z-index: -3;
}

.formas .forma-1 {
    position: relative;
    left: -40px;
    top: -10%;
    z-index: -3;
}

.formas .forma2 {
    position: relative;
    left: 87%;
    top: 0;
    z-index: -3;
}

.formas .forma3 {
    position: relative;
    left: 75%;
    top: 70%;
} */