@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../menu-adm.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    overflow-y: hidden;
}

.bolas-fundo {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: -90vh;
    z-index: -3;
}

.bolas-fundo .bola-azul1 {
    position: absolute;
    left: -40px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .bola-azul2 {
    position: absolute;
    right: -50px;
    top: 6vh;
    z-index: -3;
    left: 93%;
}

.bolas-fundo .bola-azul3 {
    position: absolute;
    right: -100px;
    bottom: -50px;
    z-index: -3;
    top: 80%;
}

.principal{
    width: 100vw;
    height: 90vh;
    z-index: 1;
}

.box{
    width: 90%;
    height: 90%;
    background-color: rgba(248, 245, 246, 0.65);
    margin: auto;
    margin-top: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

h2{
    font-size: 30px;
}

.area-pesquisa{
    width: 90%;
    margin: 20px auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
}

.div-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.div-pesquisa label{
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.div-pesquisa input{
    padding: 8px;
    width: 700px;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: 5px 3px 5px rgba(32, 54, 139, 1);
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
}

.button-buscar{
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(32, 54, 139, 1);
}

.button-buscar:hover{
    background-color: #041831;
}

.table-area{
    width: 100%;
    max-height: 50vh;
    overflow: auto;
    border: 1px solid #ddd;
}

.table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table tbody{
    width: 100%;
    max-height: 50vh;
    display: table-row-group;
}

.table thead{
    top: 0;
    z-index: 2;
    position: sticky;
    color: white;
    background-color: rgba(32, 54, 139, 1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.table thead tr,
.table tbody tr{
    width: 100%;
    display: table;
    table-layout: fixed;
}

.table tbody tr td{
    text-align: center;
    height: 15%;
}

.table th,
.table td{
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.table td{
    padding: 12px 15px;
}

table tbody tr:nth-child(odd){
    font-size: 80%;
    background-color: width;
}

table tbody tr:nth-child(even){
    font-size: 80%;
    background-color: #e6e6e6;
}

.table tbody tr:hover{
    background-color: #f1f1f1;
}

.perfil i{
    cursor: pointer;
    font-size: 25px;
    text-align: center;
}

.perfil i:hover{
    color: #003d8c;
}

.email{
    font-size: 10px;
}

.btn-v {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn-v .voltar {
    position: absolute;
    bottom: 20px;
    left: 90px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 1042px) {
    .principal .box {
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    .div-pesquisa input {
        width: 95%;
    }

    .button-buscar{
        margin-top: 1rem;
        margin-left: 2.5rem;
        width: 70%;
    }
}

@media(max-width: 720px) {
    .div-pesquisa {
        flex-direction: column;
        align-items: stretch;
    }

    .div-pesquisa label {
        font-size: 14px;
    }

    .table {
        font-size: 12px;
    }

    .table th,
    .table td {
        padding: 6px;
    }

    .table th {
        font-size: 10px;
    }

    .btn-v {
        display: none;
    }

    .email,
    .fone,
    label {
        display: none;
    }

    .bolas-fundo {
        display: none;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    .area-pesquisa input {
        font-size: 12px;
    }

    .area-pesquisa .button-buscar {
        font-size: 12px;
        padding: 5px 10px;
    }
}





