@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../menu-adm.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    overflow-y: hidden;
}

.principal {
    width: 100vw;
    height: 90vh;
    z-index: 1;
}

.principal .box {
    width: 90%;
    height: 90%;
    background-color: rgba(248, 245, 246, 0.65);
    margin: auto;
    margin-top: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

h2 {
    font-size: 30px;
}


/* Estilo do ícone de editar */
.edit-icon i {
    color: #333;
    /* Cor do ícone de editar */
    margin-right: 12px;
    /* Espaçamento à direita do ícone */
    font-size: 18px;
    /* Tamanho do ícone (ajuste conforme necessário) */
}

/* Estilo do ícone de excluir */
.delete-icon i {
    color: #333;
    /* Cor do ícone de excluir */
    font-size: 18px;
    /* Tamanho do ícone (ajuste conforme necessário) */
}

/* Remover o sublinhado dos links */
.edit-icon,
.delete-icon {
    text-decoration: none;
    /* Remove o sublinhado */
}

/* Cor ao passar o mouse (hover) */
.edit-icon:hover i,
.delete-icon:hover i {
    color: #007bff;
    /* Cor de hover para os ícones (ajuste conforme necessário) */
}

#modal-validar,
#modal-recusar,
#recusado-sucesso,
#validacao-sucesso {
    display: none;
}


#modal-recusar:target {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}

#modal-validar,
#modal-recusar,
#recusado-sucesso,
#validacao-sucesso {
    display: none;
}


#modal-recusar:target {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}

.acao-content-recusar {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.acao-texto-recusar {
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    /* background-color: red; */
}

.acao-botoes-recusar {
    width: 90%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: red; */
}

#modal-validar,
#modal-recusar,
#recusado-sucesso,
#validacao-sucesso {
    display: none;
}


#modal-recusar:target {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}

.acao-content-recusar {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.acao-texto-recusar {
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    /* background-color: red; */
}

.acao-botoes-recusar {
    width: 90%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: red; */
}


/* Estilos gerais para o modal */
#modal-editar {
    display: none;
    /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}

#modal-editar:target {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}

/* Content do Modal de Edição */
.acao-content-editar {
    width: 60%;
    /* Tamanho inicial para telas grandes */
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    /* Adicionando padding para não colar nos cantos */
}

/* Estilizando o título */
.acao-texto-editar {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin-top: 20px;
    /* Adiciona um espaço acima do título */
}

/* Estilizando os subtítulos */
.acao-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    /* Espaço entre subtítulo e input */
    color: #333;
}

/* Estrutura dos campos de input */
.input-group {
    display: flex;
    flex-direction: column;
    /* Coloca os inputs em uma coluna */
    gap: 10px;
    /* Espaçamento entre os subtítulos e os inputs */
}

/* Contêiner dos inputs */
.acao-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Duas colunas em telas maiores */
    gap: 20px;
    /* Espaçamento entre os inputs */
    width: 100%;
}

/* Input estilizado */
.acao-input-edit {
    width: 100%;
    min-height: 45px;
    padding: 10px;
    border: 1px solid #ffffff;
    /* Mantém a borda branca em cima, em baixo e à esquerda */
    border-right: 1px solid #bebdbd;
    /* Borda à direita com cor mais escura */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    outline: none;
    box-shadow: 0px 0.125rem 0px rgb(182, 182, 182);
    box-sizing: border-box;
}


/* Botões de ação */
.acao-botoes-editar {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Estilizando os botões */
.botao-cancelar,
.botao-confirmar {
    cursor: pointer;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}

.botao-cancelar {
    background-color: #FF3877;
    color: white;
}

.botao-confirmar {
    background-color: #007E70;
    color: white;
}

/* Responsividade */

/* Para telas pequenas (dispositivos móveis, até 768px) */
@media (max-width: 768px) {
    .acao-content-editar {
        width: 80%;
        /* Aumenta o modal para 80% da tela */
        height: auto;
    }

    .acao-texto-editar {
        font-size: 22px;
        /* Ajuste do tamanho do título */
    }

    .acao-inputs {
        grid-template-columns: 1fr;
        /* Coloca os inputs em uma única coluna */
        gap: 15px;
        /* Menor espaço entre os inputs */
        width: 100%;
    }

    .botao-cancelar,
    .botao-confirmar {
        width: 150px;
        /* Botões menores em telas pequenas */
    }
}

/* Para telas muito pequenas (até 480px) */
@media (max-width: 480px) {
    .acao-content-editar {
        width: 90%;
        /* Modal maior em telas pequenas */
        padding: 10px;
    }

    .acao-texto-editar {
        font-size: 20px;
        /* Ajuste do tamanho do título */
    }

    .acao-inputs {
        gap: 10px;
        /* Menor espaço entre os inputs */
    }

    .botao-cancelar,
    .botao-confirmar {
        width: 120px;
        /* Botões bem menores */
        font-size: 14px;
        /* Texto dos botões menor */
    }
}

#recusado-sucesso:target {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}

.mensagem-content-recusar {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: white;
}



/* Estilo do parágrafo dentro do modal */
.modal-edit {
    margin: auto;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.modal-edit input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    /* Cor de fundo suave */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    /* Suaviza o foco */
}

/* Estilização dos botões dentro do modal */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 5px;
}

/* Botão de Cancelar */
.cancel-btn {
    background-color: #f44336;
    /* Vermelho */
    color: white;
}

/* Botão de Confirmar */
.confirm-btn {
    background-color: #4CAF50;
    /* Verde */
    color: white;
}

/* Hover nos botões */
button:hover {
    opacity: 0.8;
}

/* Estilo do backdrop (fundo escuro atrás do modal) */
.modal::backdrop {
    background: rgba(0, 0, 0, 0.521);
    /* Escurece o fundo atrás do modal */
}



.container {
    width: 90%;
    margin: 20px auto;
    font-family: 'poppins', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
}


.search-bar {
    /* position: sticky; */
    top: 0;
    background: white;
    /* z-index: 1000; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}


.search-bar input {
    outline: none;
}

.search-bar label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.edicao-expositor {
    height: 500px;
    width: 399px;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 700px;
    margin-right: 10px;
    font-size: 16px;
    box-shadow: 5px 3px 5px rgba(32, 54, 139, 1);
}

.search-bar .search-button {
    background-color: rgb(32, 54, 139);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar .search-button:hover {
    background-color: #041831;
}


.table-container {
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.collaborators-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


/* .collaborators-table thead {
    position: sticky;
    top: 0;
    background-color: rgb(32, 54, 139);
    color: white;
    z-index: 10;
} */

/* .collaborators-table th, .collaborators-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    width: 20%;
} */


.collaborators-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


.collaborators-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.collaborators-table tbody {
    display: table-row-group;
    max-height: 50vh;
    width: 100%;
}

.collaborators-table thead {
    position: sticky;
    top: 0;
    background-color: rgb(32, 54, 139);
    color: white;
    z-index: 2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.collaborators-table thead tr,
.collaborators-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.collaborators-table tbody tr td {
    text-align: center;
    height: 15%;
}


.collaborators-table th,
.collaborators-table td {
    /* padding: 12px 15px; */
    border: 1px solid #ddd;
    text-align: center;
}

.collaborators-table th {
    padding: 12px 15px;
}

/* .collaborators-table td{
    padding: 12px 15px;
} */

table tbody tr:nth-child(odd) {
    font-size: 80%;
    background-color: white;
    /* Cor clara */
}

table tbody tr:nth-child(even) {
    font-size: 80%;
    background-color: #e6e6e6;
    /* Cor mais escura */
}

.collaborators-table tbody tr:hover {
    background-color: #f1f1f1;
}


.status {
    width: 80px;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.status.active {
    background-color: #28a745;
    color: white;
    border-radius: 8px;
}

.status.inactive {
    background-color: #dc3545;
    color: white;
    border-radius: 8px;
}

.edit-icon {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.edit-icon:hover {
    color: #003d8c;
}

.bolas-fundo {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: -90vh;
    z-index: -3;
    /* animation: bolaAnim 5s infinite; */
}

/* @keyframes bolaAnim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
} */

.bolas-fundo .bola-verde1 {
    position: absolute;
    left: 0px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .bola-verde2 {
    position: absolute;
    right: 0px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .bola-rosa {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -3;
    /* top: 55%; */
}   

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btns .voltar {
    position: absolute;
    bottom: 20px;
    left: 90px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 1042px) {
    .principal .box {
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    .search-bar input {
        width: 100%;
    }
}

@media(max-width: 720px) {
    .search-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar label {
        font-size: 14px;
    }

    .collaborators-table {
        font-size: 12px;
    }

    .collaborators-table th,
    .collaborators-table td {
        padding: 6px;
    }

    .collaborators-table th {
        font-size: 12px;
    }

    .email-col,
    .fone-col,
    .usuario-col,
    label {
        display: none;
    }

    .bolas-fundo {
        display: none;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    .search-bar input {
        font-size: 12px;
    }

    .search-bar .search-button {
        font-size: 12px;
        padding: 5px 10px;
    }

    /* Modal de Deletar (Recusar) */
    @media (max-width: 768px) {
        #modal-recusar .acao-content-recusar {
            width: 80%;
            /* Aumenta a largura para 80% da tela */
            height: auto;
            /* Ajusta a altura para evitar que o modal fique muito grande */
        }

        .acao-texto-recusar {
            font-size: 20px;
            /* Ajuste do tamanho da fonte */
        }

        .acao-botoes-recusar {
            gap: 20px;
            /* Ajuste o espaçamento entre os botões */
        }

        .botao-cancelar,
        .botao-confirmar {
            width: 160px;
            /* Ajuste do tamanho dos botões */
            font-size: 14px;
            /* Reduz o tamanho da fonte dos botões */
        }
    }

    /* Modal de Deletar (Recusar) para telas muito pequenas (até 480px) */
    @media (max-width: 480px) {
        #modal-recusar .acao-content-recusar {
            width: 90%;
            /* Aumenta o modal para 90% da tela */
            padding: 10px;
            /* Reduz o padding para telas pequenas */
        }

        .acao-texto-recusar {
            font-size: 16px;
            /* Reduz o tamanho da fonte do texto */
        }

        .acao-botoes-recusar {
            gap: 15px;
            /* Diminui o espaçamento entre os botões */
        }

        .botao-cancelar,
        .botao-confirmar {
            width: 120px;
            /* Botões menores */
            font-size: 12px;
            /* Texto dos botões menor */
        }
    }

    /* Modal de confirmação de sucesso (Recusado Sucesso) */
    @media (max-width: 768px) {
        #recusado-sucesso .mensagem-content-recusar {
            width: 80%;
            /* Ajusta a largura do modal */
            height: auto;
            /* Ajusta a altura para telas pequenas */
        }

        .mensagem-texto-recusar {
            font-size: 20px;
            /* Ajuste do tamanho da fonte */
        }

        .botao-confirmar {
            width: 160px;
            /* Ajuste do tamanho dos botões */
            font-size: 14px;
            /* Reduz o tamanho da fonte dos botões */
        }
    }

    @media (max-width: 480px) {
        #recusado-sucesso .mensagem-content-recusar {
            width: 90%;
            /* Aumenta o modal para 90% da tela */
            padding: 10px;
            /* Reduz o padding para telas pequenas */
        }

        .mensagem-texto-recusar {
            font-size: 16px;
            /* Ajuste no tamanho da fonte */
        }

        .botao-confirmar {
            width: 120px;
            /* Botão menor */
            font-size: 12px;
            /* Tamanho menor do texto */
        }
    }

}

/* 📱 Ajustes para telas menores que 1200px */
@media (max-width: 1199.98px) {
    body {
        max-height: 50vh;
        overflow-y: auto;
        background-color: aqua;
    }

    .container {
        padding: 20px;
        height: auto;
    }

    .titulo {
        font-size: 32px;
        text-align: center;
    }

    .search-bar {
        background-color: #ffffff;
        flex-direction: row;
        justify-content: space-between;
    }

    .search-bar input {
        width: 80%;
        font-size: 18px;
        padding: 12px;
        outline: none;
    }

    .search-bar .search-button {
        font-size: 18px;
        padding: 12px;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
        max-height: 55vh;
        padding: initial;
        border: 1px solid #ccc;
    }

    .collaborators-table {
        width: 100%;
        min-width: 1000px;
        border-collapse: collapse;
    }

    .collaborators-table th {
        padding: 15px;
    }

    .collaborators-table td {
        padding: 12px;
    }

    .collaborators-table th,
    .collaborators-table td {
        /* padding: 12px; */
        font-size: 14px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .collaborators-table thead {
        font-size: 16px;
    }

    .status {
        font-size: 14px;
    }

    .botoes {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .novo-evento {
        font-size: 16px;
        padding: 10px 20px;
    }

    .principal .box {
        margin-top: 40px;
        justify-content: center;
        height: 100vh;
    }

    .bolas-fundo .bola-rosa {
        bottom: -15%;
    }

    .voltar-link {
        width: 70%;
        bottom: -40px;
    }

    .email-col {
        overflow-x: auto;
    }

    .btns .voltar {
        bottom: -150px;
        left: -2%;
    }

    .voltar {
        width: 20%;
    }

    .voltar img {
        width: 30%;
    }

    body {
        max-height: 50vh;
        overflow-y: auto;
        background-color: aqua;
    }

    .modal-content {
        width: 80%;
        max-width: 600px;
        height: 500px;
        padding: 25px;
        overflow-y: auto;
    }

    .titulo {
        font-size: 32px;
        text-align: center;
    }

    .form-box .nome-cat {
        width: 70%;
        font-size: 18px;
    }

    .botoes {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .botoes button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

/* 📱 Ajustes para telas menores que 992px */
@media (max-width: 991.98px) {
    body {
        background-color: blue;
    }

    .titulo {
        font-size: 28px;
    }

    .search-bar input {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        outline: none;
    }

    .search-bar .search-button {
        width: auto;
        font-size: 16px;
        padding: 10px;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
        max-height: 60vh;
        padding: initial;
        border: 1px solid #ccc;
    }

    .collaborators-table {
        width: 100%;
        min-width: 800px;
        border-collapse: collapse;
    }
    .collaborators-table th{
        padding: 15px;
    }

    .collaborators-table td{
        padding: 10px;
    }

    .collaborators-table th, .collaborators-table td {
        /* padding: 12px; */
        font-size: 14px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .collaborators-table thead {
        font-size: 14px;
    }

    .status {
        font-size: 12px;
    }

    .botoes {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .novo-evento {
        font-size: 14px;
        padding: 8px 18px;
    }

    .principal .box {
        height: 100%;
    }

    .voltar-link {
        bottom: -60px
    }

    .bolas-fundo .bola-rosa {
        bottom: -5%;
    }

    .btns .voltar {
        bottom: -30px;
        left: -1.8%;
    }

    .voltar {
        width: 20%;
    }

    .voltar img {
        width: 40%;
    }

    .modal-content {
        width: 85%;
        max-width: 85%;
        height: 700px;
        padding: 20px;
    }

    .titulo {
        font-size: 28px;
    }

    .form-box .nome-cat {
        width: 50%;
        font-size: 15px;
    }

    .botoes {
        width: 50%;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .botoes button {
        width: 70%;
    }
}

/* 📱 Ajustes para telas menores que 768px */
@media (max-width: 767.98px) {
    body {
        background-color: green;
    }

    .titulo {
        font-size: 24px;
    }

    .search-bar {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar input {
        width: 100%;
        font-size: 14px;
        padding: 8px;
        outline: none;
    }

    .search-bar .search-button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
        max-height: 50vh;
        padding: initial;
        border: 1px solid #ccc;
    }

    .collaborators-table {
        width: 100%;
        min-width: 600px;
        border-collapse: collapse;
    }

    .collaborators-table th,
    .collaborators-table td {
        padding: 8px;
        font-size: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .collaborators-table thead {
        font-size: 12px;
    }

    .status {
        font-size: 10px;
    }

    .botoes {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .novo-evento {
        font-size: 12px;
        padding: 6px 16px;
    }

    .modal-content {
        width: 90%;
        max-width: 90%;
        height: auto;
        padding: 15px;
    }

    .titulo {
        font-size: 24px;
    }

    .form-box .nome-cat {
        width: 80%;
        font-size: 14px;
    }

    .botoes {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .botoes button {
        width: 80%;
    }
}

/* 📱 Ajustes para telas menores que 576px */
@media (max-width: 575.98px) {
    body {
        overflow-y: auto;
        max-height: 60vh;
        background-color: red;
    }

    .principal .box {
        margin-top: 40px;
        height: 90vh;
        padding: 0;
        width: 88%;
    }

    .titulo {
        font-size: 20px;
    }

    .search-bar input {
        width: 100%;
        font-size: 12px;
        padding: 6px;
        outline: none;
    }

    .search-bar .search-button {
        position: relative;
        right: 3px;
        width: 100%;
        font-size: 12px;
        padding: 8px;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
        max-height: 40vh;
        padding: initial;
        border: 1px solid #ccc;
    }

    .collaborators-table {
        width: 100%;
        min-width: 400px;
        border-collapse: collapse;
    }

    .collaborators-table th,
    .collaborators-table td {
        padding: 12px;
        font-size: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .collaborators-table thead {
        top: -3.5px;
        font-size: 10px;
    }

    .status {
        position: relative;
        right: 4px;
        width: 50px;
        font-size: 8px;
    }

    .botoes {
        width: 50%;
        bottom: 2rem;
        display: flex;
        justify-content: right;
        margin-top: 20px;
        left: 3rem;
    }

    .novo-evento {
        font-size: 10px;
        padding: 6px 12px;
    }

    .btns .voltar {
        width: 40%;
        bottom: -2.8rem;
        left: -7%;
    }

    .fone-col i {
        font-size: 15px;
    }

    .mais i {
        font-size: 15px;
    }

    .container {
        padding: inherit;
    }

    h2 {
        font-size: 1.5rem;
    }

    .bolas-fundo .bola-rosa {
        bottom: -5%;
    }

    .voltar img {
        width: 30%;
    }

    .modal-content {
        overflow-y: auto;
        width: 90%;
        max-width: 90%;
        height: 70%;
        padding: 15px;
    }

    .titulo {
        font-size: 20px;
    }

    .form-box .nome-cat {
        width: 80%;
        font-size: 14px;
    }

    .botoes {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .botoes .cancelar {
        width: 80%;
    }

    .botoes .salvar {
        width: 100%;
    }
}