@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('../menu-adm.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    overflow: hidden;
}

.bolas-fundo {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: -90vh;
    z-index: -3;
}

.bola-verde1,
.bola-verde2,
.bola-rosa {
    position: absolute;
    z-index: -3;
}

.bola-verde1 {
    left: 0;
    top: 6vh;
}

.bola-verde2 {
    right: 0;
    top: 6vh;
}

.bola-rosa {
    right: 0;
    bottom: -100px;
}

.principal {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.box {
    width: 100%;
    max-width: 90%;
    height: 90%;
    background-color: rgba(248, 245, 246, 0.65);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    overflow-y: auto;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.title-text {
    font-size: 2rem;
    font-weight: bold;
}

.formularios {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    position: relative;
    top: -80px;
}

.formularios div{
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    justify-content: center;
}




.form-pessoa,
.form-loja {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.form-pessoa{
    position: relative;
    left: -20%;
}

.form-loja{
    position: relative;
    left: 10%;
}

.form-expo{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    left: 40%;
    gap: 10px;
}

.input,
.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formularios label{
    width: 120%;
}

.input input,
.input-group input,
.input-group textarea {
    width: 230%;
    height: 50px;
    min-height: 45px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    font-size: 1rem;
    color: #3d3d3d;
    /* background-color: blue; */
}
#categorias{
    width: 230%;
}
.select{
    width: 100%;
    min-height: 45px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    font-size: 1rem;
    color: #3d3d3d;
    /* background-color: red; */
}

.custom-dropdown {
    width: 100%;
    margin-bottom: 20px;
}

.btn-conf {
    width: 100%;
    display: flex;
    justify-content: center;
}

/******* BOTAO FINALIZAR ********/

.btn-finalizar {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 85%;
}


.btn {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.btn-salvar {
    background-color: #007E70;
    box-shadow: 0px 5px 10px rgba(0, 126, 111, 0.5);
    position: relative;
    left: 120%;
    top: 60px;
}

.btn-cancelar {
    background-color: #FF3877;
    box-shadow: 0px 5px 10px rgba(0, 126, 111, 0.5);
}

.btns {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.voltar .img-voltar {
    width: 40px;
}

#modal_salvar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/********* FIM BTN-FINALIZAR *********/

.modal_conteudo {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.text_modal {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.fecha_modal button {
    padding: 10px 20px;
    background-color: #007E70;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 950px) {
    
    .formularios {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .box {
        padding: 10px;
    }

    .btn-finalizar {
        flex-direction: column;
        align-items: stretch;
    }

    .btn {
        width: 100%;
    }
}
