@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url(style-menu-adm.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body-boletos {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #dddddd;
    overflow-x: hidden;
}

.box-boletos {
    width: 90vw;
    height: 86vh;
    margin-top: .7%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.area-title-boletos {
    /* width: 100%; */
    height: 5%;
    text-align: center;
    margin-top: 1%;
    /* background-color: red; */
}

.area-title-boletos .title-boletos {
    font-size: 32px;
}

.content-boletos {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
}

.area-filtros-boletos {
    width: 90%;
    height: 15%;
    margin-top: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #dddddd
}

/* FILTRO DE EXPOSITOR */
.filtro-expositor {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.filtro-expositor input {
    width: 100%;
    height: 100%;
    border: 2px solid #007E70;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.filtro-expositor label {
    height: 70%;
    /* background-color: red; */
}
/* FILTRO DE EXPOSITOR */

/* FILTRO DE DATAS */
.filtro-datas {
    width: 25%;
    height: 60%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

.campo-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.campo-data label {
    text-align: center;
    height: 45%;
    /* background-color: red; */
    /* margin-bottom: 2%; */
}

.campo-data input {
    width: 100%;
    height: 100%;
    border: 2px solid #007E70;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}
/* FILTRO DE DATAS */

/* FILTRO DE STATUS */
.filtro-status {
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.filtro-status select {
    width: 100%;
    height: 100%;
    border: 2px solid #007E70;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.area-filtragem {
    width: 10%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.area-filtragem label {
    height: 40%;
}

.botao-filtrar {
    width: 90%;
    height: 80%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #007E70;
    color: white;
    cursor: pointer;
}

.espacamento {
    width: 2px;
    height: 80px;
    background-color: #acacac;
}

.filtro-status label {
    height: 60%;
}

.area-table-lisEsp {
    margin-top: 3%;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    overflow-x: auto;
    position: relative;
}

.table-lisEsp {
    background-color: rgba(0, 255, 255, 0);
    width: 88%;
    display: block;
    overflow-y: auto;
    max-height: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    position: relative;
    bottom: 8%;
}

.table-lisEsp tbody tr td i{
    font-size: 25px;
    margin-left: 45%;
    cursor: pointer;
}

.table-lisEsp td i:hover{
    color: rgba(32, 54, 139, 1);
}

.table-lisEsp td a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.table-lisEsp thead {
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
}

.table-lisEsp th {
    background-color: rgb(32, 54, 139, 1);
    height: 50px;
}

.table-lisEsp td{
    height: 80px;
}

.table-lisEsp th,
.table-lisEsp td {
    width: 10%;
    padding: 6px;
    text-align: center;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid #ddd;
}

.table-lisEsp tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-lisEsp tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-lisEsp tbody tr:hover{
    background-color: #f1f1f1;
}