@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('../menu-adm.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
}

.bolas-fundo {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: -90vh;
    z-index: -3;
}

.bola-verde1,
.bola-verde2,
.bola-rosa {
    position: absolute;
    z-index: -3;
}

.bola-verde1 {
    left: 0;
    top: 6vh;
}

.bola-verde2 {
    right: 0;
    top: 6vh;
}

.bola-rosa {
    right: 0;
    bottom: -100px;
}

.principal {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.box {
    width: 100%;
    max-width: 90%;
    height: 90%;
    background-color: rgba(248, 245, 246, 0.65);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    overflow-y: auto;
}

.title {
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.title-text {
    font-size: 2rem;
    font-weight: bold;
}

.formularios {
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center; */
    /* position: relative; */
    /* top: -30px; */
    /* background-color: aquamarine; */
    gap: 100px;

}
#form-artista{
    width: 100%;
    /* background-color: blueviolet; */
}

.formularios div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

/* .form-pessoa,
#estilo_musica_container,
.form-expo {
    width: 90%;
    display: flex;
} */

.form-expo {
    width: 40%;
    /* display: flex; */
    position: relative;
    /* left: 15%;
    top: 4px; */

}


.form-pessoa {
    width: 40%;
    position: relative;
    /* left: -22%;
    top: -12px; */
    
}

#estilo_musica_container {
    width: 100%;
}



.input,
.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .formularios label {
    width: 120%;
} */

.input input,
.input-group input,
.input-group textarea {
    /* width: 170%; */
    height: 50px;
    min-height: 45px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    font-size: 1rem;
    color: #3d3d3d;
}



#linguagem_artistica,
#publico_alvo,
#tempo_apresentacao,
#valor_cache,
#estilo_musica {
    /* width: 120%; */
    padding: 5px;
    height: 50px;
    min-height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    font-size: 1rem;
    color: #3d3d3d;
}

.select {
    width: 100%;
    min-height: 45px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #9d9fa1;
    border-right: 2px solid #9d9fa1;
    font-size: 1rem;
    color: #3d3d3d;
}

/* .custom-dropdown {
    width: 100%;
    margin-bottom: 20px;
} */

/* .btns-salvar-cancelar {
    width: 0%;
    gap: 10px;
} */

/* .link-area-adm {
    position: relative;
    left: -35%;
} */

@media (max-width:1500px) {
    .formularios {
        position: relative;
        /* top: -40px;
        left: 5%; */
    }
}

@media (max-width: 1024px) {
    .box{
        overflow-x: hidden;
    }
    .formularios {
        flex-direction: column;
        top: 0;
        gap: 0px;
    }

    .form-pessoa,
    .form-expo {
        position: static;
        width: 100%;
    }

    .input input,
    .input-group input,
    .input-group textarea,
    #linguagem_artistica {
        width: 100% !important;
    }

    /* .btns-salvar-cancelar{
        position: relative;
        left: -20%;
    } */

}

@media (max-width: 768px) {
    .title {
        width: 100%;
    }

    .title-text {
        font-size: 1.5rem;
    }

    .btns-salvar-cancelar{
        position: relative;
        left: -60%;
    }

    .link-area-adm{
        position: relative;
        left: -20%;
    }

}

@media (max-width: 480px) {
    .box{
        overflow-x: hidden;
    }
    .title-text {
        width: 116%;
        position: relative;
        left: -22px;
        font-size: 1.1rem;
    }

    .input input,
    .input-group input,
    .input-group textarea,
    #linguagem_artistica {
        width: 100%;
        left: 8%;
    }

    .formularios {
        position: relative;
        left: 0%;
        font-size: 14px;
    }

    .formularios label {
        left: 8%;
    }

    .btn-salvar{
        left: 0%;
        flex-direction: row-reverse;
    }

    .link-area-adm{
        position: relative;
        left: -55%;
    }
    .btns-salvar-cancelar{
        left: 0;
    }

}

@media (width:344px) and (height:882px) {
    .box{
        overflow-x: hidden;
    }
    .form-pessoa .input{
        width: 80%;
    }
    .form-expo .input{
        width: 80%;
    }

    .form-expo .select{
        width: 80%;
    }

    .formularios{
        left: 10%;
    }
    #publico_alvo{
        width: 100%;
    }
    .link-area-adm{
        position: relative;
        left: -50%;
    }
}