@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Markazi+Text:wght@400..700&display=swap');

html{
 scroll-behavior: smooth;
}

*{
 font-family: 'Times New Roman', Times, serif;
}

:root{
 --color-primary-1: #1E1D1B;
 --color-primary-2: #61e9dd;
 --color-primary-3: #F4F1DE;
 --color-primary-4: #076960;
}

.portfolio-raquel{
 width: 99%;
 height: 100%;
 background-color: var(--color-primary-4);
}

.parte1-r{
 width: 100%;
 height: 750px;
 background-color: var(--color-primary-1);
}

#voltar-r{
 font-size: 30px;
 color: var(--color-primary-3);
 margin-left: 25px;
 margin-top: 45px;
}

.nav-bar{
 list-style: none;
}

#voltar-r:hover{
 color: var(--color-primary-2);
 cursor: pointer;
}

.title-r{
 color: var(--color-primary-2);
 font-size: 65px;
 margin-left: 200px;
 margin-top: 90px;
 font-family: 'Cinzel','Courier New', Courier, monospace;
}

.subtitle-r{
 color: var(--color-primary-3);
 font-size: 20px;
 width: 660px;
 margin-left: 200px;
 font-weight: 10;
 text-align: justify;
}

.area-foto-1-r{
 background-color: transparent;
 border-radius: 140px;
 box-shadow: 0px 0px 0px 3px var(--color-primary-2);
 width: 400px;
 height: 500px;
 display: flex;
 margin-left: 80rem;
 margin-top: -330px;
}

.area-foto-2-r{
 background-color: transparent;
 width: 320px;
 height: 400px;
 box-shadow: 0px 0px 0px 3px var(--color-primary-3);
 border-radius: 110px;
 margin-top: 60px;
 margin-left: 20px;
}


.foto-1-r{
 height: 420px;
 width: 300px;
 border-radius: 90px;
 margin-top: -20px;
 margin-left: -60px;
 background-color: #F4F1DE;
}


.circle1-r{
 color: var(--color-primary-2);
 font-size: 65px;
 margin-top: 10px;
}

.circle2-r{
 color: var(--color-primary-3);
 font-size: 50px;
 margin-top: -70px;
 margin-left: 260px;
}

#circle3-r{
 color: var(--color-primary-2);
 font-size: 120px;
 margin-left: 45.5%;
 margin-top: 70px;
}

.tria-r{
 width: 20px;
 height: 40px;
 color: var(--color-primary-4);
 font-size: 45px;
 margin-left: 55.5rem;
 margin-top: -160px;
 position: absolute;
 transition: 0.1s ease;
}

.tria-r:hover{
 color: var(--color-primary-3);
 cursor: pointer;
}


.social-media-buttons-r{
 display: flex;
 gap: 30px; 
 margin-left: 210px;
 z-index: 2;
}
 
.social-media-buttons-r a{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 46px;
 height: 44px;
 background-color: var(--color-primary-3);
 font-size: 1.50rem;
 border-radius: 15px;
 text-decoration: none;
 color: var(--color-primary-1);
 transition: box-shadow 0.2s ease;
 margin-top: -290px;
}
 
.social-media-buttons-r a:hover{
 box-shadow: 0px 0px 10px 4px var(--color-primary-2);
 cursor: pointer;
}

.parte2-r{
 width: 99%;
 height: 600px;
 background-color: var(--color-primary-2);
 padding: 6% 10px;
 margin-top: 20px;
 transition: 4s ease;
}

.educacao-r{
 width: 500px;
 height: 200px;
 margin-left: 10rem;
 margin-top: 30px;
}

.nome-t-r{
 font-size: 40px;
 color: var(--color-primary-4);
}

#targetSection-r{
 font-size: 40px;
 color: var(--color-primary-4);
}

.nome-in-r{
 font-size: 35px;
 color: var(--color-primary-4);
}

#circulo-m-r{
 font-size: 15px;
 margin-top: -3px;
}

.data-r{
 font-size: 22px;
 margin-left: 28px;
 margin-top: -23px;
}

.ensino-r{
 font-size: 18px;
 margin-left: 146px;
 margin-top: -42px;
 font-weight: bolder;
}

.nome-ensino-r{
 font-size: 16px;
 font-weight: 20;
 margin-left: 146px;
 margin-top: -10px;
}

.atividades-r{
 width: 500px;
 height: 200px;
 margin-left: 10rem;
 margin-top: 130px;
}

.soft-r{
 width: 200px;
 height: 200px;
 margin-left: 45%;
 margin-top: -563px;
}

.subs-r{
 font-size: 20px;
 font-weight: 20;
 margin-top: -15px;
 padding: 10px 0px;
}

.subs-i-r{
 font-size: 20px;
 margin-top: -6px;
}

.idioma-r{
 width: 200px;
 height: 200px;
 margin-left: 46%;
 margin-top: 130px;
}

.subsub-r{
 font-size: 18px;
 margin-left: 0%;
 margin-top: -10px;
 font-weight: 10;
}

.coding-r{
 width: 150px;
 height: 150px;
 margin-left: 74%;
 margin-top: -560px;
}

.nome-int-r{
 font-size: 38px;
 color: var(--color-primary-4);
}

#icons-pt2-r{
 font-size: 35px;
}

.cod-1-r{
 width: 200px;
 height: 40px;
 display: flex;
 justify-content: center;
 gap: 40px;
 margin-top: 30px;
 margin-left: -35%;
}

.cod-2-r{
 align-items: center;
 width: 200px;
 height: 40px;
 display: flex;
 justify-content: center;
 gap: 40px;
 margin-top: 20px;
 margin-left: -35%;
}

.int-hob-r{
 height: 200px;
 width: 350px;
 margin-left: 80rem;
 margin-top: 10%;
}

.div-int-r{
 width: 300px;
 height: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 58px;
}

#icons-2-r{
 font-size: 30px;
}

.div-sub-r{
 display: flex;
 gap: 45px;
 justify-content: start;
 margin-left: 40px;
}

.ids-r{
 font-size: 15px;
 font-weight: 10;
}

.div-in2-r{
 width: 300px;
 height: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 60px;
 margin-top: 10px;
}

.div-sub2-r{
 display: flex;
 margin-left: 160px;
}

.ds-r{
 font-size: 15px;
 font-weight: 10;
 margin-top: -32px;
 margin-left: 77px;
}

.ex-r{
 font-size: 15px;
 font-weight: 10;
 margin-top: -29px;
 margin-left: 210px;
}

.trian-r{
 scroll-behavior: smooth;
}


.parte1-r .area-foto-1-r {
 position: relative;
 animation: flutuar 2s ease-in-out infinite alternate;
}
.parte1-r .foto-1-r img{
 position: relative;
 animation: flutuar 2s ease-in-out infinite alternate;
}

.parte1-r .area-foto-2-r {
 position: relative;
 animation: flutuar 2s ease-in-out infinite alternate;
}
.parte1-r .foto-area-r{
 position: relative;
 animation: flutuar 1s ease-in-out infinite alternate;
}

@keyframes flutuar{
 0%{
 top: 0;

 }
 100%{
 top: 30px;
 }
}

