@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
 
/* Reset e estilização básica */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  overflow-x: hidden;
}
 
/* Bolas decorativas */

.bola-azul1{
    position: absolute;
    top: 12%;
    left: -5px;
    z-index: 1;
    
}
 
.bola-azul2{
    position: absolute;
    top: 20%;
    left: 92.7%;
    z-index: 1;
}
 
.bola-azul3{
    position: absolute;
    top: 77.2%;
    left: 88.3%;
    z-index: 1;
}

.box {
    display: flex;
    padding: 140px;
    width: 1750px;
    height: auto;
    background-color: red;
    margin-left: 6%;
    margin: 50px;
    position: relative;
    top: 5px;
    background: rgba(170, 165, 165, 0.17);
    border-radius: 15px;
    backdrop-filter: blur(3px);
    box-shadow: 0 4px 30px rgba(219, 211, 211, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    z-index: 2;
    flex-direction: column;
    
}
 
.title{
  width: 100%;
  background-color: red;
}

.title-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.form-label{
    font-size: 20px;
}


.input-btn {
    display: flex;
    margin: 20px 0;
      left: 30%;
    top: 13%;
    gap: 15px;
}

.form-label {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 23px;
  margin-top: 10px;
}


.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
 


.input-group input {
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 380px;
  height: 50px  ;
  transition: border-color 0.3s ease;
}
 
.input-group input:focus {
  border-color: #003366; /* Cor de foco */
}


.input-group button {
  padding: 13px 20px;
  background-color: #003366;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-group button:hover {
  background-color: #1f21b4; /* Cor ao passar o mouse */
}

 








/* Tabela */
.relatorio {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  background: white;
  
}
 
.relatorio thead tr {
  background-color: #003366;
  color: white;
  text-align: left;
}
 
.relatorio th,
.relatorio td {
  padding: 6px;
  border: 1px solid #ddd;
}
 
.relatorio tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}
 
.relatorio tbody tr:hover {
  background-color: #e9f5ff;
  cursor: pointer;
}
 

.tabela-container {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 500%;
    height: auto;
    position: relative;
    top: 90px;
    
}
   
  /* Barra de rolagem */
.tabela-container::-webkit-scrollbar {
    width: 8px;
}

.tabela-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}
   
.tabela-container::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

/* Status */

/* .status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  display: inline-block;
} */
 
.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: none;
 
}

.status.ativo {
  background-color: #51cf66;
}
 
.status.inativo {
  background-color: #ff6b6b;
}
 

/* Ícone de edição */
.editar {
  font-size: 1.2rem;
}
.editar a{
    color: black;
}


.voltar{
      top: 93%;
    font-size: 1.5rem;
    color: black;
    left: 50px;
}
